{exp:webservice:capacitaciones miembro="{segment_3}"}
    <div class="lista-cursos pr-42 pl-21 mh-42 mh-0-xs mh-0-xs pt-42 mt-14">
      <div class="ph-21 row">
        <span class="col-md-4 fz-18">Periodo</span>
        <p class="col-md-8 fz-17 text-gray-darker">{Periodo}</p>
      </div>
      <div class="ph-21 row">
        <span class="col-md-4 fz-18">Tema</span>
        <p class="col-md-8 fz-17 text-gray-darker">{Tema}</p>
      </div>
      <div class="ph-21 row border-bottom-gray-light">
        <span class="col-md-4 fz-18">Nota</span>
        <p class="col-md-8 fz-17 pb-21 text-gray-darker">{Nota}</p>
      </div>
    </div>
    {if no_results}
      <h4 class="fz-20 mv-28 pl-63">No tiene autocapacitaciones durante los últimos 3 meses.</h4>
    {/if}
{/exp:webservice:capacitaciones}