{if logged_out}
  {redirect="login"}
{/if}

{exp:webservice:tareo mes="{segment_3}" miembro="{segment_4}"}
   <ul id="calendarDay{FechaTareo format='%j'}" class="clearfix pl-7 pv-21 border-bottom-gray-light">
    <li>
      <span class="col-md-4 col-xs-3 fz-18 pl-0-xs text-gray-dark2">Fecha</span><p class="col-md-8 col-xs-9 fz-18 text-gray-darker">{FechaTareo format="%d-%m-%Y"}</p>
    </li>
    <li>
      <span class="col-md-4 col-xs-3 fz-18 pl-0-xs text-gray-dark2">Evento</span><p class="col-md-8 col-xs-9 fz-18 text-gray-darker">{EventoDescripcion}</p>
    </li>
    <li>
      <span class="col-md-4 col-xs-3 fz-18 pl-0-xs text-gray-dark2">Cliente</span><p class="col-md-8 col-xs-9 fz-18 text-gray-darker">{Cliente}</p>
    </li>
    <li>
      <span class="col-md-4 col-xs-3 fz-18 pl-0-xs text-gray-dark2">Cargo</span><p class="col-md-8 col-xs-9 fz-18 text-gray-darker">{Cargo}</p>
    </li>
  </ul>
  <script type="text/javascript">
    $(".fc-date:contains('{FechaTareo format="%j"}')").parent().addClass("{if EventoDescripcion == 'Diurno'}text-info{if:elseif EventoDescripcion == 'Falta'}text-danger{if:elseif EventoDescripcion == 'Noche'}text-info-dark{if:elseif EventoDescripcion == 'Descanso'}text-blue{/if}");
  </script>
{/exp:webservice:tareo}