  <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}frontend/app/assets/js/scripts.min.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/dropdown.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
  <script src="{site_url}frontend/app/assets/js/scroll-control.js"></script>
<!--   // <script src="{site_url}frontend/app/assets/js/aviso-control.js"></script>  
  // <script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
  // <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>  
  // <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script> -->