
  <section id="new_post" class="pokerface hidden"></section>
  <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/dropdown.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
  <script src="{site_url}frontend/app/assets/js/scroll-control.js?v=1"></script>
  <script src="{site_url}frontend/app/assets/js/menu-movil-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/loader-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/fancywebsocket.js"></script>
  <script src="{site_url}frontend/app/assets/js/smooth-scroll.js"></script>
  <script src="{site_url}js/socket?v=1"></script>
  <script>
  	$("#check_semaforo").css("top", "25px");
  </script>
  <script>
  $("#close-banner span").on("click", function(){
    $(".alerta").addClass("hidden");
  });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47123007-3', 'auto');
    ga('send', 'pageview');
  </script>
  <script type='text/javascript'>
  var _vis_opt_account_id = 222368;
  var _vis_opt_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
  document.write('<s' + 'cript src="' + _vis_opt_protocol +
  'dev.visualwebsiteoptimizer.com/deploy/js_visitor_settings.php?v=1&a='+_vis_opt_account_id+'&url='
  +encodeURIComponent(document.URL)+'&random='+Math.random()+'" type="text/javascript">' + '<\/s' + 'cript>');
  </script>

  <script type='text/javascript'>
  if(typeof(_vis_opt_settings_loaded) == "boolean") { document.write('<s' + 'cript src="' + _vis_opt_protocol +
  'd5phz18u4wuww.cloudfront.net/vis_opt_no_jquery.js" type="text/javascript">' + '<\/s' + 'cript>'); }
  // if your site already has jQuery 1.4.2, replace vis_opt.js with vis_opt_no_jquery.js above
  </script>

  <script type='text/javascript'>
  if(typeof(_vis_opt_settings_loaded) == "boolean" && typeof(_vis_opt_top_initialize) == "function") {
          _vis_opt_top_initialize(); vwo_$(document).ready(function() { _vis_opt_bottom_initialize(); });
  }
  </script>