<!doctype html>
<html lang="es">
  <meta charset="utf-8">
  <title>{embed:titulo}</title>
  <meta name="description" content="">
  <meta name="keywords" content=""> 
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{site_url}frontend/app/assets/img/Favicon.png" />
  <link rel="shortcut icon" href="{site_url}frontend/app/assets/img/Favicon.png">
  <link href="{site_url}frontend/app/assets/css/style.css?v=1" rel="stylesheet"> <!-- App styles -->
  <link href="{site_url}frontend/app/assets/css/alertify.core.css" rel="stylesheet">
  <link href="{site_url}frontend/app/assets/css/alertify.default.css" rel="stylesheet">
  <link href="{site_url}frontend/app/assets/css/ebm.css?v=1" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script>