      <div class="overlay-menu ebm-overlay w-100 minhp-100 fixed bg-white hidden-lg hidden-md ph-35">
        <div class="clearfix pt-42 pb-28">
          <div style="background-image:url({site_url}frontend/app/assets/img/Herman_Profile_Pic.png)" class="perfil-menu bg-img-block-center brp-100 float-left"></div>
          <div class="float-left pt-21 pl-21">
            <p class="sans-serif fz-15 light lh-1 mb-0">Hola</p>
            <p class="sans-serif fz-22">{screen_name}</p>
          </div>
        </div>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{path='wall'}">Ir al Inicio</a></p>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{path='perfil/editar'}">Editar Perfil</a></p>
        <!--<p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{path='servicios/estadisticas'}">Ver estadísticas</a></p>-->
        {exp:user:logout return="login"}
          <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{url}">Salir</a></p>
        {/exp:user:logout}
        <form action="" class="pt-28">
          <select name="" id="" class="w-100 mb-14 ph-14">
            <option value="" class="w-100">Lidernet</option>
            <!--<option value="" class="w-100">Lidermanía</option>-->
            <option value="" class="w-100">Préstamos</option>
            <option value="" class="w-100">Tareo</option>
            <option value="" class="w-100">LiderCard</option>
            <option value="" class="w-100">Capacitaciones</option>
            <option value="" class="w-100">Boleta de Pago</option>
            <option value="" class="w-100">SGI</option>
          </select>
          <input type="text" id="search_bar" class="form-control input-sm fz-18 light ph-14" placeholder="Buscar personas, consultas o preguntas...">
        </form>
      </div>