      <div class="overlay-menu ebm-overlay w-100 minhp-100 fixed bg-white hidden-lg hidden-md ph-35">
        <div class="clearfix pt-42 pb-28">
          <div style="background-image: url({exp:member:custom_profile_data}{if photo_filename == null}{site_url}frontend/app/assets/img/Herman_Profile_Pic.png{if:else}{photo_url}{/if}{/exp:member:custom_profile_data})" class="perfil-menu bg-img-block-center brp-100 float-left"></div>
          <div class="float-left pt-21 pl-21">
            <p class="sans-serif fz-15 light lh-1 mb-0">Hola</p>
            <p class="sans-serif fz-22">{screen_name}</p>
          </div>
        </div>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{path='wall/{member_id}'}">Ir al muro</a></p>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{path='perfil/index/{member_id}'}">Mi Perfil</a></p>
        <!--<p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{path='servicios/estadisticas'}">Ver estadísticas</a></p>-->
        {exp:user:logout return="login"}
          <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="{url}">Salir</a></p>
        {/exp:user:logout}
        <form action="" class="pt-28">
          <select name="" id="menu_movil" class="w-100 mb-14 ph-14">
            <option value="{current_url}" class="w-100">Seleccionar Servicio</option>
            <option value="{path='servicios/lidernet/{embed:miembro}'}" class="w-100">Cultura</option>
            <option value="{path='servicios/lidermania/{embed:miembro}'}" class="w-100">Lidermanía</option>
            <option value="{path='servicios/prestamos/{embed:miembro}'}" class="w-100">Orden económico</option>
            <option value="{path='servicios/tareo/{embed:miembro}'}" class="w-100">Tareo</option>
            <option value="{path='servicios/lidercard/{embed:miembro}'}" class="w-100">Valor Agregado</option>
            <option value="{path='servicios/capacitacion/{embed:miembro}'}" class="w-100">Autocapacitaciones</option>
            {if '{exp:parameters:value code="BOLETAS"}' == 'y'}
            <option value="{path='servicios/boleta/{embed:miembro}'}" class="w-100">Boleta de Pago</option>
            {/if}
            {if "{exp:indicators:can_access}" == "1" }
            <option value="{path='servicios/sgi/{embed:miembro}'}" class="w-100">SGI</option>
            {/if}
            {if "{exp:indicators:can_access}" == "1" }
            <option value="{path='indicadores/demograficos/{embed:miembro}'}" class="w-100">Demográficos</option>
            <option value="{path='indicadores/gestion/{embed:miembro}'}" class="w-100">Gestión</option>
            <option value="{path='indicadores/interaccion/{embed:miembro}'}" class="w-100">Interacción</option>
            {/if}
          </select>
          <input type="text" id="search_bar" class="form-control input-sm fz-18 light ph-14" placeholder="Buscar personas, consultas o preguntas...">
        </form>
      </div>

      <script>
        var menu_movil = document.getElementById("menu_movil");
        menu_movil.addEventListener("change", function (e) {
          e.preventDefault();
          var ref = this.value;
          location.href = ref;
        });
      </script>