          <div class="contenedor-menu bg-white pt-35 ph-42">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h2 class="active-slide fz-20 text-gray-dark2 m-0 pt-14 pb-21">Servicios <img src="{site_url}frontend/app/assets/img/FlechaHerman.png" alt="" class="pl-42"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse {embed:in}" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="">
                      <ul id="service_menu" class="p-0 pv-ch-7 light">
                        <script type="text/javascript">
                          var lista = document.getElementById("service_menu");
                          var miembro = "{embed:miembro}";
                          var miembro_actual = "{embed:miembro_actual}";
                          var grupo = "{embed:grupo}";
                          if (miembro == miembro_actual) {
                            lista.innerHTML = 
                                              "<li><a href=\"{path='servicios/lidermania/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidermanía</a></li>"+
                                              {if "{exp:indicators:can_access}" == "1" } 
                                              "<li><a href=\"{path='servicios/sgi/{embed:miembro}'}\" class=\"text-gray-dark2\">SGI</a></li>" +
                                              {/if}
                                              {if '{exp:parameters:value code="BOLETAS"}' == 'y'}
                                              "<li><a href=\"{path='servicios/boleta/{embed:miembro}'}\" class=\"text-gray-dark2\">Boletas de Pago</a></li>" +
                                              {/if}
                                              {if '{exp:parameters:value code="CTS"}' == 'y'}
                                              "<li><a href=\"{path='servicios/cts/{embed:miembro}'}\" class=\"text-gray-dark2\">CTS</a></li>" +
                                              {/if}
                                              {if '{exp:parameters:value code="UTILIDADES"}' == 'y'}
                                              "<li><a href=\"{path='servicios/utilidades/{embed:miembro}'}\" class=\"text-gray-dark2\">Utilidades</a></li>" +
                                              {/if}
                                              "<li class=\"pv-21 btn-especial\">" +
                                                "<h3 class=\"m-0 pv-14\"><a class=\"fz-20 text-gray-dark2 text-hover-gray\">Semáforo</a></h3>" +
                                              "</li>" +
                                              "<li><a href=\"{path='servicios/lidernet/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidernet<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Cultura</p></a></li>" +
                                              "<li><a href=\"{path='servicios/tareo/{embed:miembro}'}\" class=\"text-gray-dark2\">Tareo<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Conducta</p></a></li>" +
                                              "<li><a href=\"{path='servicios/capacitacion/{embed:miembro}'}\" class=\"text-gray-dark2\">Capacitaciones<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Autocapacitaciones</p></a></li>" +
                                              "<li><a href=\"{path='servicios/prestamos/{embed:miembro}'}\" class=\"text-gray-dark2\">Préstamos<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Orden económico</p></a></li>" +
                                              "<li><a href=\"{path='servicios/lidercard/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidercard<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Valor agregado</p></a></li>" +
                                              "<!--<li class=\"pv-21 btn-especial\">" +
                                                "<h3 class=\"m-0\"><a class=\"fz-20 text-gray-dark2 text-hover-gray\">Para zonales</a></h3>" +
                                                "<span>Reportes</span>" +
                                              "</li>-->";
                          } else if(grupo == 6){
                            lista.innerHTML = "<li><a href=\"{path='servicios/lidernet/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidernet</a></li>" +
                                              "<li><a href=\"{path='servicios/lidermania/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidermanía</a></li>"+
                                              "<li><a href=\"{path='servicios/tareo/{embed:miembro}'}\" class=\"text-gray-dark2\">Tareo</a></li>" 
                                              {if '{exp:parameters:value code="BOLETAS"}' == 'y'}
                                                + 
                                              "<li><a href=\"{path='servicios/boleta/{embed:miembro}'}\" class=\"text-gray-dark2\">Boletas de Pago</a></li>"
                                              {/if};
                          };

                          {if "{exp:indicators:can_access}" == "1" }
                            lista.innerHTML += "<h3 class=\"m-0 pv-14\"><a class=\"fz-20 text-gray-dark2 text-hover-gray\">Indicadores</a></h3>" +
                            "<li><a href=\"{path='indicadores/demograficos/{embed:miembro}'}\" class=\"text-gray-dark2\">Demográficos</a></li>" +
                            "<li><a href=\"{path='indicadores/gestion/{embed:miembro}'}\" class=\"text-gray-dark2\">Gestión</a></li>" +
                            "<li><a href=\"{path='indicadores/interaccion/{embed:miembro}'}\" class=\"text-gray-dark2\">Interacción</a></li>" +
                            "<li><a href=\"{path='indicadores/export/{member_id}/10}\" class=\"text-gray-dark2\">Exportar lidermans</a></li>";
                          {/if}

                        </script>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>