          <div class="contenedor-menu bg-white">
            <div class="panel-group relative" id="accordion1" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading bg-info ph-28" role="tab" id="heading1">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="text-not-underline">
                      <h2 class="active-slide fz-22 text-white text-uppercase text-not-underline m-0 pv-14">Boletas de pago <img src="{site_url}frontend/app/assets/img/flecha-para-abajo.png" alt="" class="pt-7 pull-right"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse ph-28" role="tabpanel" aria-labelledby="heading1">
                  <div class="panel-body">
                    <ul id="link_boleta" class="p-0 pv-ch-7 light fz-17">
                    </ul>
                  </div> 
                </div>
              </div>
            </div>
            {if "{segment_2}" == "lidermania"}
            <div class="panel-group2" id="accordion2" role="tablist" aria-multiselectable="true" data-segment="{segment_2}">
              <div class="panel panel-default">
                <div class="panel-heading bg-danger ph-28" role="tab" id="heading2">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                      <h2 class="active-slide fz-22 text-white text-uppercase text-not-underline m-0 pv-14">Lidermanía <img src="{site_url}frontend/app/assets/img/flecha-para-abajo.png" alt="" class="pt-7 pull-right rotate-180"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in ph-28" role="tabpanel" aria-labelledby="heading2">
                  <div class="panel-body">
                    <div class="">
                      <ul id="lidermania_menu" class="p-0 light fz-17 pt-7"> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {if:else}
            <div id="lidermania_link" class="bg-danger ph-28 panel-group">  
            </div>
            {/if}
            {if "{exp:indicators:can_access}" == "1" }
            <div class="panel-group3" id="accordion3" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading bg-danger ph-28" role="tab" id="heading3">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                      <h2 class="active-slide fz-22 text-white text-uppercase text-not-underline m-0 pv-14">Indicadores <img src="{site_url}frontend/app/assets/img/flecha-para-abajo.png" alt="" class="pt-7 pull-right"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse ph-28" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body">
                    <ul id="indicadores_menu" class="p-0 pv-ch-7 light fz-17"> 
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            {/if}
            <div class="panel-group4" id="accordion4" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading bg-danger ph-28" role="tab" id="heading4">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse4" aria-expanded="true" aria-controls="collapseTwo">
                      <h2 class="active-slide fz-22 text-white text-uppercase text-not-underline m-0 pv-14">Tu semáforo <img src="{site_url}frontend/app/assets/img/flecha-para-abajo.png" alt="" class="pt-7 pull-right"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse ph-28" role="tabpanel" aria-labelledby="heading4">
                  <div class="panel-body">
                    <ul id="semaforo_menu" class="p-0 pv-ch-7 light fz-17"> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {if "{exp:indicators:can_access}" == "1" }
            <div class="panel-group5" id="accordion5" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading bg-danger ph-28" role="tab" id="heading5">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                      <h2 class="active-slide fz-22 text-white text-uppercase text-not-underline m-0 pv-14">sgi <img src="{site_url}frontend/app/assets/img/flecha-para-abajo.png" alt="" class="pt-7 pull-right"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse ph-28" role="tabpanel" aria-labelledby="heading5">
                  <div class="panel-body">
                    <ul id="sgi_menu" class="p-0  light fz-17">
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {/if}
          </div>
          <script type="text/javascript">
            {if "{segment_2}" == "lidermania"}
            var lista = document.getElementById("lidermania_menu");
            {if:else}
            var linkLidermania = document.getElementById("lidermania_link");
            {/if}
            var lista2 = document.getElementById("indicadores_menu");
            var lista3 = document.getElementById("semaforo_menu");
            var lista4 = document.getElementById("sgi_menu");
            var boleta = document.getElementById("link_boleta");
            var miembro = "{embed:miembro}";
            var miembro_actual = "{embed:miembro_actual}";
            var grupo = "{embed:grupo}";
            if (miembro == miembro_actual) {
              {if "{segment_2}" == "lidermania"}
              lista.innerHTML =
                "<li>"+
                  "<div class=\"panel-group10\" id=\"accordion10\" role=\"tablist\" aria-multiselectable=\"true\" category-data=\"10\" data-parent=\"{parent_id}\">"+
                    "<div class=\"panel panel-default\">"+
                      "<div class=\"panel-heading\" role=\"tab\" id=\"heading10\">"+
                        "<h4 class=\"panel-title m-0\">"+
                          "<a role=\"button\" data-toggle=\"collapse\" data-parent=\"#accordion10\" href=\"#collapse10\" aria-expanded=\"true\" aria-controls=\"collapse10\" class=\"text-not-underline\">"+
                            "<h2 class=\"active-slide fz-17 light text-gray-dark2 text-not-underline m-0 pv-7 border-bottom-gray-lighter\">Ama el trato <img src=\"{site_url}frontend/app/assets/img/Flecha_Abajo.png\" class=\"pt-7 pull-right\"></h2>"+
                          "</a>"+
                        "</h4>"+
                      "</div>"+
                      "<div id=\"collapse10\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"heading6\">"+
                        "<div class=\"panel-body\">"+
                          "<ul id=\"include_items\" class=\"p-0 pv-ch-7 light fz-17\">"+
                            {exp:categories:child_list category_group="4" parent_id="16"}
                            "<li class=\"\"><a href=\"\" class=\"text-gray-light link-menu\" data-cat-id=\"{cat_id}\">{cat_name}</a></li>" +
                            {/exp:categories:child_list}
                          "</ul>"+
                        "</div>"+
                      "</div>"+    
                    "</div>"+
                  "</div>"+
                "</li>"+
                "<li>"+
                  "<div class=\"panel-group11\" id=\"accordion11\" role=\"tablist\" aria-multiselectable=\"true\" category-data=\"11\" data-parent=\"{parent_id}\">"+
                    "<div class=\"panel panel-default\">"+
                      "<div class=\"panel-heading\" role=\"tab\" id=\"heading11\">"+
                        "<h4 class=\"panel-title m-0\">"+
                          "<a role=\"button\" data-toggle=\"collapse\" data-parent=\"#accordion11\" href=\"#collapse11\" aria-expanded=\"true\" aria-controls=\"collapse11\" class=\"text-not-underline\">"+
                            "<h2 class=\"active-slide fz-17 light text-gray-dark2 text-not-underline m-0 pv-7 border-bottom-gray-lighter\">Ama el crecimiento <img src=\"{site_url}frontend/app/assets/img/Flecha_Abajo.png\" class=\"pt-7 pull-right\"></h2>"+
                          "</a>"+
                        "</h4>"+
                      "</div>"+
                      "<div id=\"collapse11\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"heading6\">"+
                        "<div class=\"panel-body\">"+
                          "<ul id=\"include_items\" class=\"p-0 pv-ch-7 light fz-17\">"+
                            {exp:categories:child_list category_group="4" parent_id="17"}
                            "<li class=\"\"><a href=\"\" class=\"text-gray-light link-menu\" data-cat-id=\"{cat_id}\">{cat_name}</a></li>" +
                            {/exp:categories:child_list}
                          "</ul>"+
                        "</div>"+
                      "</div>"+    
                    "</div>"+
                  "</div>"+
                "</li>"+
                "<li>"+
                  "<h3 class=\"m-0\"><a href=\"\" class=\"fz-17 text-gray-dark2 light text-hover-gray-dark link-menu l-category\" data-cat-id=\"18\">Ama el pago</a></h3>"+
                "</li>";
              {if:else}
              linkLidermania.innerHTML=
                "<div class=\"fz-22 text-white text-uppercase text-not-underline m-0 pv-14\"><a href=\"{path='servicios/lidermania/{embed:miembro}'}\">Lidermania</a></div>";
              {/if}
              lista3.innerHTML =
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/lidernet/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidernet<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Cultura</p></a></li>" +
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/tareo/{embed:miembro}'}\" class=\"text-gray-dark2\">Tareo<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Conducta</p></a></li>" +
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/capacitacion/{embed:miembro}'}\" class=\"text-gray-dark2\">Capacitaciones<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Autocapacitaciones</p></a></li>" +
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/prestamos/{embed:miembro}'}\" class=\"text-gray-dark2\">Préstamos<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Orden económico</p></a></li>" +
                "<li><a href=\"{path='servicios/lidercard/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidercard<p class=\"text-uppercase fz-12 mb-0 sans-serif\">Valor agregado</p></a></li>";
              {if "{exp:indicators:can_access}" == "1" }
              lista4.innerHTML =
                {exp:channel:categories channel="SGI" style="linear" parent_only="yes"}
                  {if "{category_description}" != ""}
                  "<li>"+
                    "<div class=\"panel-group{category_id}-movil\" id=\"accordion{category_id}\" role=\"tablist\" aria-multiselectable=\"true\" category-data=\"{category_id}\" data-parent=\"{parent_id}\">"+
                      "<div class=\"panel panel-default\">"+
                        "<div class=\"panel-heading\" role=\"tab\" id=\"heading{category_id}\">"+
                          "<h4 class=\"panel-title m-0\">"+
                            "<a role=\"button\" data-toggle=\"collapse\" data-parent=\"#accordion{category_id}\" href=\"#collapse{category_id}\" aria-expanded=\"true\" aria-controls=\"collapse{category_id}\">"+
                              "<h2 class=\"active-slide fz-16 light text-gray-dark2 text-not-underline m-0 pv-14\">{category_name} <img src=\"{site_url}frontend/app/assets/img/Flecha_Abajo.png\" class=\"pt-7 pull-right\"></h2>"+
                            "</a>"+
                          "</h4>"+
                        "</div>"+
                        "<div id=\"collapse{category_id}\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"heading6\">"+
                          "<div class=\"panel-body\">"+
                            "<ul id=\"include_items\" class=\"p-0 pv-ch-7 light fz-17\">"+
                            {embed='includes/subcategoria' categorydata='{category_id}'}
                            "</ul>"+
                          "</div>"+
                        "</div>"+    
                      "</div>"+
                    "</div>"+
                  "</li>"+
                  {if:else}
                  "<li class=\"border-bottom-gray-lighter pv-7\"><a href=\"{path='servicios/sgi/{embed:miembro}/category/{category_id}/{category_name}'}\" data=\"{parent_id}\" class=\"text-gray-dark2\">{category_name}</a></li>"+
                  {/if}
                {/exp:channel:categories}
                "<li></li>";
              {/if}
              boleta.innerHTML =
                {if '{exp:parameters:value code="BOLETAS"}' == 'y'}
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/boleta/{embed:miembro}'}\" class=\"text-gray-dark2\">Boletas</a></li>" +
                {/if}    
                {if '{exp:parameters:value code="CTS"}' == 'y'}
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/cts/{embed:miembro}'}\" class=\"text-gray-dark2\">CTS</a></li>" +
                {/if}
                {if '{exp:parameters:value code="UTILIDADES"}' == 'y'}
                "<li><a href=\"{path='servicios/utilidades/{embed:miembro}'}\" class=\"text-gray-dark2\">Utilidades</a></li>" +
                {/if}"";
            } else if(grupo == 6){
              {if "{segment_2}" == "lidermania"}
                lista.innerHTML = "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/lidernet/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidernet</a></li>" +
                                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/lidermania/{embed:miembro}'}\" class=\"text-gray-dark2\">Lidermanía</a></li>"+
                                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='servicios/tareo/{embed:miembro}'}\" class=\"text-gray-dark2\">Tareo</a></li>" 
                                {if '{exp:parameters:value code="BOLETAS"}' == 'y'}
                                  + 
                                "<li><a href=\"{path='servicios/boleta/{embed:miembro}'}\" class=\"text-gray-dark2\">Boletas de Pago</a></li>"
                                {/if};
              {/if}
            }
            {if "{exp:indicators:can_access}" == "1" }
              lista2.innerHTML += 
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='indicadores/demograficos/{embed:miembro}'}\" class=\"text-gray-dark2\">Demográficos</a></li>" +
                "<li class=\"border-bottom-gray-lighter\"><a href=\"{path='indicadores/gestion/{embed:miembro}'}\" class=\"text-gray-dark2\">Gestión</a></li>" +
                "<li><a href=\"{path='indicadores/interaccion/{embed:miembro}'}\" class=\"text-gray-dark2\">Interacción</a></li>" +
                "<li><a href=\"{path='indicadores/export/{member_id}/10}\" class=\"text-gray-dark2\">Exportar lidermans</a></li>";
            {/if}
          </script>