{exp:member:custom_profile_data member_id="{embed:miembro}"}
<div class="perfil-servicios clearfix bg-white pt-21 pb-42 ph-21 ph-7-xs">
  <div class="clearfix relative">
    <img src="{site_url}frontend/app/assets/img/Copita.png" alt="" class="img-premium opacity-active hidden-xs hidden-sm">
    <img src="{site_url}frontend/app/assets/img/Estrella.png" alt="" class="img-destacado opacity-active hidden-xs hidden-sm">
    <div class="col-md-4 pr-0 pt-21 pl-0-xs">
      <div style="background-image:url({if photo_filename == null}{site_url}frontend/app/assets/img/Herman_Profile_Pic.png{if:else}{photo_url}{/if}); z-index:1" class="bg-img-block-center relative"></div>
    </div>
    <img src="{site_url}frontend/app/assets/img/icon_copa_huge.png" alt="" class="premium-resp relative hidden-lg hidden-md opacity-active" style="top:-25px; right:-22px">
    <img src="{site_url}frontend/app/assets/img/Icon_estrella_huge.png" alt="" class="destacado-resp relative hidden-lg hidden-md opacity-active" style="top:-25px; right:21px">
    <div class="col-md-8 pl-28 pt-14 hidden-xs hidden-sm">
      <h3 class="text-primary book m-0 display-ib pr-14 fz-30">{nombres}</h3> 
      <h3 class="book m-0 display-ib pr-14 fz-20">{apellidos}</h3>
      <h4 class="text-gray fz-16 m-0 pv-7 book">DNI {dni}</h4>
      <a id="edit_profile" href="{path='perfil/editar/{member_id}'}"> 
        <span class="fz-16 text-gray light">Editar</span>
        <img src="{site_url}frontend/app/assets/img/Icono_Editar.png" alt="">
      </a>
      <h4 class="text-gray fz-16 m-0 pv-7 book">{if cargo == ""}Cargo{if:else}{cargo}{/if}, {if zona == ""}Zona{if:else}{zona}{/if} - {if unidad == ""}Unidad{if:else}{unidad}{/if}</h4>
      <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
      <span class="light">{if empresa-empleadora == ""}Liderman{if:else}{empresa-empleadora}{/if}</span>
      <p class="fz-12 pt-21">{if introduccion == ""}Este puede ser texto de Introducción del Liderman para que la gente sepa quién es esa persona.{if:else}{introduccion}{/if}</br>Periodo en la Planilla: {if periodo-planilla == ""}DD/MM/AA{if:else}{periodo-planilla}{/if} meses</p>
    </div>
    <div class="col-md-8 ph-0 hidden-lg hidden-md">
      <h3 class="text-primary book m-0 display-ib pr-14 fz-35 pr-0-xs">{nombres}</h2> 
      <a id="edit_profile" href="{path='perfil/editar/{member_id}'}"> 
        <span class="fz-12 text-gray light">Editar</span>
        <img src="{site_url}frontend/app/assets/img/Icono_Editar.png" alt="">
      </a>
      <h4 class="text-gray fz-21 m-0 pt-7 pb-14 book">{if cargo == ""}Cargo{if:else}{cargo}{/if}, {if zona == ""}Zona{if:else}{zona}{/if} - {if unidad == ""}Unidad{if:else}{unidad}{/if}</h4>
      <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
      <span class="light fz-20">{if empresa-empleadora == ""}Liderman{if:else}{empresa-empleadora}{/if}</span>
      <p class="fz-17 pt-21 lh-1-5">{if introduccion == ""}Este puede ser texto de Introducción del Liderman para que la gente sepa quién es esa persona.{if:else}{introduccion}{/if}</p>
      <p class="fz-17 lh-1-5">Periodo en la Planilla: {if periodo-planilla == ""}DD/MM/AA{if:else}{periodo-planilla}{/if} meses</p>
    </div>
    <div class="resumen-semaforo pt-14 clearfix">
      <div class="col-md-8 col-md-offset-4 pl-28">
        <h4 class="text-gray fz-16 m-0 pt-7 book pb-14">Semáforo General</h4>
        <div class="col-md-4 col-xs-6 col-md-offset-0 col-xs-offset-3 pl-0 pl-21-xs text-left">
          <ul class="pl-0 thin fz-13 mb-0-xs">
              {exp:webservice:semaforolidernet}
              <div class="circulo-semaforo brp-100 display-ib mr-7 {if semaforo}bg-info{if:else}bg-primary{/if}"></div>
              {/exp:webservice:semaforolidernet}
              <a href="{path='servicios/lidernet}/{member_id}" class="text-gray-dark semaforo">Cultura</a>
            </li>
            <li>
              {exp:webservice:semaforoprestamo}
              <div class="circulo-semaforo brp-100 display-ib mr-7 {if semaforo}bg-info{if:else}bg-primary{/if}"></div>
              {/exp:webservice:semaforoprestamo}
              <a href="{path='servicios/prestamos}/{member_id}" class="text-gray-dark semaforo">Orden económico</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-6 col-md-offset-0 col-xs-offset-3 pl-0 pl-21-xs text-left">
          <ul class="pl-0 thin fz-13 mb-0-xs">
            <li>
              {exp:webservice:semaforotareo}
              <div class="circulo-semaforo brp-100 display-ib mr-7 {if semaforo}bg-info{if:else}bg-primary{/if}"></div>
              {/exp:webservice:semaforotareo}
              <a href="{path='servicios/tareo}/{member_id}" class="text-gray-dark semaforo">Tareo</a>
            </li>
            <li>
              {exp:webservice:semaforolidercard}
              <div class="circulo-semaforo brp-100 display-ib mr-7 {if semaforo}bg-info{if:else}bg-primary{/if}"></div>
              {/exp:webservice:semaforolidercard}
              <a href="{path='servicios/lidercard}/{member_id}" class="text-gray-dark semaforo">Valor agregado</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-6 col-md-offset-0 col-xs-offset-3 pl-0 pl-21-xs text-left">
          <ul class="pl-0 thin fz-13 mb-0-xs">
            <li>
              {exp:webservice:semaforocapacitaciones}
              <div class="circulo-semaforo brp-100 display-ib mr-7 {if semaforo}bg-info{if:else}bg-primary{/if}"></div>
              {/exp:webservice:semaforocapacitaciones}
              <a href="{path='servicios/capacitacion}/{member_id}" class="text-gray-dark semaforo absolute">Autocapacitaciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{/exp:member:custom_profile_data}
{embed="includes/alerta-publicaciones"}
<script type="text/javascript">
  var member_search = "{embed:miembro}";
  var current_member = "{embed:miembro_actual}";
  var edit_profile = document.getElementById("edit_profile");
  if (member_search != current_member) {
    if (edit_profile != null) {
      edit_profile.classList.add("hidden");
    }
    var services = document.getElementsByClassName("semaforo");
    if (services != null) {
      for (var i = services.length - 1; i >= 0; i--) {
        services[i].removeAttribute("href");
      }
    }
  } 
  window.addEventListener("load", function() {
    var status_form = document.getElementById("status_form");
    if (status_form != null) {
      if (member_search != current_member) {
        status_form.classList.add("hidden");
      }
    }; 
  });
</script>