<footer>
  <div class="w-100 pt-28-xs">
    <div class="audio-video absolute" style="background-color:black">
      <a href="">
        <div class="video display-ib text-center">
          <span class="text-white light">VIDEO</span>
        </div>
      </a>
      <a href="">
        <div class="audio display-ib text-center">
          <span class="text-white light">AUDIO</span>
        </div>
      </a>
    </div>
    <div id="up" class="text-center ">
      <a href=""><img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt=""></a>
    </div>
    <div class="container pt-21 pb-42"> 
      <div class="row">
        <div class="col-md-9 col-xs-12 pl-0">
          <div class="col-md-1 col-xs-2 pl-0 text-right"><img src="{site_url}frontend/app/assets/img/Wall/Icono_Senal.png" alt="" class="antena"></div>
          <div class="col-md-8 col-xs-9 p-0">
            <h5 class="text-uppercase m-0">AHORA EN VIVO</h5>
            {exp:channel:entries channel="radio_programacion" search:al_aire_programa="Si" limit="1"}
            <h4 class="text-uppercase m-0 text-white fz-22">{title}</h4>
            <p class="text-gray-lighter m-0 fz-12">{nombre_programa}. {horario_programa}</p>
            {/exp:channel:entries}
          </div>
        </div> 
        <div class="col-md-3 pr-35 text-right {embed:clase}">
          <a href=""><img class="pt-14 volumen" src="{site_url}frontend/app/assets/img/Wall/Icono_Volumen.png" alt=""></a> 
        </div>
      </div>
      <div class="descripcion row pt-14 pb-42 pb-0-xs">
        <div class="col-md-6 hidden-xs hidden-sm">
          <!-- <img src="{site_url}frontend/app/assets/img/Wall/RadioUrbe.png" alt=""> -->
          <!-- Audio -->
          <iframe scrolling="No" frameborder="0" height=“285” src="http://www.wklivehost.info/playersjw/radiourberadio/radiourbeaudio285.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe> 
          <!-- Video -->
          <iframe class="hidden" scrolling="No" frameborder="0" height="285" src="http://www.wklivehost.info/playersjw/radiourbe/radiourbev2.html" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe>
        </div>
        <div class="col-md-6 col-xs-12 pl-42">
          <ul class="lista text-white pt-7 ml-14">
            {exp:channel:entries channel="radio_programacion" search:al_aire_programa="No" limit="5"}
            <li class="text-white">
              <h2 class="fz-1">{title}</h2>
              <p class="text-gray-lighter">{nombre_programa}. {horario_programa}</p>
            </li>
            <li>
            {/exp:channel:entries}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>