<footer class="relative" style="z-index:1">
  <div class="w-100 pt-7-xs ph-42-xs">
    <div id="up" class="text-center ph-21 pv-7 ph-28-xs pv-14-xs" style="cursor:pointer">
      <img src="{site_url}frontend/app/assets/img/Wall/Icono_Senal.png" alt="" class="mb-7 mr-7" style="width:16px">
      <span class="text-white light">RADIO URBE</span>
      <img src="{site_url}frontend/app/assets/img/flecha-para-abajo.png" alt="" class="flecha-down pl-7 hidden" style="margin-bottom: 4px">
      <img src="{site_url}frontend/app/assets/img/flecha-para-arriba.png" alt="" class="flecha-up pl-7" style="margin-bottom: 4px">
    </div>
    <div class="container pb-42"> 
      <div class="row">
        <div class="col-md-9 col-xs-12 pl-0">
          <div class="col-md-1 col-xs-2 pl-0 text-right"><img src="{site_url}frontend/app/assets/img/Wall/Icono_Senal.png" alt="" class="antena"></div>
          <div class="col-md-8 col-xs-9 p-0">
            <h5 class="text-uppercase m-0">AHORA EN VIVO</h5>
            {exp:channel:entries channel="radio_programacion" search:al_aire_programa="Si" limit="1"}
            <h4 class="text-uppercase m-0 text-white fz-22">{title}</h4>
            <p class="text-gray-lighter m-0 fz-12">{nombre_programa}. {horario_programa}</p>
            {/exp:channel:entries}
          </div>
        </div> 
        <div class="col-md-3 pr-35 text-right {embed:clase}">
          <a href="" class="hidden"><img class="pt-14 volumen" src="{site_url}frontend/app/assets/img/Wall/Icono_Volumen.png" alt=""></a> 
        </div>
      </div>
      <div class="descripcion row pt-14 pb-42 pb-0-xs" style="height: 280px;">
        <div class="col-md-6 ph-0-xs">
          <!-- <img src="{site_url}frontend/app/assets/img/Wall/RadioUrbe.png" alt=""> -->
          <!-- Audio -->
          <iframe class="audio" scrolling="No" frameborder="0" height="285" src="//livestream.com/accounts/7114968/events/5138511/player?width=560&height=315&autoPlay=false&mute=false" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe>
          <script type="text/javascript" data-embed_id="ls_embed_1459993292" src="//livestream.com/assets/plugins/referrer_tracking.js"></script>
          <!-- Video -->
          <iframe class="video hidden" scrolling="No" frameborder="0" height="285" src="//livestream.com/accounts/7114968/events/5138511/player?width=560&height=315&autoPlay=false&mute=false" width="100%"> Texto alternativo para navegadores que no aceptan iframes </iframe>
          <script type="text/javascript" data-embed_id="ls_embed_1459993292" src="//livestream.com/assets/plugins/referrer_tracking.js"></script>
        </div>
        <div class="col-md-6 col-xs-12 pl-42 hidden-xs hidden-sm">
          <ul class="lista text-white pt-7 ml-14">
            {exp:channel:entries channel="radio_programacion" search:al_aire_programa="No" limit="5"}
            <li class="text-white">
              <h2 class="fz-1">{title}</h2>
              <p class="text-gray-lighter">{nombre_programa}. {horario_programa}</p>
            </li>
            {/exp:channel:entries}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>