            <div class="semaforo-movil bg-info border-radius clearfix hidden-lg hidden-md w-100 ph-14 pv-21"><!--movil-->
              <a href="" class="more clearfix">
                <div class="col-xs-1 ph-0 text-center">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-xs-10 pr-0">
                  <h3 class="fz-26 thin m-0 text-white lh-1-5">Tu estado está en verde!</h3>
                </div>
              </a>
              <div class="col-xs-11 col-xs-offset-1 serif pr-7 pt-21 texto-semaforo text-white light hidden">
                Anim pariatur cliche repre henderit, enim eiusmod high life accusamus terry richardson ad.
              </div>
            </div>