{if {exp:webservice:semaforotareo mes="8"} == 1}
  	<div class="semaforo clearfix bg-info border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
  		<div class="col-md-1 text-center pl-0">
	    <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
	  </div>
	  <div class="col-md-11 pb-7 pr-28 pl-14">
	    <h3 class="fz-20 mb-7">Tu semáforo está en verde!</h3>
	    <p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>
	  </div>
	</div>
{if:else}
	{exp:webservice:semaforotareo mes="8"}
 	<div class="semaforo clearfix bg-primary border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
 		<div class="col-md-1 text-center pl-0">
	    <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
	  </div>
	  <div class="col-md-11 pb-7 pr-28 pl-14">
	    <h3 class="fz-20 mb-7">Tu semáforo está en rojo!</h3>
	    <p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>
	  </div>
	</div>
{/if}