{embed="includes/head"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content pb-42 mb-42-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          {embed="includes/nav-secciones" in="in"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div class="boleta">
              <h2 class="fz-30 border-bottom-gray pb-7 pt-21 text-gray-darker">Boleta de pagos</h2>
              <div class="datos bg-white minh-140 pv-42 ph-35 mt-42 ph-14-xs pv-28-xs">
                <div class="ph-14 clearfix ph-7-xs">
                  <span class="fz-18 text-gray-darker pr-7-xs">Buscar el periodo</span>
                  <div class="select-group display-ib ml-21 ml-7-xs">
                    <div class="display-ib text-center ph-7 relative">
                      <select name="" id="monthCollection" class="text-gray-darker borderless relative">
                        <option value="0" class="fz-14">En</option>
                        <option value="1" class="fz-14">Feb</option>
                        <option value="2" class="fz-14">Mar</option>
                        <option value="3" class="fz-14">Abr</option>
                        <option value="4" class="fz-14">May</option>
                        <option value="5" class="fz-14">Jun</option>
                        <option value="6" class="fz-14">Jul</option>
                        <option value="7" class="fz-14">Agos</option>
                        <option value="8" class="fz-14">Set</option>
                        <option value="9" class="fz-14">Oct</option>
                        <option value="10" class="fz-14">Nov</option>
                        <option value="11" class="fz-14">Dic</option>
                      </select>
                      <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="">
                    </div>
                    <div class="display-ib text-center ph-7 relative ml-14 ml-7-xs">
                      <select name="" id="yearCollection" class="text-gray-darker borderless relative">
                      </select>
                      <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="absolute">
                    </div>
                  </div>
                  <div class="imprimir btn btn-gray-darker light hidden-xs hidden-sm">
                    <img src="{site_url}frontend/app/assets/img/Imprimir_Icon.png" alt="" class="pr-7">
                    <span>IMPRIMIR</span>
                  </div>
                    <h3 class="text-gray-darker pt-35 fz-23 lh-1-5 pt-14-xs">Resultados del tareo del mes de mayo de 2015</h3>
                    <div id="cabecera_boleta" class="clearfix">
                    </div>
                    
                    <div class="total row hidden-xs hidden-sm">
                      <h4 class="bold text-gray-light col-md-8 fz-22">Neto a Pagar</h4>
                      <h4 class="bold text-gray-light col-md-3 fz-22">0.00</h4>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed="includes/radio-urbe"}
  </div>
  {embed=includes/footer}
  <script>
      var currentMonth = new Date().getMonth();
      document.getElementById("monthCollection").value = currentMonth;
      var currentYear = new Date().getFullYear();
      var yearCollection = document.getElementById("yearCollection");
      var html = "";
      for (var i = 0; i <= 10; i++) {
        html += "<option value='" + (currentYear-i) + "' class='fz-14'>" + (currentYear-i) + "</option>";
      };
      yearCollection.innerHTML = html;
  </script>
  <script>
    function updateData() {
      var year = parseInt($("#yearCollection").val());
      var month = parseInt($("#monthCollection").val()) + 1;

      if (month.toString().length == 1) { month = "0" + month};

      $.ajax({
        type: 'GET',
        url: '{site_url}ws/boleta/' + year + month,
        success: function(data) {
          $("#cabecera_boleta").html(data);
        }
      });
    }
    $( '#monthCollection' ).on( 'change', function(e) {
      updateData();
    });
    $( '#yearCollection' ).on( 'change', function(e) {
      updateData();
    });
    updateData();
  </script>
</html>