{if logged_out}
  {redirect="login"}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Boletas de Pago"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main" acceso_directo="Ir al inicio" link="{site_url}wall"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed="includes/nav-secciones" in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-0-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios miembro="{segment_3}" miembro_actual="{member_id}"}
            {embed=includes/semaforo-movil}
            <div class="boleta">
              <h2 class="fz-30 border-bottom-gray pb-7 pt-21 text-gray-darker">Boleta de pagos</h2>
              <div class="datos bg-white minh-140 pv-42 ph-35 mt-42 ph-14-xs pv-28-xs">
                <div class="ph-14 clearfix ph-7-xs">
                  <span class="fz-18 text-gray-darker pr-7-xs">Buscar el periodo</span>
                  <div class="select-group display-ib ml-21 ml-7-xs">
                    <div class="display-ib text-center ph-7 relative">
                      <select name="" id="monthCollection" class="text-gray-darker borderless relative">
                        <option value="0" class="fz-14">En</option>
                        <option value="1" class="fz-14">Feb</option>
                        <option value="2" class="fz-14">Mar</option>
                        <option value="3" class="fz-14">Abr</option>
                        <option value="4" class="fz-14">May</option>
                        <option value="5" class="fz-14">Jun</option>
                        <option value="6" class="fz-14">Jul</option>
                        <option value="7" class="fz-14">Agos</option>
                        <option value="8" class="fz-14">Set</option>
                        <option value="9" class="fz-14">Oct</option>
                        <option value="10" class="fz-14">Nov</option>
                        <option value="11" class="fz-14">Dic</option>
                      </select>
                      <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="">
                    </div>
                    <div class="display-ib text-center ph-7 relative ml-14 ml-7-xs">
                      <select name="" id="yearCollection" class="text-gray-darker borderless relative">
                      </select>
                      <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="absolute">
                    </div>
                  </div>
                  <div class="imprimir btn btn-gray-darker light hidden-xs hidden-sm">
                    <a id="print_bill" href="{path='servicios/boleta-impresa'}" target="_blank" class="text-white">
                      <img src="{site_url}frontend/app/assets/img/Imprimir_Icon.png" alt="" class="pr-7">
                      <span>IMPRIMIR</span>
                    </a>
                  </div>
                    <h3 class="text-gray-darker pt-35 fz-23 lh-1-5 pt-14-xs">Resultados de la boleta de pago del mes de <span id="currentMonth"></span> de <span id="currentYear"></span></h3>
                    <div id="cabecera_boleta" class="clearfix">
                    </div>
                    <div class="total clearfix hidden-xs hidden-sm ph-21 mt-42">
                      <h4 class="text-gray-darker light col-md-9 fz-20 mv-0 pv-14">Neto a Pagar</h4>
                      <h4 class="text-gray-darker light col-md-3 fz-20 mv-0 pv-14"><span id="neto"></span></h4>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed="includes/radio-urbe"}
  </div>
  {embed=includes/footer}
  <script>
    var currentMonth = new Date().getMonth();
    document.getElementById("monthCollection").value = currentMonth;
    var currentYear = new Date().getFullYear();
    var yearCollection = document.getElementById("yearCollection");
    var html = "";
    for (var i = 0; i <= 10; i++) {
      html += "<option value='" + (currentYear-i) + "' class='fz-14'>" + (currentYear-i) + "</option>";
    };
    yearCollection.innerHTML = html;
  </script>
  <script>
    function updateData() {
      var months = [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre' ];
      var year = parseInt($("#yearCollection").val());
      var month = parseInt($("#monthCollection").val());

      $("#currentMonth").text(months[month]);
      $("#currentYear").text(year);

      month++;

      if (month.toString().length == 1) { month = "0" + month};

      $.ajax({
        type: 'GET',
        url: '{site_url}ws/boleta/' + year + month + '/{segment_3}',
        success: function(data) {
          $("#cabecera_boleta").html(data);
        }
      });
    }
    $( '#monthCollection' ).on( 'change', function(e) {
      updateData();
    });
    $( '#yearCollection' ).on( 'change', function(e) {
      updateData();
    });
    updateData();
  </script>
  <script>
    $("#print_bill").click(function(e) {
      var year = parseInt($("#yearCollection").val());
      var month = parseInt($("#monthCollection").val()) + 1;
      if (month.toString().length == 1) { month = "0" + month};
      var url = '{site_url}servicios/boleta-impresa/' + year + month + '/{segment_3}'
      $("#print_bill").attr("href", url);
    });
  </script>
</html>