{if logged_out}
  {redirect="login"}
{if:else}

  {exp:redirect:redirect_user_lidermania}

  {if member_id != segment_3 && '{exp:parameters:chateadora_can_view member_id="{segment_3}"}' != "1"}
    {redirect="wall"}
  {/if}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Capacitaciones"}
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}wall"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="capacitaciones-contenido" class="col-md-8 pb-42 ph-7-xs">
          <div class="container pt-42 w-100 ph-0">
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">Capacitaciones</h2></div>
            {exp:webservice:semaforocapacitaciones member="{segment_3}"}
              <div class="semaforo clearfix {if semaforo}bg-info{if:else}bg-primary{/if} border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                  <div id="check_semaforo" class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pr-28 pl-14">
                  <h3 class="fz-20 mv-28">Tu estado está en {if semaforo}verde{if:else}rojo{/if}!</h3>
                </div>
              </div>
            {/exp:webservice:semaforocapacitaciones}
            <div><h2 class="fz-26 pb-7 text-gray-darker pt-21">Módulos</h2></div>
            <div class="capacitaciones mt-35">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {exp:capacitaciones:load_months}
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading-{date_month}-{date_year}">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{date_month}-{date_year}" aria-expanded="false" aria-controls="collapse-{date_month}-{date_year}">
                        {exp:util:get_month_name month="{date_month}"} {date_year}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-{date_month}-{date_year}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{date_month}-{date_year}">
                    <div class="panel-body">
                      <ul>
                        {exp:capacitaciones:load_capacitaciones_by_month_and_year month="{date_month}" year="{date_year}" }
                        <li class="capacitacion">
                          <span class="tipo">{if "{presencial}"=="0"}Virtual{if:else}Presencial{/if}</span>
                          <span class="porcentaje">100%</span>
                          <div class="title-box">
                            {if "{presencial}"=="0"} <a href="{site_url}servicios/curso/{id}"> {/if}
                              <h3 class="fz-18 m-0">{nombre}</h3>
                            {if "{presencial}"=="0"} </a> {/if}
                          </div>
                        </li>
                        {/exp:capacitaciones:load_capacitaciones_by_month_and_year}
                      </ul>
                    </div>
                  </div>
                </div>
                {/exp:capacitaciones:load_months}
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
</html>