{embed=includes/head}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main}
    <main class="site-content pb-42 mb-42-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          {embed=includes/nav-secciones in="in"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-7-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">Capacitaciones</h2></div>
            {embed=includes/semaforo}
            <div class="capacitacion mt-35">
              <div class="datos bg-white pv-42 pt-0-xs border-radius">
                <div class="pl-42 pb-14 border-bottom-gray-lighter hidden-xs hdden-sm">
                  <span class="fz-20 pl-42"><a href="" class="curso text-gray-darker pb-14">Cursos</a></span>
                  <span class="fz-20 ml-42 pl-35"><a href="" class="otro text-gray-darker pb-14">Otros Cursos</a></span>
                  <span class="fz-20 ml-42 pl-35"><a href="" class="nuevo text-gray-darker pb-14">Nuevos Cursos</a></span>
                </div>
                <div class="clearfix hidden-lg hidden-md"><!--movil-->
                  <div class="col-xs-3 pv-7 text-center ph-0 fz-18 curso border-bottom-gray-lighter border-right-gray-lighter">Cursos</div>
                  <div class="col-xs-4 pv-7 text-center ph-0 fz-18 otro border-bottom-gray-lighter border-right-gray-lighter">Otros Cursos</div>
                  <div class="col-xs-5 pv-7 text-center ph-0 fz-18 nuevo border-bottom-gray-lighter">Nuevos Cursos</div>
                </div>
                <div class="lista-cursos pr-42 pl-21 mh-42 mh-0-xs mh-0-xs pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-17 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-17 text-gray-darker">Métodos de Seguridad</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-light">
                    <span class="col-md-4 fz-18">Nota</span>
                    <p class="col-md-8 fz-17 pb-21 text-gray-darker">10</p>
                  </div>
                </div>
                <div class="lista-cursos pr-42 pl-21 mh-42 mh-0-xs mh-0-xs pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-17 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-17 text-gray-darker">Métodos de Seguridad</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-light">
                    <span class="col-md-4 fz-18">Nota</span>
                    <p class="col-md-8 fz-17 pb-21 text-gray-darker">10</p>
                  </div>
                </div>
                <div class="lista-cursos pr-42 pl-21 mh-42 mh-0-xs mh-0-xs pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-17 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-17 text-gray-darker">Métodos de Seguridad</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Nota</span>
                    <p class="col-md-8 fz-17 pb-21 text-gray-darker">10</p>
                  </div>
                </div>

                <div class="lista-otros hidden pr-42 pl-21 mh-42 mh-0-xs pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-17 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-17 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>
                <div class="lista-otros hidden pr-42 pl-21 mh-42 mh-0-xs pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-17 text-gray-darker">Abril 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-17 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>

                <div class="lista-nuevos hidden pr-42 pl-21 mh-42 mh-0-xs pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-17 text-gray-darker">Setiembre 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-17 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>
                <div class="lista-nuevos hidden pr-42 pl-21 mh-42 mh-0-xs pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-18 text-gray-darker">Octubre 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-18 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
</html>