{if logged_out}
  {redirect="login"}
{if:else}

  {exp:redirect:redirect_user_lidermania}

  {if member_id != segment_3 && '{exp:parameters:chateadora_can_view member_id="{segment_3}"}' != "1"}
    {redirect="wall"}
  {/if}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Capacitaciones"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}wall"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-7-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios miembro="{segment_3}" miembro_actual="{member_id}"}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">Autocapacitaciones</h2></div>
            {exp:webservice:semaforocapacitaciones member="{segment_3}"}
              <div class="semaforo clearfix {if semaforo}bg-info{if:else}bg-primary{/if} border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                  <div id="check_semaforo" class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pr-28 pl-14">
                  <h3 class="fz-20 mv-28">Tu estado está en {if semaforo}verde{if:else}rojo{/if}!</h3>
                </div>
              </div>
            {/exp:webservice:semaforocapacitaciones}
            <div class="capacitacion mt-35">
              <div class="datos bg-white pv-42 pt-0-xs border-radius">
                <div class="pl-42 pb-14 border-bottom-gray-lighter hidden-xs hidden-sm">
                  <span class="fz-20 pl-21"><a href="" class="curso text-gray-darker pb-14">Capacitaciones Virtuales</a></span>
                  <!--<span class="fz-20 ml-42 pl-35"><a href="" class="otro text-gray-darker pb-14">Otros Cursos</a></span>-->
                  <!--<span class="fz-20 ml-42 pl-35"><a href="" class="nuevo text-gray-darker pb-14">Nuevos Cursos</a></span>-->
                </div>
                <div class="clearfix hidden-lg hidden-md"><!--movil-->
                  <div class="col-xs-12 pv-7 text-center ph-0 fz-18 curso border-bottom-gray-lighter border-right-gray-lighter">Capacitaciones Virtuales</div>
                  <!--<div class="col-xs-4 pv-7 text-center ph-0 fz-18 otro border-bottom-gray-lighter border-right-gray-lighter">Otros Cursos</div>-->
                  <!--<div class="col-xs-5 pv-7 text-center ph-0 fz-18 nuevo border-bottom-gray-lighter">Nuevos Cursos</div>-->
                </div>
                <div>
                  <div class="col-xs-12 pv-7 text-center ph-0 fz-18 mb-21">
                    <a href="http://143.208.135.125/capacitacionvirtual/" target="_blank">Ir a capacitaciones</a>
                  </div>
                  <div id="capacitaciones">
                    
                  </div>
                </div>

                <!--<div class="lista-otros hidden pr-42 pl-21 mh-42 mh-0-xs pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-17 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-17 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>
                <div class="lista-otros hidden pr-42 pl-21 mh-42 mh-0-xs pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-17 text-gray-darker">Abril 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-17 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>-->

                <!--<div class="lista-nuevos hidden pr-42 pl-21 mh-42 mh-0-xs pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-17 text-gray-darker">Setiembre 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-17 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>
                <div class="lista-nuevos hidden pr-42 pl-21 mh-42 mh-0-xs pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-3 fz-18">Periodo</span>
                    <p class="col-md-7 fz-18 text-gray-darker">Octubre 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row pb-35-xs">
                    <span class="col-md-3 fz-18">Tema</span>
                    <p class="col-md-7 fz-18 text-gray-darker pb-42 pb-7-xs">Métodos de Seguridad</p>
                    <a href="" class="col-md-2 pr-0 fz-18 light text-primary text-underline">Inscríbete</a>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
  <script>
    $.ajax({
      type: 'GET',
      url: '{site_url}ws/capacitacion/{segment_3}',
      success: function(data) {
        $("#capacitaciones").html(data);
      }
    });
  </script>
</html>