{if logged_out}
  {redirect="login"}
{if:else}

  {exp:redirect:redirect_user_lidermania}

  {if member_id != segment_3 && '{exp:parameters:chateadora_can_view member_id="{segment_3}"}' != "1"}
    {redirect="wall"}
  {/if}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Capacitaciones"}
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}wall"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm p-14">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="capacitaciones-contenido" class="col-md-8 pb-42 ph-7-xs">
          {exp:capacitaciones:load_capacitacion_by_id id="{segment_4}"}
          <div class="container pt-14 w-100 ph-0">
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-7">{nombre}</h2></div>
            <p class="text-justify">{descripcion}</p>
          </div>
          {/exp:capacitaciones:load_capacitacion_by_id}

          <section  class="contenido-container col-xs-12 p-0-xs p-14-md">
            {exp:capacitaciones:load_contenidos capacitacion="{segment_4}"}
            <div class="contenido">
              {if "{nombre}" != ""}
                <h3 class="mt-7">{nombre}</h3>
              {/if}
              {if "{descripcion}" != ""}
                <p class="text-justify">{descripcion}</p>
              {/if}
              {if "{video_id}" != ""}
              <div class="video hidden-xs hidden-sm">
                <iframe src="https://www.youtube.com/embed/{video_id}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="video visible-xs visible-sm">
                <iframe src="https://www.youtube.com/embed/{video_id}" width="310" height="195" frameborder="0" allowfullscreen></iframe>
              </div>
              {/if}
              {if "{file_path}" != ""}
              <div class="archivo text-center mt-14">
                <div>
                  <a class="btn-capacitacion file-btn" href='{exp:util:parameter name="s3_path"}{file_path}' data-filepath='{exp:util:parameter name="s3_path"}{file_path}' data-nombre="{nombre}">Ver Archivo</a>
                </div>
              </div>
              {/if}
              <div class="controls" style="{if "{prev_page}" != "" || "{next_page}" != "" } min-height: 35px; {/if}">
                {if "{prev_page}" != ""}
                <a class="btn-page prev" href="{site_url}ajax-text/contenido/{segment_4}/{prev_page}">Anterior</a>
                {/if}
                
                {if "{next_page}" != ""}
                <a class="btn-page next" href="{site_url}ajax-text/contenido/{segment_4}/{next_page}">Siguiente</a>
                {/if}
              </div>
            </div>
            {/exp:capacitaciones:load_contenidos}
          </section>

          <br/>
          {exp:capacitaciones:test_result capacitacion="{segment_4}"}
            {if no_results}
              <div class="result-container c-pendiente">
                Pendiente
              </Pendientediv>
              <div class="test-container">
                <div class="text-center mv-21">
                  <button  class="btn-test btn btn-primary">Hacer Test</button>
                </div>
                <div class="test-form-container" style="display: none;">
                  {exp:capacitaciones:test_form form_class="form-test"}
                    <input type="hidden" name="capacitacion" value="{segment_4}">
                    <ol>
                      {exp:capacitaciones:load_test_questions capacitacion="{segment_4}"}
                      <li> {pregunta_nombre}
                          <ul>
                          {exp:capacitaciones:load_answers_items pregunta="{pregunta_id}"}
                            <li><label><input class="opcion-input" type="radio" name="answers[{pregunta_id}][]" value="{opcion_id}"> {opcion_nombre}</label></li>
                          {/exp:capacitaciones:load_answers_items}
                          </ul>
                      </li>
                      {/exp:capacitaciones:load_test_questions}
                    </ol>
                    <div class="text-center">
                      <input id="submit-form-test" class="btn btn-primary" type="submit" value="Enviar">
                    </div>
                  {/exp:capacitaciones:test_form}
                </div>
              </div>
            {/if}
            
            {if resultado_estado == 'a'}
            <div class="result-container aprobado" >
              Aprobado {exp:util:round number="{resultado_puntaje}"} %
            </div>
            {if:else}
              <div class="result-container desaprobado">
                Desaprobado {exp:util:round number="{resultado_puntaje}"} %
              </div>
            {/if}
            <div class="test-container">
              <div class="text-center mv-21">
                <button  class="btn-test btn btn-primary">Hacer Test</button>
              </div>
              <div class="test-form-container" style="display: none;">
              </div>
            </div>
          {/exp:capacitaciones:test_result}
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  <div class="modal fade capacitacionModal" id="resultadoModal" tabindex="-1" role="dialog" aria-labelledby="resultadoModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header relative">
          <a href="#" class="close" data-dismiss="modal" aria-label="Close" >&times;</a>
          <h4 class="modal-title" id="resultadoModalLabel">Resultados del test</h4>
        </div>
        <div class="modal-body text-center">
          <h5 class="mt-0">Gracias por realizar el test</h5>
          <p>Este es tu resultado: </p>
           <div class="result-container" style="display: none;" >
            </div>
        </div>
      </div>
    </div>
  </div>

   <div class="modal fade capacitacionModal" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header relative">
          <a href="#" class="close" data-dismiss="modal" aria-label="Close" >&times;</a>
          <h4 class="modal-title" id="fileModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/b3/modal.js"></script>
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script>

    $('#fileModal').on('hidden.bs.modal', function (e) {
      $('#fileModal').find('.modal-body').html("");
    });

    $(document).on('click', '.file-btn', function (e) {
      e.preventDefault();
      var nombre = $(this).data("nombre");
      var filepath = $(this).data("filepath");
      $('#fileModal').find('#fileModalLabel').html(nombre);
      $('#fileModal').find('.modal-body').html("<iframe src=\"http://docs.google.com/gview?url=" + filepath + "&embedded=true\" style=\"width:100%; height:500px;\" frameborder=\"0\"></iframe>");
      $('#fileModal').modal("show");
    });

    $(document).on('click', '.btn-page',function(e) {
      e.preventDefault();
      $('.contenido-container').load(this.href);
    });

    $('.btn-test').on('click', function(e) {
      e.preventDefault();
      $(this).hide();
      $('.test-form-container').load("{site_url}ajax-text/test-form/{member_id}/{segment_4}").fadeIn();
    });

    $(document).on('submit', '.form-test', function(e) {
      e.preventDefault();

      if (!isTestFormValid()) {
        alert("Debe responder todas las preguntas");
        return;
      }

      $("#submit-form-test").attr("disabled", true);
      var form = $(this);
      var url = form.attr("action");
      var formData = new FormData(form[0]);
      $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        success: function(data) {
          $("#submit-form-test").removeAttr("disabled");
          var response = JSON.parse(data);
          var estadoLabel = response.estado == "aprobado" ? "Aprobado" : "Desaprobado";
          
          var $resultContainer = $(".result-container");
          $resultContainer.removeClass("aprobado");
          $resultContainer.removeClass("desaprobado");
          $resultContainer.addClass(response.estado);
          $resultContainer.html(estadoLabel + " " + response.puntaje + " %");
          $resultContainer.show();

          $('#resultadoModal').modal('show');
          if (response.estado == "desaprobado") {
            $('.btn-test').show();
            $('.test-form-container').hide();
            $('.opcion-input').each(function (idx, elem) {
              $elem = $(elem);
              $elem.prop("checked", false);
            });
          } else { // Aprobado
            showSolucionario(response.solucionario);
            $('.btn-test').show();
            $("#submit-form-test").prop("disabled", true);

          }
        },
        error: function(err) {
          $("#submit-form-test").removeAttr("disabled");
        },
        cache: false,
        contentType: false,
        processData: false
      });
    });

    function isTestFormValid() {
      var isValid = true;
      $(".pregunta").each(function (idx, elem) {
        var $pregunta = $(elem);
        isValid = isValid && $pregunta.find('.opcion-input').is(':checked');
      });

      return isValid;
    }

    function showSolucionario(solucionario) {
      $('.form-test').find('.respuesta').addClass("incorrecta");
      for (var i = 0; i < solucionario.length; i++) {
        var item = solucionario[i];
        var $opcionCorrecta = $("#pregunta-" + item.id).find("#opcion-" + item.respuesta);
        $opcionCorrecta.removeClass("incorrecta");
        $opcionCorrecta.addClass("correcta");
      }
    }
  </script>
</html>

