{if logged_out}
  {redirect="login"}
{if:else}
  {if member_group != 6}
    {if member_id != segment_3}
      {redirect="wall"}
    {/if}
  {/if}
{/if}

  {embed=includes/head titulo="Mundo Liderman - Lidermanía"}
  <link rel="stylesheet" href="{site_url}frontend/app/assets/css/ui.easytree.min.css">
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}"}
    <main class="site-content clearfix pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md ph-0-xs mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42">
          <div class="container pt-42 w-100 ph-0 ph-7-xs">
            {embed=includes/perfil-servicios miembro="{segment_3}" miembro_actual="{member_id}"}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray-darker pb-14 text-gray-darker pt-21">Lidermanía/ <span id="lidermania-seccion">Ama el trato</span></h2></div>
            <div class="lidermania pt-14-xs">
              <div class="datos datos-lidermania bg-white pv-42 ph-42 ph-21-xs mt-28-xs pv-21-xs">
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/menu-2-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/jquery.easytree.min.js"></script>
  <script>
    if ($("#jstree").length) $('#jstree').easytree();
  </script>
  <script>
    $.ajax({
      type: "GET",
      async: true,
      url: "{path='ajax-text/texto-inicio'}",
      success: function(a) {
        $('.datos-lidermania').html(a);
      }
    });
    /*cuando le das click a los menus*/
    $(".link-menu").click(function(e){
      e.preventDefault();
      var $self = $(this);
      var cat_id = $(this).attr("data-cat-id");
      var $linkCategory;
      if ($self.hasClass('l-category')) {
        $linkCategory = $self;
      } else {
        var $parent = $($self.parents().get(2));
        $linkCategory = $parent.find('.l-category');
      }
      loadCategory(cat_id, $linkCategory.html());
    });
    /*cuando le das click a leer más*/
    $(document).on('click', '.more-lidermania', function(e) {
      e.preventDefault();
      var entry_id = $(this).attr("data-entry-id");
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-lidermania'}/" + entry_id,
        success: function(a) {
          $('.texto-ajax').html(a);
        }
      });
    });
    /*Regresas contenido de los links*/
    $(document).on('click', '.back', function(e) {
      e.preventDefault();
      var cat_id = $(this).attr("data-cat-id");
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-menu'}/" + cat_id,
        success: function(a) {
          $('.datos-lidermania').html(a);
        }
      });
    });
    /*Click a inscripciones*/
    $(document).on('click', '.inscribite', function(e) {
      e.preventDefault();
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-inscripciones'}/{segment_3}",
        success: function(a) {
          $('.datos-lidermania').html(a);
        }
      });
    });

    function loadCategory(categoryId, title) {
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-menu'}/" + categoryId,
        success: function(a) {
          $('.datos-lidermania').html(a);
          $('#lidermania-seccion').html(title);
        }
      });
    }
  </script>
</html>