{embed=includes/head}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main}
    <main class="site-content pb-42 mb-0-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="container-md clearfix mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          {embed=includes/nav-secciones in="in"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-7-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">LíderCard</h2></div>
            {embed=includes/semaforo}
            <div class="lidercard">
              <div class="datos bg-white pv-42 mt-42 pv-14-xs border-radius">
                <div class="pl-42 pb-14 ph-7-xs border-bottom-gray-lighter">
                  <span class="fz-20 pl-42 ml-21 ml-14-xs ph-0-xs"><a href="" class="bonificacion text-gray pb-14">Bonificaciones</a></span>
                  <span class="fz-20 ml-42 pl-35 ml-14-xs pl-0-xs ph-0-xs"><a href="" class="merito text-gray pb-14">Méritos y Deméritos</a></span>
                </div>
                <div class="dato-bonificacion ph-42 mh-42 pt-35 ph-0-xs mh-14-xs">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo Bonificación</span>
                    <p class="col-md-3 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Monto</span>
                    <p class="col-md-3 fz-18 text-gray-darker">S/.500</p>
                  </div>
                </div>
                <div class="separador-div ml-35 hidden-lg hidden-md"></div>
                <div class="dato-bonificacion ph-42 mh-42 pt-35 ph-0-xs mh-14-xs">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo Bonificación</span>
                    <p class="col-md-3 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Monto</span>
                    <p class="col-md-3 fz-18 text-gray-darker">S/.500</p>
                  </div>
                </div>
                <div class="separador-div ml-35 hidden-lg hidden-md"></div>
                <div class="dato-bonificacion ph-42 mh-42 pt-35 ph-0-xs mh-14-xs">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo Bonificación</span>
                    <p class="col-md-3 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Monto</span>
                    <p class="col-md-3 fz-18 text-gray-darker">S/.500</p>
                  </div>
                </div>

                <div class="dato-merito hidden ph-42 mh-42 pt-35 ph-0-xs mh-14-xs">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Fecha</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tipo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mérito</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Detalle</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Excelente uso de los procedimientos en los momentos de urgencia</p>
                  </div>
                </div>
                <div class="separador-div ml-35 hidden-lg hidden-md"></div>
                <div class="dato-merito hidden ph-42 mh-42 pt-35 ph-0-xs mh-14-xs">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Fecha</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tipo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mérito</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Detalle</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Excelente uso de los procedimientos en los momentos de urgencia</p>
                  </div>
                </div>
                <div class="separador-div ml-35 hidden-lg hidden-md"></div>
                <div class="dato-merito hidden ph-42 mh-42 pt-35 ph-0-xs mh-14-xs">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Fecha</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tipo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mérito</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Detalle</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Excelente uso de los procedimientos en los momentos de urgencia</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
</html>