{if logged_out}
  {redirect="login"}
{if:else}
  {if member_id != segment_3 && '{exp:parameters:chateadora_can_view member_id="{segment_3}"}' != "1"}
    {redirect="wall"}
  {/if}
{/if}

{embed=includes/head titulo="Mundo Liderman - LiderCard"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-7-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios miembro="{segment_3}" miembro_actual="{member_id}"}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">Valor agregado</h2></div>
            {exp:webservice:semaforolidercard member="{segment_3}"}
              <div class="semaforo clearfix {if semaforo}bg-info{if:else}bg-primary{/if} border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                  <div id="check_semaforo" class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pr-28 pl-14">
                  <h3 class="fz-20 mv-28">Tu estado está en {if semaforo}verde{if:else}rojo{/if}!</h3>
                </div>
              </div>
            {/exp:webservice:semaforolidercard}
            <div class="lidercard">
              <div class="datos bg-white pv-42 mt-42 pv-14-xs border-radius">
                <div class="pl-42 pb-14 ph-7-xs border-bottom-gray-lighter">
                  <span class="fz-20 pl-42 ml-21 ml-14-xs ph-0-xs"><a href="" class="bonificacion text-gray pb-14">Bonificaciones</a></span>
                  <span class="fz-20 ml-42 pl-35 ml-14-xs pl-0-xs ph-0-xs"><a href="" class="merito text-gray pb-14">Méritos y Deméritos</a></span>
                </div>
                <div id="bonificaciones">
                   
                </div>
                <div id="meritos-demeritos">
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
  <script>
    var month = new Date().getMonth();

    $.ajax({
      type: 'GET',
      url: '{site_url}ws/bonificaciones/' + month + "/{segment_3}",
      success: function(data) {
        $("#bonificaciones").html(data);
      }
    });
    
    $.ajax({
      type: 'GET',
      url: '{site_url}ws/meritos-demeritos/' + month + "/{segment_3}",
      success: function(data) {
        $("#meritos-demeritos").html(data);
      }
    });
  </script>
</html>