  {embed=includes/head titulo="Mundo Liderman - Lidernet"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main}
    <main class="site-content pb-42 mb-0-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          {embed=includes/nav-secciones in="in"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-7-xs ph-7-sm">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray-darker pb-14 text-gray-darker pt-21">Lidernet</h2></div>
            {if {exp:webservice:semaforolidernet} == 1}
                <div class="semaforo clearfix bg-info border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                  <div class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pb-7 pr-28 pl-14">
                  <h3 class="fz-20 mb-7">Tu semáforo está en verde!</h3>
                  <p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>
                </div>
              </div>
            {if:else}
              <div class="semaforo clearfix bg-primary border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                <div class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pb-7 pr-28 pl-14">
                  <h3 class="fz-20 mb-7">Tu semáforo está en rojo!</h3>
                  <p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>
                </div>
              </div>
            {/if}
            <div class="lidernet tareo mt-42 bg-white ph-28 pv-42 pv-28-xs ph-7-xs">
              <!--<div class="pl-14">
                <span class="fz-18 text-gray-darker pr-7-xs">Buscar el periodo</span>
                <div class="btn-group month ml-21-md">
                  <button type="button" class="btn btn-default btn-dropdown dropdown-toggle fz-18 pv-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes <span class="pl-14 pl-7-xs"><img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt=""></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Enero</a></li>
                    <li><a href="#">Febrero</a></li>
                    <li><a href="#">Marzo</a></li>
                    <li><a href="#">Abril</a></li>
                    <li><a href="#">Mayo</a></li>
                    <li><a href="#">Junio</a></li>
                    <li><a href="#">Julio</a></li>
                    <li><a href="#">Agosto</a></li>
                    <li><a href="#">Setiembre</a></li>
                    <li><a href="#">Octubre</a></li>
                    <li><a href="#">Noviembre</a></li>
                    <li><a href="#">Diciembre</a></li>
                  </ul>
                </div>
                <div class="btn-group year ml-14-md">
                  <button type="button" class="btn btn-default btn-dropdown dropdown-toggle fz-18 pv-0 border-radius" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Año <span class="pl-14 pl-7-xs"><img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt=""></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                    <li><a href="#">2005</a></li>
                    <li><a href="#">2006</a></li>
                    <li><a href="#">2007</a></li>
                    <li><a href="#">2008</a></li>
                    <li><a href="#">2009</a></li>
                    <li><a href="#">2010</a></li>
                    <li><a href="#">2011</a></li>
                    <li><a href="#">2012</a></li>
                    <li><a href="#">2013</a></li>
                    <li><a href="#">2014</a></li>
                    <li><a href="#">2015</a></li>
                  </ul>
                </div>
              </div>-->
              {exp:channel:entries channel="lidernet" limit="1"}
                <div class="articulo pt-28 ph-14">
                  <div class="img-articulo w-100 text-center">
                    {if lidernet_imagen != null}
                      <img src="{site_url}frontend/app/assets/img/Foto2.png" alt="" class="w-100">
                    {if:else}
                      {if lidernet_video != null}
                        <iframe width="520" height="315" src="{lidernet_video}" frameborder="0" allowfullscreen></iframe>
                      {/if}
                    {/if}
                  </div>
                  <div class="texto pt-28 pb-14 text-justify">
                    <h3 class="bold text-gray">{title}</h3>
                    <div class="parrafos pt-14">
                      <p class="text-gray-darker">{lidernet_contenido}</p>
                    </div>
                  </div>
                  <div id="preguntas" class="texto pt-7">
                    <h3 class="bold text-gray">Preguntas al respecto del LiderNet</h3>
                    <form action="">
                      <p class="pt-14">¿El liderazgo auténtico se basa en la VERDAD?</p>
                      <p class="checkbox pl-14">
                          <input type="radio" name="p1" value="male">
                          <label for="male" class="text-gray-darker normal">Verdadero</label></br>
                          <input id="female" type="radio" name="p1" value="female">
                          <label for="female" class="text-gray-darker normal">Falso</label>
                      </p>
                      <p class="pt-14">El cliente espera y busca un liderazgo auténtico por parte de nosotros, los Liderman.</p>
                      <p class="checkbox pl-14">
                          <input id="male" type="radio" name="p2" value="male">
                          <label for="male" class="text-gray-darker normal">Verdadero</label></br>
                          <input id="female" type="radio" name="p2" value="female">
                          <label for="female" class="text-gray-darker normal">Falso</label>
                      </p>
                      <button href="" class="btn btn-enviar btn-lidernet text-white text-hover-info br-none ph-21 thin ls-2 mt-42 hidden-xs hidden-sm">ENVIAR <img src="{site_url}frontend/app/assets/img/Flecha_Publicar.png" alt="" class="pl-14"></button>
                      <button href="" class="btn btn-enviar-movil btn-lidernet w-100 text-white text-hover-info br-none ph-21 thin ls-2 mt-42 hidden-lg hidden-md">ENVIAR <img src="{site_url}frontend/app/assets/img/Flecha_Publicar.png" alt="" class="pl-14"></button>
                    </form>
                  </div>
                </div>
              {/exp:channel:entries}
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script>
    $(".btn-lidernet").click(function(e) {
      e.preventDefault();
      $("#preguntas").hide();
    });
  </script>
</html>