{if logged_out}
  {redirect="login"}
{if:else}
  {if member_group != 6}
    {if member_id != segment_3}
      {redirect="wall"}
    {/if}
  {/if}
{/if}

  {embed=includes/head titulo="Mundo Liderman - Lidermanía"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al inicio" link="{site_url}"}
    <main class="site-content clearfix pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md ph-0-xs mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
          <div class="contenedor-menu-2 pt-35 ph-42">
            <h2 class="fz-20 text-gray-dark2 m-0 pt-14 pb-21">Lidermanía</h2>
            <div>
              <h3 class="m-0 bg-gray-lighter pb-7 ph-14"><a class="fz-17 text-gray-dark2 text-hover-gray-dark">Ama el trato</a></h3>
              <ul class="pt-14 list-styled">
                {exp:categories:child_list category_group="4" parent_id="16"}
                <li><a href="" class="fz-15 text-gray-darker light text-not-underline link-menu" data-cat-id="{cat_id}" >{cat_name}</a></li>
                {/exp:categories:child_list}
              </ul>
            </div>
            <div class="pt-14">
              <h3 class="m-0 bg-gray-lighter pb-7 ph-14"><a class="fz-17 text-gray-dark2 text-hover-gray-dark">Ama el crecimiento</a></h3>
              <ul class="pt-14 list-styled">
                {exp:categories:child_list category_group="4" parent_id="17"}
                <li><a href="" class="fz-15 text-gray-darker light text-not-underline link-menu" data-cat-id="{cat_id}" >{cat_name}</a></li>
                {/exp:categories:child_list}
              </ul>
            </div>
            <div class="pt-14">
              <h3 class="m-0 bg-gray-lighter pb-7 ph-14"><a href="" class="fz-17 text-gray-dark2 text-hover-gray-dark link-menu" data-cat-id="18">Ama el pago</a></h3>
            </div>
          </div>
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42">
          <div class="container pt-42 w-100 ph-0 ph-7-xs">
            {embed=includes/perfil-servicios miembro="{segment_3}" miembro_actual="{member_id}"}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray-darker pb-14 text-gray-darker pt-21">Lidermanía/ Ama el trato</h2></div>
            <div class="lidermania pt-14-xs">
              <select name="" id="" class="w-100 select-lista pl-14 fz-24 hidden-lg hidden-md">
                <option value="" class="fz-24">Ama el trato</option>
                <option value="" class="fz-24">Ama el cremiento</option>
                <option value="" class="fz-24">Ama el pago</option>
              </select>
              <div class="datos datos-lidermania bg-white pv-42 ph-42 ph-21-xs mt-28-xs pv-21-xs">
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/menu-2-control.js"></script>
  <script>
    $.ajax({
      type: "GET",
      async: true,
      url: "{path='ajax-text/texto-inicio'}",
      success: function(a) {
        $('.datos-lidermania').html(a);
      }
    });
    /*cuando le das click a los menus*/
    $(".link-menu").click(function(e){
      e.preventDefault();
      var cat_id = $(this).attr("data-cat-id");
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-menu'}/" + cat_id,
        success: function(a) {
          $('.datos-lidermania').html(a);
        }
      });
    });
    /*cuando le das click a leer más*/
    $(document).on('click', '.more-lidermania', function(e) {
      e.preventDefault();
      var entry_id = $(this).attr("data-entry-id");
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-lidermania'}/" + entry_id,
        success: function(a) {
          $('.texto-ajax').html(a);
        }
      });
    });
    /*Regresas contenido de los links*/
    $(document).on('click', '.back', function(e) {
      e.preventDefault();
      var cat_id = $(this).attr("data-cat-id");
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-menu'}/" + cat_id,
        success: function(a) {
          $('.datos-lidermania').html(a);
        }
      });
    });
    /*Click a inscripciones*/
    $(document).on('click', '.inscribite', function(e) {
      e.preventDefault();
      $.ajax({
        type: "GET",
        async: true,
        url: "{path='ajax-text/texto-inscripciones'}/{segment_3}",
        success: function(a) {
          $('.datos-lidermania').html(a);
        }
      });
    });
  </script>
</html>