{if logged_out}
  {redirect="login"}
{if:else}
  {if member_group != 6}
    {if member_id != segment_3}
      {redirect="wall"}
    {/if}
  {/if}
{/if}

  {embed=includes/head titulo="Mundo Liderman - LiderNet"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}wall"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-7-xs ph-7-sm">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios miembro="{segment_3}" miembro_actual="{member_id}"}
            <div><h2 class="fz-28 border-bottom-gray-darker pb-14 text-gray-darker pt-21">Cultura</h2></div>
            {exp:webservice:semaforolidernet}
              <div class="semaforo clearfix {if semaforo}bg-info{if:else}bg-primary{/if} border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                  <div id="check_semaforo" class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pb-7 pr-28 pl-14">
                  <h3 class="fz-20 mb-7">Tu estado está en {if semaforo}verde{if:else}rojo{/if}!</h3>
                </div>
              </div>
            {/exp:webservice:semaforolidernet}
            <div class="lidernet tareo mt-42 bg-white ph-28 pv-42 pv-28-xs ph-7-xs">
              <div class="pl-14">
                <span class="fz-18 text-gray-darker pr-7-xs">Buscar el periodo</span>
                <div class="select-group display-ib ml-21 ml-7-xs">
                  <div class="display-ib text-center ph-7 relative">
                    <select name="" id="monthCollection" class="text-gray-darker borderless relative">
                      <option value="0" class="fz-14">Ene</option>
                      <option value="1" class="fz-14">Feb</option>
                      <option value="2" class="fz-14">Mar</option>
                      <option value="3" class="fz-14">Abr</option>
                      <option value="4" class="fz-14">May</option>
                      <option value="5" class="fz-14">Jun</option>
                      <option value="6" class="fz-14">Jul</option>
                      <option value="7" class="fz-14">Agos</option>
                      <option value="8" class="fz-14">Set</option>
                      <option value="9" class="fz-14">Oct</option>
                      <option value="10" class="fz-14">Nov</option>
                      <option value="11" class="fz-14">Dic</option>
                    </select>
                    <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="">
                  </div>
                  <div class="display-ib text-center ph-7 relative ml-14 ml-7-xs">
                    <select name="" id="yearCollection" class="text-gray-darker borderless relative">
                    </select>
                    <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="absolute">
                  </div>
                </div>
              </div>
              <div id="lidernet_content" class="articulo ph-14">
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script>
    var currentMonth = new Date().getMonth();
    document.getElementById("monthCollection").value = currentMonth;
    var currentYear = new Date().getFullYear();
    var yearCollection = document.getElementById("yearCollection");
    var html = "";
    for (var i = 0; i <= 10; i++) {
      html += "<option value='" + (currentYear-i) + "' class='fz-14'>" + (currentYear-i) + "</option>";
    };
    yearCollection.innerHTML = html;
  </script>
  <script type="text/javascript">
    function updateData() {
      var months = [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre' ];
      var year = parseInt($("#yearCollection").val());
      var month = parseInt($("#monthCollection").val());

      $("#currentMonth").text(months[month]);
      $("#currentYear").text(year);

      month++;

      $.ajax({
        type: 'GET',
        url: '{site_url}ws/lidernet/{segment_3}/' + year + '/' + month,
        success: function(data) {
          $("#lidernet_content").hide();
          $("#lidernet_content").html(data);
          $("#lidernet_content").fadeIn();
        }
      });
    }
    $( '#monthCollection' ).on( 'change', function(e) {
      updateData();
    });
    $( '#yearCollection' ).on( 'change', function(e) {
      updateData();
    });
    updateData();
  </script>
</html>