{if logged_out}
  {redirect="login"}
{/if}

{embed=includes/head titulo="Mundo Liderman - Préstamos"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main}
    <main class="site-content clearfix pb-42 mb-0-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix pb-42 mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-0">
          <div class="container pt-42 w-100 ph-7-xs pb-42-xs">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray-darker pb-14 text-gray-darker pt-21">Préstamos</h2></div>
            {if {exp:webservice:semaforoprestamo mes="{current_time format='%n'}"} == 1}
                <div class="semaforo clearfix bg-info border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                  <div id="check_semaforo" class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pb-7 pr-28 pl-14">
                  <h3 class="fz-20 mb-7">Tu semáforo está en verde!</h3>
                  <!--<p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>-->
                </div>
              </div>
            {if:else}
              <div class="semaforo clearfix bg-primary border-radius mt-28 ph-42 text-white hidden-xs hidden-sm">
                <div id="check_semaforo" class="col-md-1 text-center pl-0">
                  <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
                </div>
                <div class="col-md-11 pb-7 pr-28 pl-14">
                  <h3 class="fz-20 mb-7">Tu semáforo está en rojo!</h3>
                  <!--<p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>-->
                </div>
              </div>
            {/if}
            <div class="prestamos">
              <div class="datos bg-white pb-42 pt-28 ph-42 mt-42 ph-7-xs pv-21-xs">
                <div class="ph-14">
                  <h3 class="text-gray-darker">Préstamos solicitados</h3>
                  <div id="prestamos-ws"> 
                  </div>
                  <div class="solicitar-prestamo mt-42"> 
                    {exp:freeform:entries form_name="solicitar_prestamo" status="pending" author_id="{segment_3}"}
                      <p>Ya solicitó un préstamo.</p>
                      {if freeform:no_results}
                        {exp:freeform:composer
                          form_name="solicitar_prestamo"
                          composer_template_name="solicitar_prestamo"
                          return= "servicios/prestamos/{segment_3}"
                        }
                      {/if}
                    {/exp:freeform:entries}
                </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/prestamo-control.js"></script>
  <script>
    var month = new Date().getMonth();

    $.ajax({
      type: 'GET',
      url: '{site_url}ws/prestamos/' + month,
      success: function(data) {
        $("#prestamos-ws").html(data);
      }
    });
  </script>
</html>