{if logged_out}
  {redirect="login"}
{if:else}
  {if "{exp:indicators:can_access}" != "1" }
    {redirect="wall"}
  {/if}
{/if}

{embed=includes/head titulo="Mundo Liderman - SGI"}
  <link rel="stylesheet" href="{site_url}frontend/app/assets/css/ui.easytree.min.css">
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al muro" link="{site_url}"}
    <main class="site-content pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section> 
        <section id="tareo-contenido" class="col-md-8 pb-42 mb-42-xs ph-7-xs">
            <div><h2 class="fz-28 border-bottom-gray pb-7 text-gray-darker pt-7">SGI</h2></div>
            <div class="sgi mt-35">
              <div class="datos bg-white p-35 border-radius p-21-xs">
                {if segment_4 != 'category'}
                  <p class="fz-18 text-gray-darker">Seleccionar las siguientes opciones</p>
                  <div id="jstree">
                    {exp:channel:categories channel="SGI" class="text-gray-darker"}
                        <a href="{path='servicios/sgi/{segment_3}/category/{category_id}/{category_name}'}">{category_name}</a>
                    {/exp:channel:categories}
                  </div>
                {if:else}
                  <p>
                    <span class="fz-16 text-gray-darker">{segment_6}</span>
                    <span class="pull-right fz-12">
                      <a class="text-primary thin" href="{path='servicios/sgi/{member_id}'}">← Regresar</a>
                    </span>
                  </p>
                  {exp:channel:entries orderby="entry_id" sort="asc" dynamic="no" channel="SGI" category="{segment_5}" }
                    {if no_results}
                      <p>No hay contenido disponible</p>
                    {/if}
                    <p class="fz-13">
                      <a href="{site_url}servicios/visualizar-sgi/{entry_id}" class="img" target="_blank">
                        <img src="{site_url}/frontend/app/assets/img/icono-pdf.png" width="16px" alt="Ver pdf">
                      </a>
                      <a class="text-gray-darker" href="{site_url}servicios/visualizar-sgi/{entry_id}" target="_blank">{title}</a>
                    </p>
                  {/exp:channel:entries}
                {/if}
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/jquery.easytree.min.js"></script>
  <script>
    if ($("#jstree").length) $('#jstree').easytree();
  </script>
</html>