{embed=includes/head titulo="Mundo Liderman - SGI"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al inicio" link="{site_url}wall"}
    <main class="site-content pb-42 mb-0-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          {embed=includes/nav-secciones in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section> 
        <section id="tareo-contenido" class="col-md-8 pb-42 mb-42-xs ph-7-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">SGI</h2></div>
            <div class="sgi mt-35">
              <div class="datos bg-white p-42 border-radius p-21-xs">
                <p class="fz-18 text-gray-darker">Seleccionar las siguientes opciones</p>
                <ul class="serif fz-18 text-gray-darker">
                  <li><a href="http://www.liderman.com.pe/cultura/reglamentos/" target="_blank">Reglamento</a></li>
                  <li><a href="http://www.liderman.com.pe/sgi-documentacion/" target="_blank">Documentacion</a></li>
                  <li><a href="http://www.liderman.com.pe/sgi-documentacion/dgac/" target="_blank">DGAC</a></li>
                  <li><a href="http://www.liderman.com.pe/sgi-documentacion/dgac-selva/" target="_blank">DGAC Selva</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
</html>