{if logged_out}
  {redirect="login"}
{if:else}
  {if member_id != segment_3}
    {redirect="wall"}
  {/if}
{/if}

{embed=includes/head titulo="Mundo Liderman - Préstamos"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main acceso_directo="Ir al inicio" link="{site_url}wall"}
    <main class="site-content clearfix pb-42 mb-0">
      {embed=includes/menu-movil miembro="{member_id}"}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
      <div class="container-md clearfix pb-42 mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-0">
          <div class="container pt-42 w-100 ph-7-xs pb-42-xs">
            {embed=includes/perfil-servicios}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">Solicitud de Préstamos</h2></div>
            <div class="lidercard">
              <div class="datos bg-white mt-42 pt-14-xs pb-0-xs border-radius ph-35 ph-7-xs">
                <div class="resultados-prestamos clearfix pb-28 pt-35 pv-21-xs ph-21-xs border-bottom-gray-lighter">
                  <div class="col-md-2 col-xs-4 pl-0">
                    <div class="search-img brp-100"><img src="{site_url}frontend/app/assets/img/Claudia_1.png" alt="" class="w-100"></div>
                  </div>
                  <div class="general-dates col-md-4 pv-7 col-xs-8 pl-7-xs pr-0-xs pb-0-xs">
                    <h3 class="text-gray-darker book m-0 display-ib pr-14 fz-20 lh-1">Claudia López</h3>
                    <h4 class="text-gray fz-14 m-0 book">Supervisor, Zona - Unidad</h4>
                    <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                    <span class="light fz-12">Empresa Empleadora</span>
                  </div>
                  <div class="monto-prestamo col-md-3 col-xs-8 col-md-offset-0 col-xs-offset-4 ph-7-xs pv-7 pv-0-xs text-center">
                    <span class="fz-12 btn-block">Solicitud de:</span>
                    <span class="text-gray-darker serif">s/.400</span>
                  </div>
                  <div class="btn-group-prestamo col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-8 text-center ph-0 pv-21 pt-7-xs">
                    <button class="btn btn-default b-none col-xs-6 text-center aceptar">
                      <img src="{site_url}frontend/app/assets/img/check2.png" alt="" class="check1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_verde.png" alt="" class="check2 hidden visible-xs">
                    </button>
                    <button class="btn btn-default b-none col-xs-6 text-center rechazar">
                      <img src="{site_url}frontend/app/assets/img/ex.png" alt="" class="ex1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_rojo.png" alt="" class="ex2 hidden visible-xs">
                    </button>
                  </div>
                </div>
                <div class="resultados-prestamos clearfix pb-28 pt-35 pv-21-xs ph-21-xs border-bottom-gray-lighter">
                  <div class="col-md-2 col-xs-4 pl-0">
                    <div class="search-img brp-100"><img src="{site_url}frontend/app/assets/img/Claudia_1.png" alt="" class="w-100"></div>
                  </div>
                  <div class="general-dates col-md-4 pv-7 col-xs-8 pl-7-xs pr-0-xs pb-0-xs">
                    <h3 class="text-gray-darker book m-0 display-ib pr-14 fz-20 lh-1">Claudia López</h3>
                    <h4 class="text-gray fz-14 m-0 book">Supervisor, Zona - Unidad</h4>
                    <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                    <span class="light fz-12">Empresa Empleadora</span>
                  </div>
                  <div class="monto-prestamo col-md-3 col-xs-8 col-md-offset-0 col-xs-offset-4 ph-7-xs pv-7 pv-0-xs text-center">
                    <span class="fz-12 btn-block">Solicitud de:</span>
                    <span class="text-gray-darker serif">s/.800</span>
                  </div>
                  <div class="btn-group-prestamo col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-8 text-center ph-0 pv-21 pt-7-xs">
                    <button class="btn btn-default b-none col-xs-6 text-center aceptar">
                      <img src="{site_url}frontend/app/assets/img/check2.png" alt="" class="check1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_verde.png" alt="" class="check2 hidden visible-xs">
                    </button>
                    <button class="btn btn-default b-none col-xs-6 text-center rechazar">
                      <img src="{site_url}frontend/app/assets/img/ex.png" alt="" class="ex1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_rojo.png" alt="" class="ex2 hidden visible-xs">
                    </button>
                  </div>
                </div>
                <div class="resultados-prestamos clearfix pb-28 pt-35 pv-21-xs ph-21-xs border-bottom-gray-lighter">
                  <div class="col-md-2 col-xs-4 pl-0">
                    <div class="search-img brp-100"><img src="{site_url}frontend/app/assets/img/Claudia_1.png" alt="" class="w-100"></div>
                  </div>
                  <div class="general-dates col-md-4 pv-7 col-xs-8 pl-7-xs pr-0-xs pb-0-xs">
                    <h3 class="text-gray-darker book m-0 display-ib pr-14 fz-20 lh-1">Claudia López</h3>
                    <h4 class="text-gray fz-14 m-0 book">Supervisor, Zona - Unidad</h4>
                    <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                    <span class="light fz-12">Empresa Empleadora</span>
                  </div>
                  <div class="monto-prestamo col-md-3 col-xs-8 col-md-offset-0 col-xs-offset-4 ph-7-xs pv-7 pv-0-xs text-center">
                    <span class="fz-12 btn-block">Solicitud de:</span>
                    <span class="text-gray-darker serif">s/.1500</span>
                  </div>
                  <div class="btn-group-prestamo col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-8 text-center ph-0 pv-21 pt-7-xs">
                    <button class="btn btn-default b-none col-xs-6 text-center aceptar">
                      <img src="{site_url}frontend/app/assets/img/check2.png" alt="" class="check1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_verde.png" alt="" class="check2 hidden visible-xs">
                    </button>
                    <button class="btn btn-default b-none col-xs-6 text-center rechazar">
                      <img src="{site_url}frontend/app/assets/img/ex.png" alt="" class="ex1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_rojo.png" alt="" class="ex2 hidden visible-xs">
                    </button>
                  </div>
                </div>
                <div class="resultados-prestamos clearfix pb-28 pt-35 pv-21-xs ph-21-xs border-bottom-gray-lighter">
                  <div class="col-md-2 col-xs-4 pl-0">
                    <div class="search-img brp-100"><img src="{site_url}frontend/app/assets/img/Claudia_1.png" alt="" class="w-100"></div>
                  </div>
                  <div class="general-dates col-md-4 pv-7 col-xs-8 pl-7-xs pr-0-xs pb-0-xs">
                    <h3 class="text-gray-darker book m-0 display-ib pr-14 fz-20 lh-1">Claudia López</h3>
                    <h4 class="text-gray fz-14 m-0 book">Supervisor, Zona - Unidad</h4>
                    <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                    <span class="light fz-12">Empresa Empleadora</span>
                  </div>
                  <div class="monto-prestamo col-md-3 col-xs-8 col-md-offset-0 col-xs-offset-4 ph-7-xs pv-7 pv-0-xs text-center">
                    <span class="fz-12 btn-block">Solicitud de:</span>
                    <span class="text-gray-darker serif">s/.600</span>
                  </div>
                  <div class="btn-group-prestamo col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-8 text-center ph-0 pv-21 pt-7-xs">
                    <button class="btn btn-default b-none col-xs-6 text-center aceptar">
                      <img src="{site_url}frontend/app/assets/img/check2.png" alt="" class="check1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_verde.png" alt="" class="check2 hidden visible-xs">
                    </button>
                    <button class="btn btn-default b-none col-xs-6 text-center rechazar">
                      <img src="{site_url}frontend/app/assets/img/ex.png" alt="" class="ex1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_rojo.png" alt="" class="ex2 hidden visible-xs">
                    </button>
                  </div>
                </div>
                <div class="resultados-prestamos clearfix pb-28 pt-35 pv-21-xs ph-21-xs">
                  <div class="col-md-2 col-xs-4 pl-0">
                    <div class="search-img brp-100"><img src="{site_url}frontend/app/assets/img/Claudia_1.png" alt="" class="w-100"></div>
                  </div>
                  <div class="general-dates col-md-4 pv-7 col-xs-8 pl-7-xs pr-0-xs pb-0-xs">
                    <h3 class="text-gray-darker book m-0 display-ib pr-14 fz-20 lh-1">Claudia López</h3>
                    <h4 class="text-gray fz-14 m-0 book">Supervisor, Zona - Unidad</h4>
                    <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                    <span class="light fz-12">Empresa Empleadora</span>
                  </div>
                  <div class="monto-prestamo col-md-3 col-xs-8 col-md-offset-0 col-xs-offset-4 ph-7-xs pv-7 pv-0-xs text-center">
                    <span class="fz-12 btn-block">Solicitud de:</span>
                    <span class="text-gray-darker serif">s/.1200</span>
                  </div>
                  <div class="btn-group-prestamo col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-8 text-center ph-0 pv-21 pt-7-xs">
                    <button class="btn btn-default b-none col-xs-6 text-center aceptar">
                      <img src="{site_url}frontend/app/assets/img/check2.png" alt="" class="check1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_verde.png" alt="" class="check2 hidden visible-xs">
                    </button>
                    <button class="btn btn-default b-none col-xs-6 text-center rechazar">
                      <img src="{site_url}frontend/app/assets/img/ex.png" alt="" class="ex1 hidden-xs">
                      <img src="{site_url}frontend/app/assets/img/ex_rojo.png" alt="" class="ex2 hidden visible-xs">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/prestamo-control.js"></script>
</html>