<!-- <h2>Resultados de Boleta de Pago del mes de Marzo del 2015</h2>
<table>
{exp:webservice:boleta dni="27415554" periodo="201503"}
  <tr>
    <td>Código</td>
    <td>{Codigo}</td>
    <td>Fecha de Ingreso</td>
    <td>{FechaIngreso}</td>
  <tr>
  <tr>
    <td>Sueldo Básico</td>
    <td>S/. {SueldoBasico}</td>
    <td>Costo por hora</td>
    <td>S/. {CostoHora}</td>
  <tr>
  <tr>
    <td>Días Trabajados</td>
    <td>{DiasTrabajados}</td>
    <td>Horas Trabajadas</td>
    <td>{HorasTrabajadas}</td>
  <tr>
  <tr>
    <td>Horas Extras 25%</td>
    <td>{HorasExtras25}</td>
    <td>Horas Extras 35%</td>
    <td>{HorasExtras35}</td>
  <tr>
  <tr>
    <td>Horas Extras 100%</td>
    <td>{HorasExtras100}</td>
    <td>Inasistencia</td>
    <td>{Inasistencias}</td>
  <tr>
{/exp:webservice:boleta}
</table>
<h3>Haberes, Descuentos y Aportaciones</h3>
<table>
{exp:webservice:detalle_boleta dni="27415554" periodo="201503"}
    <tr>
      <td>Haber: {MontoHaberes}</td>
    </tr>
    <tr>
      <td>Descuento: {MontoDescuentos}</td>
    </tr>
    <tr>
      <td>Aportacion: {MontoAportaciones}</td>
    </tr>
{/exp:webservice:detalle_boleta}
</table>
 -->

{embed="includes/head"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content clearfix pb-42">
      <div class="container-md clearfix">
        {embed="includes/nav-secciones"}
        <section id="tareo-contenido" class="col-md-8 pb-42">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            <div class="boleta">
              <h2 class="fz-30 border-bottom-gray pb-7 pt-21 text-gray-darker">Boleta de pagos</h2>
              <div class="datos bg-white minh-140 pv-42 ph-42 mt-42">
                <div class="ph-14 ml-14 clearfix">
                  <span class="fz-16 text-gray-darker">Buscar el periodo</span>
                  <div class="btn-group month">
                    <button type="button" class="btn btn-default dropdown-toggle btn-dropdown mh-21" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mes <span class="pl-14"><img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt=""></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Enero</a></li>
                      <li><a href="#">Febrero</a></li>
                      <li><a href="#">Marzo</a></li>
                      <li><a href="#">Abril</a></li>
                      <li><a href="#">Mayo</a></li>
                      <li><a href="#">Junio</a></li>
                      <li><a href="#">Julio</a></li>
                      <li><a href="#">Agosto</a></li>
                      <li><a href="#">Setiembre</a></li>
                      <li><a href="#">Octubre</a></li>
                      <li><a href="#">Noviembre</a></li>
                      <li><a href="#">Diciembre</a></li>
                    </ul>
                  </div>
                  <div class="btn-group year">
                    <button type="button" class="btn btn-default dropdown-toggle btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Año <span class="pl-14"><img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt=""></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#"></a></li>
                      <li><a href="#">2005</a></li>
                      <li><a href="#">2006</a></li>
                      <li><a href="#">2007</a></li>
                      <li><a href="#">2008</a></li>
                      <li><a href="#">2009</a></li>
                      <li><a href="#">2010</a></li>
                      <li><a href="#">2011</a></li>
                      <li><a href="#">2012</a></li>
                      <li><a href="#">2013</a></li>
                      <li><a href="#">2014</a></li>
                      <li><a href="#">2015</a></li>
                    </ul>
                  </div>
                  <div class="imprimir btn btn-info">
                    <img src="{site_url}frontend/app/assets/img/Imprimir_Icon.png" alt="">
                    IMPRIMIR
                  </div>
                  <h3 class="text-gray-darker bold">Resultados del tareo del mes de mayo de 2015</h3>
                  <ul class="col-md-5 clearfix ph-0 pt-21 mb-0">
                    <li>
                      <span class="col-md-7 fz-17 text-gray-dark ph-0">Código</span>
                      <p class="col-md-5 fz-17 text-gray-darker ph-0">88839</p>
                    </li>
                    <li>
                      <span class="col-md-7 fz-17 text-gray-dark ph-0">Sueldo básico</span>
                      <p class="col-md-5 fz-17 text-gray-darker ph-0">S/8.50</p>
                    </li>
                    <li>
                      <span class="col-md-7 fz-17 text-gray-dark ph-0">Días Trabajados</span>
                      <p class="col-md-5 fz-17 text-gray-darker ph-0">30</p>
                    </li>
                    <li>
                      <span class="col-md-7 fz-17 text-gray-dark ph-0">Horas extras 25%</span>
                      <p class="col-md-5 fz-17 text-gray-darker ph-0">0.00</p>
                    </li>
                    <li>
                      <span class="col-md-7 fz-17 text-gray-dark ph-0">Horas extras 100%</span>
                      <p class="col-md-5 fz-17 text-gray-darker ph-0">8.00</p>
                    </li>
                  </ul>
                  <ul class="col-md-7 clearfix pl-7 pt-21 mb-0">
                    <li>
                      <span class="col-md-6 fz-17 text-gray-dark">Fecha de Ingreso</span>
                      <p class="col-md-6 fz-17 text-gray-darker pr-0">1 de Junio del 2013</p>
                    </li>
                    <li>
                      <span class="col-md-6 fz-17 text-gray-dark">Costo por hora</span>
                      <p class="col-md-6 fz-17 text-gray-darker">S/.5.15</p>
                    </li>
                    <li>
                      <span class="col-md-6 fz-17 text-gray-dark">Horas trabajadas</span>
                      <p class="col-md-6 fz-17 text-gray-darker">250</p>
                    </li>
                    <li>
                      <span class="col-md-6 fz-17 text-gray-dark">Horas extras 35%</span>
                      <p class="col-md-6 fz-17 text-gray-darker">0.00</p>
                    </li>
                    <li>
                      <span class="col-md-6 fz-17 text-gray-dark">Inasistencias</span>
                      <p class="col-md-6 fz-17 text-gray-darker">0.00</p>
                    </li>
                  </ul>
                  <ul class="haberes clearfix p-0 pt-21 mb-0">
                    <li class="fz-17 text-gray-darker"><h4>Haberes</h4></li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">Básico</span>
                      <p class="col-md-3 m-0">30.00</p>
                      <p class="col-md-3 m-0">750.00</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">Asignación familiar</span>
                      <p class="col-md-3 m-0">30.00</p>
                      <p class="col-md-3 m-0">75.00</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">Bonificación de la Unidad</span>
                      <p class="col-md-3 m-0">30.00</p>
                      <p class="col-md-3 m-0">170.00</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">Feriado Laboral y/o Desc.</span>
                      <p class="col-md-3 m-0">8.00</p>
                      <p class="col-md-3 m-0">66.33</p>
                    </li>
                    <li class="fz-17 text-gray-dark row pt-14">
                      <span class="col-md-5 ">Total haberes</span>
                      <p class="col-md-3"></p>
                      <p class="col-md-3">1,061.33</p>
                    </li>
                  </ul>
                  <ul class="decuentos clearfix p-0 pt-21 mb-0">
                    <li class="fz-17 text-gray-darker"><h4>Descuentos</h4></li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">SNP</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">750.00</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">Abono de quincena</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">75.00</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">Prestamos</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">170.00</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">1er Abono de fin de mes</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">66.33</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">2do Abono de fin de mes</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">66.33</p>
                    </li>
                    <li class="fz-17 text-gray-dark row pt-14">
                      <span class="col-md-5 ">Total Descuentos</span>
                      <p class="col-md-3"></p>
                      <p class="col-md-3">1,061.33</p>
                    </li>
                  </ul>
                  <ul class="aportaciones clearfix p-0 pt-21 pb-7 mb-0 border-bottom-gray-light">
                    <li class="fz-17 text-gray-darker"><h4>Aportaciones</h4></li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">ESSALUD</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">95.52</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">S.C.T.R - Salud(P)</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">4.25</p>
                    </li>
                    <li class="fz-17 text-gray-dark row">
                      <span class="col-md-5 ">S.C.T.R - Pensiones(P)</span>
                      <p class="col-md-3 m-0"></p>
                      <p class="col-md-3 m-0">3.710</p>
                    </li>
                    <li class="fz-17 text-gray-dark row pt-14">
                      <span class="col-md-5 ">Total Aportaciones</span>
                      <p class="col-md-3"></p>
                      <p class="col-md-3">1,061.33</p>
                    </li>
                  </ul>
                  <div class="total row">
                    <h4 class="bold text-gray-light col-md-8 fz-22">Neto a Pagar</h4>
                    <h4 class="bold text-gray-light col-md-3 fz-22">0.00</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed="includes/radio-urbe"}
  </div>
  <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}frontend/app/assets/js/scripts.min.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/dropdown.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
  <script src="{site_url}frontend/app/assets/js/scroll-control.js"></script>
</html>