{embed=includes/head}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main}
    <main class="site-content clearfix pb-42 minhp-100">
      <div class="container-md clearfix">
        {embed=includes/nav-secciones}
        <section id="tareo-contenido" class="col-md-8 pb-42">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            <div><h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker pt-21">Capacitaciones</h2></div>
            <div class="semaforo clearfix bg-info border-radius mt-28 ph-42 text-white">
              <div class="col-md-1 text-center">
                <img src="{site_url}frontend/app/assets/img/Check.png" alt="">
              </div>
              <div class="col-md-11 pb-7 pr-28 pl-0">
                <h3 class="fz-20 mb-7">Tu semáforo está en verde!</h3>
                <p class="fz-14 text-white lh-1-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, praesentium. Blanditiis ab voluptatem molestiae odit natus saepe asperiores..</p>
              </div>
            </div>
            <div class="capacitacion mt-35">
              <div class="datos bg-white pv-14 border-radius">
                <div class="pl-42 pb-14 border-bottom-gray-lighter">
                  <span class="fz-20 pl-42 ml-21"><a href="" class="curso text-gray-darker pb-14">Cursos</a></span>
                  <span class="fz-20 ml-42 pl-35"><a href="" class="otro text-gray-darker pb-14">Otros Cursos</a></span>
                  <span class="fz-20 ml-42 pl-35"><a href="" class="nuevo text-gray-darker pb-14">Nuevos Cursos</a></span>
                </div>
                <div class="lista-cursos ph-42 mh-42 pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Métodos de Seguridad</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-light">
                    <span class="col-md-4 fz-18">Nota</span>
                    <p class="col-md-8 fz-18 pb-21 text-gray-darker">10</p>
                  </div>
                </div>
                <div class="lista-cursos ph-42 mh-42 pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Métodos de Seguridad</p>
                  </div>
                  <div class="ph-21 row border-bottom-gray-light">
                    <span class="col-md-4 fz-18">Nota</span>
                    <p class="col-md-8 fz-18 pb-21 text-gray-darker">10</p>
                  </div>
                </div>
                <div class="lista-cursos ph-42 mh-42 pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Métodos de Seguridad</p>
                  </div>
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Nota</span>
                    <p class="col-md-8 fz-18 pb-21 text-gray-darker">10</p>
                  </div>
                </div>

                <div class="lista-otros hidden ph-42 mh-42 pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Mayo 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker pb-42">Métodos de Seguridad</p>
                    <a href="" class="fz-18 light text-success text-underline">Inscríbete</a>
                  </div>
                </div>
                <div class="lista-otros hidden ph-42 mh-42 pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Abril 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker pb-42">Métodos de Seguridad</p>
                    <a href="" class="fz-18 light text-success text-underline">Inscríbete</a>
                  </div>
                </div>

                <div class="lista-nuevos hidden ph-42 mh-42 pt-42 mt-14">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Setiembre 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker pb-42">Métodos de Seguridad</p>
                    <a href="" class="fz-18 light text-success text-underline">Inscríbete</a>
                  </div>
                </div>
                <div class="lista-nuevos hidden ph-42 mh-42 pt-35">
                  <div class="ph-21 row">
                    <span class="col-md-4 fz-18">Periodo</span>
                    <p class="col-md-8 fz-18 text-gray-darker">Octubre 2015</p>
                  </div>
                  <div class="ph-21 pb-24 row border-bottom-gray-lighter">
                    <span class="col-md-4 fz-18">Tema</span>
                    <p class="col-md-8 fz-18 text-gray-darker pb-42">Métodos de Seguridad</p>
                    <a href="" class="fz-18 light text-success text-underline">Inscríbete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}frontend/app/assets/js/scripts.min.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/dropdown.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/collapse.js"></script>
  <script src="{site_url}frontend/app/assets/js/scroll-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/lidercard-control.js"></script>
</html>