{if logged_out}
  {redirect="login"}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Muro"}
<div class="site-wrapper"> <!-- Body -->
  {embed="includes/nav-main" acceso_directo="Ir a tu información" link="{site_url}perfil/{member_id}"}
  <main class="site-content pb-70 minhp-100 mb-0" role="main">
    {embed="includes/menu-movil" miembro="{member_id}"}
    {embed="includes/banner-alerta"}
    <div class="container-md container-index  pt-42 clearfix ph-14 pb-70-xs">
      <div id="box-left" class="col-md-8 pl-0 ph-0-xs">
        {embed="includes/wall"}
      </div>
      <div id="box-right" class="col-md-4 pl-21 pr-0 hidden-xs hidden-sm">
        {embed="includes/modulo-noticias"}
      </div>
    </div>
  </main>
  {embed="includes/radio-urbe"}
</div>
{embed="includes/footer"}
<script src="{site_url}frontend/app/assets/js/aviso-control.js?v=1"></script>
<script src="{site_url}frontend/app/assets/js/textarea-control.js?v=1"></script>
<script src="{site_url}frontend/app/assets/js/publish.js?v=1"></script>
<script src="{site_url}js/status-loader?v=1"></script>
<script src="{site_url}js/wall?v=1"></script>
</html>