{if logged_out}
  {redirect="login"}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Muro"}

<div class="site-wrapper"> <!-- Body -->
  {embed="includes/nav-main" acceso_directo="Ir a tu información" link="{site_url}perfil/{member_id}"}
  <main class="site-content pb-70 minhp-100 mb-0" role="main">
    {embed="includes/menu-movil"}
    {embed="includes/banner-alerta"}
    <div class="container-md container-index  pt-42 clearfix ph-14 pb-70-xs">
      <div id="box-left" class="col-md-8 pl-0 ph-0-xs">
        <section id="comentar" class="bg-white">
          <div id="error-message" class="absolute hidden-xs hidden-sm"></div>
          <div id="error-categoria" class="absolute hidden-xs hidden-sm"></div>
          {exp:wall:status_form return="wall" form_id="status_form" form_class="bg-success" enctype="multipart/form-data"}
            <div class="contenedor-select bg-success text-right pl-21 ph-0-xs">
              <div class="select-style display-ib text-center ph-14">
                <select name="status_category" id="status_category" class="ph-21-xs fz-14 text-white borderless light serif w-100 pt-7" style="background-image: url({site_url}frontend/app/assets/img/Flecha-para-abajo.png);">
                  {exp:status_category:all}
                    <option value="{category_id}" class="bg-success">{category_name}</option>
                  {/exp:status_category:all}
                </select>
              </div>
            </div>
            <textarea id="wall_status" name="wall_status" class="form-control outline-none serif fz-18 borderless br-none pv-14 ph-14" onkeyup="auto_grow(this)" placeholder="Chatea aquí..." min-length="1" max-length="512"></textarea>
            <div class="container-photos bg-white" style="">
              <div id='photos-post' class='relative'><img src='{site_url}frontend/app/assets/img/ex_rojo.png' class='close-image close-display absolute' style='z-index:10000'></div>
            </div>
            <div class="fileUpload file_input btn btn-success p-0 ml-21 mt-7-xs">
              <img src="{site_url}frontend/app/assets/img/Icono_Foto.png" alt="">
              <span class="thin fz-12 pl-14 hidden-xs hidden-sm">Subir imagen</span>
              <span class="thin fz-14 pl-14 serif hidden-lg hidden-md">Subir imagen</span><!--movil-->
              <input type="file" id="inputFile" name="status_image" class="upload" accept="image" /> 
            </div>
            <button type="submit" name="submit" id="submit-post" class="btn bg-primary text-white text-hover-white fz-12 ph-21 ph-14-xs mv-7 absolute" style="border: 1px solid #e7e7e7;">
             PUBLICAR
             <img src="{site_url}frontend/app/assets/img/Publicar_Dialogo.png" alt="" class="pl-14">
            </button>
          {/exp:wall:status_form}
        </section>
        {embed="includes/loader"}
        {embed="includes/alerta-publicaciones"}
        <section id="new_post" class="pokerface hidden">
        </section>
        <section id="post" class="pokerface">
          {embed="includes/status" offset="0"}
        </section>
      </div>
      <div id="box-right" class="col-md-4 pl-21 pr-0 hidden-xs hidden-sm">
        {embed="includes/modulo-noticias"}
      </div>
    </div>
  </main>
  {embed="includes/radio-urbe"}
</div>
{embed="includes/footer"}
<script src="{site_url}frontend/app/assets/js/aviso-control.js"></script>
<script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
<script src="{site_url}frontend/app/assets/js/publish.js"></script>
<script src="{site_url}includes/status-loader"></script>
<script>
    /*PREVISUALIZACION IMAGEN*/
      function setImageFromInputFile(inputImage, imageContainer) {
        if (inputImage.files) {
          var file = inputImage.files[0];
          if (file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e) {
              document.getElementById(imageContainer).style.backgroundImage = "url('" + e.target.result + "')";
            }
          };
        };
      }
      $("#inputFile").change(function() {
        if ($(this).val()) {
          $(".container-photos").addClass("pt-7 pb-21 pl-21");
          $("#photos-post").attr("style", "border: 1px solid #e7e7e7; width:120px; height:120px; background-size:cover; background-position:center; z-index:1");
          $(".close-image").addClass("btn-block");
          $(".close-image").removeClass("close-display");
          setImageFromInputFile(this, "photos-post");
          $("#photos-post").show();
        }
      });
      $(".close-image").on("click", function(){
        $("#photos-post").css('background-image', "url('')");
        $("#inputFile").val('');
        $("#photos-post").hide();
        $(".close-image").removeClass("btn-block");
        $(".close-image").addClass("close-display");
      });
</script>
<script src="{site_url}frontend/app/assets/js/smooth-scroll.js"></script>
<script src="{site_url}frontend/app/assets/js/fancywebsocket.js"></script>
<script src="{site_url}frontend/app/assets/js/wall.js"></script>
<script>
  var Server;

  function log( text ) {
    console.log(text);
  }

  function send( text ) {
    Server.send( 'message', text );
  }

  $(document).ready(function() {
    log('Connecting...');
    Server = new FancyWebSocket('ws://52.20.3.133:9300');

    $("#status_form").submit(function(e) {
      e.preventDefault();
      $("#submit-post").attr("disabled", true);
      var friends_status = $("#wall_status").val();
      var status_category = $("#status_category").val();
      if (status_category == 0) {
        $('#error-categoria').html('<img src="{site_url}frontend/app/assets/img/categoria2.png">');
        $("#submit-post").removeAttr("disabled");
        return;
      } else {
        $("#error-categoria").empty();
      };
      if(friends_status.trim().length == 0 || friends_status.trim() == "") {
        $('#error-message').html('<img src="{site_url}frontend/app/assets/img/mensaje.png">');
        $("#submit-post").removeAttr("disabled");
        return;
      } else {
        $("#error-message").empty();
      };
      var form = $(this);
      var url = form.attr("action");
      var data = form.serialize();
      var formData = new FormData(form[0]);

      $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        async: false,
        success: function(result) {
          send(result);
          $.ajax({
            method: 'GET',
            url: '{site_url}wall/new_post/' + result + '/{member_group}'
          })
          .done(function(post) {
            $("#wall_status").val('');
            $("#status_category").val('0');
            $("#photos-post").css('background-image', "url('')");
            $("#inputFile").val('');
            $("#photos-post").hide();
            $("#post").prepend(post);
            $("#submit-post").removeAttr("disabled");
          })
          .fail(function(error) {
            $("#submit-post").removeAttr("disabled");
          });
        },
        error: function(result) {
          $("#submit-post").removeAttr("disabled");
        },
        cache: false,
        contentType: false,
        processData: false
      });
    });
    /*$('#message').keypress(function(e) {
      if ( e.keyCode == 13 && this.value ) {
        log( 'You: ' + this.value );
        send( this.value );

        $(this).val('');
      }
    });*/

    //Let the user know we're connected
    Server.bind('open', function() {
      log( "Connected." );
    });

    //OH NOES! Disconnection occurred.
    Server.bind('close', function( data ) {
      log( "Disconnected." );
    });

    //Log any messages sent from server
    Server.bind('message', function( payload ) {
      $.ajax({
        method: 'GET',
        url: '{site_url}wall/new_post/' + payload + '/{member_group}'
      })
      .done(function(post) {
        $("#new_post").prepend(post);
        $("#new_post_count").text($("#new_post").find(".post-1").length);
        $("#alert-publication").fadeIn().delay(5000).fadeOut();
      });
    });

    Server.connect();
  });
</script>
</html>
