{if logged_out}
  {redirect="login"}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Editar Perfil"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed=includes/nav-main}
    <main class="site-content pb-42 mb-0-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix mb-42-xs pb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          {embed=includes/nav-secciones in="in"}
        </section>
        {exp:user:edit member_id="{segment_3}"}
        <section id="perfil-contenido" class="col-md-8 pb-42 pl-21 pr-28 ph-7-xs">
          <div class="container pt-42 w-100 pb-42 mb-42 ph-0">
            <div class="perfil-servicios clearfix bg-white pv-21 ph-21 ph-7-xs hidden-lg hdden-md">
              <div class="col-md-4 pr-0 pt-21 pl-0-xs">
                <div style="background-image:url({site_url}frontend/app/assets/img/Herman_Profile_Pic.png)" class="bg-img-block-center">
                </div>
              </div>
              <div class="col-md-8 ph-0 pt-14 hidden-lg hdden-md">
                <h3 class="text-primary book m-0 display-ib pr-14 fz-35 pr-0-xs">{screen_name}</h2> 
                <h4 class="text-gray fz-21 m-0 pt-7 pb-14 book">Supervisor, Zona - Unidad</h4>
                <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                <span class="light fz-20">Empresa Empleadora</span>
              </div>
            </div>
            <div class="formulario">
              <form class="fz-18">
                <div class="row mb-42">
                  <div class="col-md-5 pr-0 hidden-xs hdden-sm">
                    {if photo_filename == null}
                    <div id="profile_picture" style="background-image:url({site_url}frontend/app/assets/img/Herman_Profile_Pic.png)" class="foto-editable bg-img-block-center brp-100">
                    {if:else}
                    <div id="profile_picture" style="background-image:url({photo_url}{photo_filename})" class="foto-editable bg-img-block-center brp-100">
                    {/if}
                      <div class="overlay-foto ebm-overlay ml-14 brp-100 text-center">
                        <div class="fileUpload">
                          <span class="relative"><img src="{site_url}frontend/app/assets/img/camera.png" alt=""></span>
                          <input id="photo_profile" type="file" name="photo_filename" class="upload ebm-overlay" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7 pl-28 pt-14 ph-21-xs pt-0-xs">
                    <h3 class="text-primary book m-0 display-ib pr-14 fz-30 hidden-xs hdden-sm">{nombres}</h3> 
                    <h4 class="text-gray fz-16 m-0 pt-7 book hidden-xs hdden-sm">{cargo}</h4>
                    <textarea class="fz-16 p-14 w-100 mt-21 serif minhp-20 lh-1-5" onkeyup="auto_grow(this)" name="introduccion" placeholder="Este puede ser texto de Introducción del Liderman para que la gente sepa quién es esa persona.">{introduccion}</textarea>
                  </div>
                </div>
                Nombre de Usuario <br>
                <input type="text" name="screen_name" id="" class="minh-50 w-100 mb-28 p-14" value="{screen_name}">
                Correo Electrónico <br>
                <input type="text" name="email-perfil" id="" class="minh-50 w-100 mb-28 p-14" value="{email-perfil}">
                Teléfono <br>
                <input type="text" name="celular" id="" class="minh-50 w-100 mb-28 p-14" value="{celular}">
                Ciudad <br>
                <input type="text" name="ciudad" id="" class="minh-50 w-100 mb-28 p-14" value="{ciudad}">
                Dirección:<br>
                <textarea type="text" name="direccion" onkeyup="auto_grow(this)" class="minh-70 w-100 mb-28 p-14">{direccion}</textarea>
                <br>
                Intereses:<br>
                <textarea type="text" name="interes" onkeyup="auto_grow(this)" class="minh-70 w-100 p-14">{interes}</textarea>
                <button type="submit" class="btn btn-enviar btn-perfil text-white text-hover-white br-none ph-21 thin ls-2 mt-42">
                  <span>PUBLICAR</span>
                  <img src="{site_url}frontend/app/assets/img/Flecha_Publicar.png" alt="" class="pl-14">
                </button>
              </form>
            </div>
          </div>
        </section>
        {/exp:user:edit}
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script type="text/javascript">
    $(document).ready(function() {
      function setImageFromInputFile(inputImage, imageContainer) {
        if (inputImage.files) {
          var file = inputImage.files[0];
          if (file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e) {
              document.getElementById(imageContainer).style.backgroundImage = "url('" + e.target.result + "')";
            }
          };
        };
      }
      $("#photo_profile").change(function() {
        setImageFromInputFile(this, "profile_picture");
      })
    });
  </script>
</html>