{if logged_out}
  {redirect="login"}
{/if}

{embed=includes/head titulo="Mundo Liderman - Perfil"}
<link href="{site_url}frontend/app/assets/css/jquery.filer.css" type="text/css" rel="stylesheet" />
<link href="{site_url}frontend/app/assets/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
  
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content clearfix pb-42 mb-0-xs">
      {embed="includes/menu-movil"}
      {embed="includes/banner-alerta"}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md pb-42-xs mb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-0-xs">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios miembro="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}" miembro_actual="{member_id}"}
            <div class="bg-gray-lighter ph-21 pv-7 relative" style="top: -10px">
              <div class="texto-premio float-left"><span class="serif fz-14">Indicar Liderman como:</span></div>
              <div class="reconocimientos float-right text-right">
                {exp:wall:member_premium_form member_id="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}" form_class="display-ib" miembro_actual="{member_id}" return="perfil/{if segment_2 == 'index'} {segment_3}{if:else}{segment_2}{/if}"}
                <a id="btn-premium" class="pr-21 text-gray reconocer" style="cursor:pointer" data-img="img-premium" data-img-resp="premium-resp">Premium</a>
                {/exp:wall:member_premium_form}|
                {exp:wall:member_prominent_form member_id="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}"
                form_class="display-ib" miembro_actual="{member_id}" return="perfil/{if segment_2 == 'index'} {segment_3}{if:else}{segment_2}{/if}"}
                <a id="btn-destacado" class="pl-21 text-gray reconocer" style="cursor:pointer" data-img="img-destacado" data-img-resp="destacado-resp">Destacado</a>
                {/exp:wall:member_prominent_form}
              </div>
            </div>
              <div id="comentar" class="bg-white mt-42">
                {exp:wall:status_form return="wall" form_id="status_form" form_class="bg-success" enctype="multipart/form-data"}
                  <div class="bg-success text-right ph-21">
                    <div class="select-style display-ib text-center">
                      <select name="status_category" id="status_category" class="fz-14 text-white borderless light serif w-100 pt-7">
                        {exp:status_category:all}
                          <option value="{category_id}" class="bg-success">{category_name}</option>
                        {/exp:status_category:all}
                      </select>
                    </div>
                  </div>
                  <textarea id="wall_status" name="wall_status" class="form-control outline-none serif fz-18 borderless br-none pv-14 ph-14" onkeyup="auto_grow(this)" placeholder="Qué estás pensando..."></textarea>
                  <div class="galery-photos"></div>
                  <div class="fileUpload file_input btn btn-success p-0 ml-21" data-jfiler-name="files" data-jfiler-extensions="jpg, jpeg, png, gif">
                    <img src="{site_url}frontend/app/assets/img/Icono_Foto.png" alt="">
                    <span class="thin fz-12 pl-14 hidden-xs hidden-sm">Subir imagen</span>
                    <span class="thin fz-16 pl-14 serif hidden-lg hidden-md">Subir imagen</span><!--movil-->
                    <!-- <input type="file" id="inputFile" name="status_image" class="upload" accept="image" /> -->
                  </div>
                  <button type="submit" name="submit" class="btn bg-warning text-white text-hover-white fz-12 ph-21 mv-7 absolute hidden-xs hidden-sm">
                   PUBLICAR
                   <img src="{site_url}frontend/app/assets/img/Publicar_Dialogo.png" alt="" class="pl-14">
                  </button>
                {/exp:wall:status_form}
              </div>
              {exp:wall:status member_id="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}"}
                <div class="post-1 post bg-white pl-28 pr-42 pt-28 pb-28 mt-42 ph-14-xs">
                  <div class="clearfix">
                    <div class="col-xs-2 pr-0 pl-7 pt-7-xs">
                      <div class="img-perfil bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Carita.png)"></div>
                    </div>
                    <div class="name col-xs-10 pl-0 pl-14-xs">
                      <div class="info-usuario pl-7 row">
                        <div class="col-md-9 hidden-xs hidden-sm">
                          <span class="categoria text-uppercase fz-10 text-primary le-1-5">{post_category_name}</span>
                          <span class="fz-10 text-gray-dark pl-7"><a href="">editar</a></span>
                          <h5 class="text-gray-darker m-0">{post_screen_name}</h5>
                          <p class="fz-10 m-0 text-gray pt-7-xs"><a href="">{post_status_date:relative past="%s ago"}</a></p>
                        </div>
                        <div class="col-xs-9 hidden-lg hidden-md">
                          <span class="categoria text-uppercase fz-13 text-primary le-1-5">{post_category_name}</span>
                          <h5 class="text-gray-darker m-0 fz-22">{post_screen_name}</h5>
                          <p class="fz-14 m-0 text-gray pt-7-xs"><a href="">{post_status_date:relative past="%s ago"}</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-xs-12 pl-0 ph-0-xs">
                      <p class="parrafo pt-14 ph-7 text-gray-darker">{post_content}</p>
                      {if post_image_path}
                        <div class="img-publicacion w-100 ph-7 pt-14 text-center"><img src="{site_url}{post_image_path}" alt="" class="w-100"></div>
                      {/if}
                      <div class="clearfix ph-0 mh-7 thin text-gray pt-7 pb-7 border-bottom-gray-lighter fz-12">
                        <ul class="col-xs-7 ph-0 mv-0">
                          <li class="pr-7 display-ib">
                            <a href="" class="btn-comentar text-not-underline hidden-xs hidden-sm">Comentar &nbsp</a>
                            <a href="" class="btn-comentar text-not-underline fz-15 hidden-lg hidden-md">Comentar &nbsp</a><!--movil-->
                            <img src="{site_url}frontend/app/assets/img/Icono_Comentar.png" alt="">
                          </li>
                          {exp:wall:like_post_form form_id="" form_class="display-ib" post_id="{post_id}"}
                          <li class="pl-14 like-container">
                            <a href="" class="like text-not-underline hidden-xs hidden-sm">Me gusta &nbsp</a>
                            <a href="" class="like text-not-underline fz-15 hidden-lg hidden-md">Me gusta &nbsp</a><!--movil-->
                            <img src="{site_url}frontend/app/assets/img/corazon_02.png" alt="" class="img-like">
                            <img src="{site_url}frontend/app/assets/img/corazon_01.png" alt="" class="img-like hidden">
                          </li>
                          {/exp:wall:like_post_form}
                        </ul>
                        <ul class="col-xs-5 ph-0 mv-0 text-right">
                          <li class="display-ib">
                            <a href="" class="contador-like text-not-underline hidden-xs hidden-sm">2 &nbsp</a>
                            <a href="" class="contador-like text-not-underline fz-15 hidden-lg hidden-md">2 &nbsp</a><!--movil-->
                            <img src="{site_url}frontend/app/assets/img/Icono_Corazon.png" alt="">
                          </li>
                          <li class="display-ib pl-7">
                            <a href="" class="comment text-not-underline hidden-xs hidden-sm">&nbsp 1 comentarios &nbsp</a>
                            <a href="" class="comment text-not-underline fz-15 hidden-lg hidden-md">&nbsp 1 comentarios &nbsp</a><!--movil-->
                          </li>
                        </ul>
                      </div>
                      <div class="comentar scroll-down pt-21 pt-35-xs hidden">
                        <div class="area-respuesta pb-7 clearfix hidden">
                          <div class="col-xs-2 pr-0">
                            <div class="img-respuesta bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Carita.png)"></div>
                          </div>
                          <div class="col-xs-10 lh-1 pl-0 pl-21-xs hidden-xs hidden-sm">
                            <span class="fz-14 text-success pr-7">{screen_name}</span>
                            {exp:wall:comment_post_form form_id="" form_class=""}
                            <textarea style="height:28px; border: 1px solid #e7e7e7;" name="comment" id="" onkeyup="auto_grow(this)" placeholder="Escribe un comentario..." class="w-100 mt-7 fz-14 light p-7 serif text-gray-darker book" min-length="1"></textarea>
                            <input type="submit" name="submit_comment_{post_id}" id="submit_comment" class="comment_submit hidden">
                            {/exp:wall:comment_post_form}
                          </div>
                          <div class="col-xs-10 lh-1 pl-0 pl-21-xs hidden-lg hidden-md">
                            <span class="fz-20 text-success pr-7">Santiago López</span>
                            <textarea name="text" id="" onkeyup="auto_grow(this)" placeholder="Escribe un comentario..." class="w-100 mt-7 fz-17 light p-7 serif text-gray-darker book"></textarea>
                          </div>
                        </div>
                        {exp:wall:comment post_id="{post_id}"}
                        <div class="clearfix conteiner-answer pv-7">
                          <div class="col-xs-2 pr-0">
                            <div class="img-respuesta bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Carita.png)"></div>
                          </div>
                          <div class="col-xs-10 lh-1 pl-0 pl-21-xs">
                            <span class="fz-14 text-success pr-7">{comment_screen_name}</span>
                            <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
                            <span class="text-gray fz-10 light pl-7">{comment_date:relative past="%s ago"}</span>
                            <p class="fz-14 pt-7 mb-0 pb-7 parrafo">{comment}</p>
                          </div>
                          <div class="cuadro-respuesta clearfix pt-21 ph-0 hidden col-md-10 col-md-offset-2 col-xs-12 hidden-xs hidden-sm">
                            <div class="col-xs-2 pr-0">
                              <div class="img-respuesta bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Carita.png)"></div>
                            </div>
                            <div class="col-xs-10 pl-0 pl-21-xs">
                              <span class="fz-14 text-success pr-7">{screen_name}</span>
                              <textarea name="text" id="" onkeyup="auto_grow(this)" style="height:28px; border: 1px solid #e7e7e7;" placeholder="Escribe una respuesta..." class="w-100 mt-7 fz-14 light ph-7 serif text-gray-darker book"></textarea>
                            </div>
                          </div>
                        </div>
                        {/exp:wall:comment}
                      </div>
                    </div>
                  </div>
                </div>
              {/exp:wall:status}
          </div>
        </section>
      </div>
    </main>
    {embed=includes/radio-urbe}
  </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/aviso-control.js"></script>
  <script>
    $(document).ready(function() {
      $("#uploadImage").on("click", function(e) {
        e.preventDefault();
        $("#inputFile").trigger("click");
      });

      $("#status_form").attr("enctype", "multipart/form-data");
      $("#status_form").submit(function(e) {
        $friends_status = $("#friends_status").val();
        $status_category = $("#status_category").val();
        if ($status_category == 0) {
          e.preventDefault();
          return;
        };
        if($friends_status.trim().length == 0 || $friends_status.trim() == "") {
          e.preventDefault();
          return;
        }
      });
    });
  </script>
  <script src="{site_url}frontend/app/assets/js/jquery.filer.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.file_input').filer({
          showThumbs: true,
          appendTo: "#status_form .galery-photos", 
          templates: {
              box: '<ul class="jFiler-item-list clearfix" style="background-color: white;"></ul>',
              item: '<li class="jFiler-item">\
                          <div class="jFiler-item-container mb-0">\
                              <div class="jFiler-item-inner">\
                                  <div class="jFiler-item-thumb">\
                                      <div class="jFiler-item-status"></div>\
                                      <div class="jFiler-item-info">\
                                          <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                      </div>\
                                      {{fi-image}}\
                                  </div>\
                                  <div class="jFiler-item-assets jFiler-row">\
                                      <ul class="list-inline pull-right">\
                                          <li><a class="icon-jfi-trash jFiler-item-trash-action absolute fz-35 thin" style="top:-25px; right:5px;">&times;</a></li>\
                                      </ul>\
                                  </div>\
                              </div>\
                          </div>\
                      </li>',
              itemAppend: '<li class="jFiler-item">\
                          <div class="jFiler-item-container mb-0">\
                              <div class="jFiler-item-inner">\
                                  <div class="jFiler-item-thumb">\
                                      <div class="jFiler-item-status"></div>\
                                      <div class="jFiler-item-info">\
                                          <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                      </div>\
                                      {{fi-image}}\
                                  </div>\
                                  <div class="jFiler-item-assets jFiler-row">\
                                      <ul class="list-inline pull-right">\
                                          <li><a class="icon-jfi-trash jFiler-item-trash-action absolute fz-35 thin" style="top:-25px; right:5px;">&times;</a></li>\
                                      </ul>\
                                  </div>\
                              </div>\
                          </div>\
                      </li>',
              progressBar: '<div class="bar"></div>',
              itemAppendToEnd: false,
              removeConfirmation: false,
              _selectors: {
                  list: '.jFiler-item-list',
                  item: '.jFiler-item',
                  progressBar: '.bar',
                  remove: '.jFiler-item-trash-action',
              }
          },
          addMore: true,
          captions: {
                errors: {
                    filesType: "Este formato no está permitido.",
                }
            }
      });
    });
  </script>
</html>