{if logged_out}
  {redirect="login"}
{/if}

{embed=includes/head titulo="Mundo Liderman - Perfil"}
<link rel="stylesheet" href="https://unpkg.com/flickity@1.2/dist/flickity.min.css">
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main" acceso_directo="Ir al muro" link="{site_url}"}
    <main class="site-content clearfix pb-42 mb-0">
      {embed="includes/menu-movil" miembro="{member_id}"}
      {embed="includes/banner-alerta"}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md pb-42-xs mb-42-xs">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
          {embed=includes/nav-secciones in="in" miembro="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}" miembro_actual="{member_id}" grupo="{member_group}"}
        </section>
        <section id="tareo-contenido" class="col-md-8 pb-42 ph-0-xs">
          {embed=includes/slide-noticias}
          <div class="container pt-21 w-100 ph-0">
            {embed=includes/perfil-servicios miembro="{segment_2}" miembro_actual="{member_id}"}
            {if member_group == 6}
              <div class="bg-gray-lighter ph-21 pv-7 relative" style="top: -10px">
                <div class="texto-premio float-left"><span class="serif fz-14">Indicar Liderman como:</span></div>
                <div class="reconocimientos float-right text-right">
                  {exp:wall:member_premium_form member_id="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}" form_class="display-ib" miembro_actual="{member_id}" return="perfil/{if segment_2 == 'index'} {segment_3}{if:else}{segment_2}{/if}"}
                  <a id="btn-premium" class="pr-21 text-gray reconocer" style="cursor:pointer" data-img="img-premium" data-img-resp="premium-resp">Premium</a>
                  {/exp:wall:member_premium_form}|
                  {exp:wall:member_prominent_form member_id="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}"
                  form_class="display-ib" miembro_actual="{member_id}" return="perfil/{if segment_2 == 'index'} {segment_3}{if:else}{segment_2}{/if}"}
                  <a id="btn-destacado" class="pl-21 text-gray reconocer" style="cursor:pointer" data-img="img-destacado" data-img-resp="destacado-resp">Destacado</a>
                  {/exp:wall:member_prominent_form}
                </div>
              </div>
            {/if}
            {embed="includes/wall" miembro="{if segment_2 == 'index'} {segment_3} {if:else} {segment_2} {/if}"}
          </div>
        </section>
      </div>
    </main>
    {embed="includes/radio-urbe"}
  </div>
  {embed="includes/footer"}
  <script src="{site_url}frontend/app/assets/js/aviso-control.js?v=1"></script>
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/textarea-control.js?v=1"></script>
  <script src="{site_url}frontend/app/assets/js/publish.js?v=1"></script>
  <script src="{site_url}js/status-loader?v=1"></script>
  <script src="{site_url}js/wall?v=1"></script>
  <script src="{site_url}frontend/app/assets/js/flickity.pkgd.min.js"></script>
</html>