{if logged_out}
  {redirect="login"}
{/if}

{embed="includes/head" titulo="Mundo Liderman - Muro"}

<div class="site-wrapper"> <!-- Body -->
  {embed="includes/nav-main"}
  <main class="site-content pb-70 minhp-100 mb-0-xs" role="main">
    {embed="includes/menu-movil"}
    {embed="includes/banner-alerta"}
    <div class="container-md container-index  pt-42 clearfix mb-70 ph-14 pb-70-xs">
      <div id="box-left" class="col-md-8 pl-0 ph-0-xs">
        <div class="nombre-busqueda mb-21 hidden-lg hidden-md">
            <img src="{site_url}frontend/app/assets/img/Icono_Buscar.png" alt="" class="pr-14 pb-7">
            <span class="fz-26">Buscaste a: {keywords}</span>
          </div>
          <section id="search-results" class="bg-white minhp-100">
            {exp:user:results}
            <div class="resultados clearfix pb-28 pt-35 ph-21-xs">
              <div class="col-md-2 col-xs-5 col-md-offset-1">
                <div class="search-img brp-100"><img src="{site_url}frontend/app/assets/img/Claudia_1.png" alt="" class="w-100"></div>
              </div>
              <div class="col-md-6 col-xs-7 pl-7-xs pr-0-xs">
                <h3 class="text-gray-darker book m-0 display-ib pr-14 fz-26 lh-1">{screen_name}</h3>
                <h4 class="text-gray fz-16 m-0 pb-7 book">{if cargo == ""}Cargo{if:else}{cargo}{/if}, {if zona == ""}Zona{if:else}{zona}{/if} - {if unidad == ""}Unidad{if:else}{unidad}{/if}</h4>
                <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                <span class="light">{if empresa-empleadora == ""}Liderman{if:else}{empresa-empleadora}{/if}</span>
              </div>
              <div class="col-md-3 text-right pr-28 hidden-xs hidden-sm">
                <div class="btn btn-default btn-outline btn-gray-light hover-primary pv-0 br-none">
                  <a href="{site_url}perfil/{member_id}"><span class="fz-12">Visitar Perfil</span></a>
                </div>
              </div>
            </div>
            {if user_no_results}
            <div id="box-left" class="col-md-8 pl-0 ph-0-xs minhp-100">
              <div class="nombre-busqueda mb-21 hidden-lg hidden-md">
                <img src="assets/img/Icono_Buscar.png" alt="" class="pr-14 pb-7">
                <span class="fz-26">Buscaste a: {keywords}</span>
              </div>
              <div><p class="aviso-error pt-70 mt-70">Tu búsqueda no ha generado resultados.</br>Intenta de nuevo.</p></div>
            </div>
            {/if}
            {/exp:user:results}
          </section>
      </div>
      <div id="box-right" class="col-md-4 pl-21 pr-0 hidden-xs hidden-sm">
        {embed="includes/modulo-noticias"}
      </div>
    </div>
  </main>
  {embed="includes/radio-urbe"}
</div>

{embed="includes/footer"}
<script src="{site_url}frontend/app/assets/js/aviso-control.js"></script>
<script src="{site_url}frontend/app/assets/js/textarea-control.js"></script>
</html>