{exp:channel:entries channel="noticias" limit="1}
{embed="includes/header"}
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content pb-70" role="main">
      <div class="container-md container-index  pt-42 clearfix mb-70 ph-21">
        <div id="box-left" class="col-md-8 pl-0">
          <section id="post">
            <div class="post-1">
            <h3 class="mt-14">{title}</h3>
            <div class="clearfix pt-14">
              <div class="col-md-2 pr-0 pl-7">
	              {noticias_imagen}
                <div class="img-perfil bg-img-block-center brp-100" style="background-image: url({image:url})"></div>
                {/noticias_imagen}
              </div>
              <div class="name col-md-10 pl-0">
                <span class="categoria text-uppercase fz-10 text-primary le-1-3">Tengo una consulta</span>
                <h5 class="text-gray-darker m-0">Ivo Sanoa</h5>
                <p class="fz-10 m-0 text-gray"><a href="">Hace 3 horas</a></p>
              </div>
            </div>
            <div class="publicacion bg-white p-42 mt-35 border-radius">
              <div class="triangulo-llamada"></div>
              <div class="pv-7">
                <div class="img-publicacion w-100 ph-7 text-center"><img src="assets/img/Foto3.png" alt="" class="w-100"></div>
              </div>
              <div class="texto fz-18 mt-42 pt-14 lh-1-5 mb-ch-28">
                {noticias_contenido}
              </div>
            </div>
            </div>
          </section>
        </div>
        <div id="box-right" class="col-md-4 pl-21 pr-0">
          {embed="includes/modulo-noticias"}
        </div>
      </div>
    </main>
{/exp:channel:entries}    
    {embed="includes/radio-urbe"}
  </div>
{embed="includes/footer"}
