/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {
	h1, h2, h3, h4, h5, span {
	font-family: $font-family-sans-serif;
	}
	p {
		font-family: $font-family-serif ;
		color: rgb(74, 74, 74);
	}
	a:hover {
		text-decoration: none;
	}
	ul {
		list-style: none;
	}
	/*UTILITIES*/
	.fz-8 {
		font-size: 8px;
		font-size: rem(8px);
	}
	.fz-10 {
		font-size: 10px;
		font-size: rem(10px);
	}
	.fz-18 {
		font-size: 18px;
		font-size: rem(18px);
	}
	.fz-16 {
		font-size: 16px;
		font-size: rem(16px);
	}
	.fz-17 {
		font-size: 17px;
		font-size: rem(17px);
	}
	.fz-12 {
		font-size: 12px;
		font-size: rem(12px);
	}
	.fz-14 {
		font-size: 14px;
		font-size: rem(14px);
	}
	.fz-20 {
		font-size: 20px;
		font-size: rem(20px);
	}	
	.fz-22 {
		font-size: 22px;
		font-size: rem(22px);
	}
	.fz-28 {
		font-size: 28px;
		font-size: rem(28px);
	}
	.fz-30 {
		font-size: 30px;
		font-size: rem(30px);
	}
	.w-100 {
		width: 100%;
	}
	.parrafo {
		line-height: 1.5;
		font-size: 14px;
		font-size: rem(14px);
	}
	.br-none {
		border-radius: 0!important;
	}
	.b-none {
		border: none;
	}
	.float-left {
		float: left;
	}
	.display-ib {
		display: inline-block;
	}
	.outline-none {
		outline: none!important;
	}
	.lh-0 {
		line-height: 0;
	}
	.lh-1 {
		line-height: 1;
	}
	.lh-1-5 {
		line-height: 1.5;
	}
	.serif {
		font-family: $font-family-serif;
	}
	.letter-spacing-1-5 {
		letter-spacing: 1.5;
	}
	.w-6 {
		width: 6px;
	}
	.text-gray-dark2 {
		color: rgb(80, 80, 80);
	}
	.rotate-180 {
		@include transform(rotate(180deg));
	}
	.pb-4 {
		padding-bottom: 4px;
	}
	.img-perfil {
		width: 56px;
		height: 56px;
		border-radius: 100%;
		background-size: cover;
		background-position: center;
	}
}

.site-wrapper,
.site-content {
	position: relative;
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}


/*MENÚ*/
header {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
	h1 {
		font-size: 30px;
		font-size: rem(30px);
	}
	.alerta {
		span {
			font-size: 13px;
			font-size: rem(13px);
		}
	}
	.perfil {
		width: 45px;
		height: 45px;
		background-size: cover;
	}
}
/*CONTENIDO*/
.site-content {
	background-color: rgba(240, 240, 240, 0.45);
	.container-index {
		top: 114px;
		position: relative;
	}
}

.tool-bar-search-form {
	border-radius: 20px;
	border: 1px solid rgb(210, 210, 210);
	overflow: hidden;
	height: 36px;
	.input-group input {
		@include placeholder {
	    color: rgb(226, 226, 226);
	  }
	  width: 90%;
	  box-shadow: none;
	  font-size: 16px;
	  font-size: rem(16px);
	}
}
#comentar {
	border-radius: 5px;
	border: 1px solid rgb(185, 163, 128);
	border-top: 2px solid rgb(197, 180, 151);
	input { 
		border: 0;
		height: 80px;
		width: 100%;
		@include placeholder {
	    color: rgb(155, 155, 155);
	  }
	}
	.publicacion { 
		height: 90px;
		display: flex;
		justify-content: center;
	  align-content: flex-start;
	  align-items: center;
	  input {
	  	font-size: 21px;
	  	font-size: rem(21px);
	  }
	  .dropdown-menu {
	  	width: 180px;
	  	top: 200%;
  		left: 50%;
	  	li > a {
	  		@extend .fz-12;;
	  		color: rgb(196, 189, 194);
	  		font-weight: 	100;
	  	}
	  	.triangulo {
				border-width: 12px 8px 0;
				border-color: white transparent;
				border-style: solid;
				width: 0;
				height: 0;
				@include transform(rotate(180deg));
				position: absolute;
		  	top: -12px;
		  	left: 45%;
	  	}
	  }
	}
}
#post{
	.info-usuario {
		.aviso {
			border: 1px solid #E8E8E4;
			border-radius: 20px;
			.circle-green {
				height: 12px;
				width: 12px;
				border-radius: 100%;
			}
		}
		p {
			line-height: 2;
		}
	}
	.prestamo {
		p {
			line-height: normal;
		}
	}
	.comentar {
		@include transition(all .2s ease-in-out);
	}
}
#box-right {
	.noticia {
		position: relative;
		img {
			max-width: 353px;
			width: 100%;
		}
		.nota {
			position: absolute;
		  width: 85%;
		  bottom: 0;
		  left: 50%;
		  height: 50%;
		  @include transform(translateX(-50%));
		  border-top-left-radius: 4%;
		  border-top-right-radius: 4%;
		  h5 {
		  	line-height: 1.5;
		  }
		  .read {
				position: relative;
  			bottom: 10px;
		  }
		}
	}
}
/*Deslizador de la radio*/
#up {
	height: 30px;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: black;
}
.active-up {
	height: auto;
}

/*FOOTER*/
footer {
	background-color: black;
	position: relative;
	height: 95px;
  overflow: hidden;
  @include transition(all .2s ease-in-out);
	.container {
		@include flex-column-center;
	}
	.antena {
		width: 40px;
	}
	.volumen {
		width: 26px;
	}
	.lista {
		h2 {
			font-size: 22px;
			font-size: rem(22px);
			margin: 0;
		}
		p {
			color: white;
			font-size: 11px;
			font-size: rem(11px);
		}
	}
}
/*footer active*/
.footer-active {
	@include transform(translateY(0));
}

/*TAREO*/
#menu-vertical {
	width: 415px;
	border-bottom-right-radius: 15px;
	position: fixed;
	height: 100%;
  overflow-y: auto;
  overflow-x: visible;
	h3 {
		font-size: 26px;
		font-size: rem(26px);
		&:hover {
			color: gray;
		}
	}
	.contenedor-menu {
		position: relative;
  	top: 114px;
  	width: 398px;
  	h3, p , span {
  		padding-left: 125px;
  	}
  	ul > li {
  		padding-left: 150px;
  		&:hover {
  			background-color: rgb(247, 247, 247);
  			border-right: 6px solid rgb(170, 49, 32);
  			border-bottom: 1px solid #F0F0F0;
  		}
  	}
	}
	.list-slide {
		overflow: hidden;
		position: relative;
		transition: all .2s ease;
		ul {
			-webkit-transform: translateY(-100%);
  		transition: all .2s ease;
  		position: absolute;
		}
	}
	.list-slide.active {
		ul {
			position: relative;
			-webkit-transform: translateY(0%);
		}
	}
}
/*CONTENIDO TAREO*/
#tareo-contenido {
	left: 450px;
	top: 114px;
	.container {
		padding-right: 10%;
	}
}
.perfil-servicios {
	border-radius: 15px;
	.col-md-4 {
		div {
			width: 200px;
		  height: 200px;
		  border-radius: 100%;
		  margin: 0 auto;
		}
	}
	.col-md-7 {
		h4 , span {
			color: rgb(155, 155, 155);
		}
		h3 {
			font-size: 30px;
			font-size: rem(30px);
		}
	}
}
.semaforo {
	.col-md-1 {
		position: relative;
		top: 45px;
	}
}
.tareo {
	.btn-dropdown{
		border-radius: 20px;
	}
	.year ul {
		min-width: 80px;
	}
	.month ul {
		min-width: 110px;
		left: 10px;
	}
	h3 {
		font-size: 24px;
		font-size: rem(24px);
	}
}
.boleta {
	@extend .tareo;
	.imprimir {
		position: relative;
		left: 160px;
	}
}
/*LIDERNET*/
.img-articulo {
	width: 100%;
	height: 335px;
}
.lidernet {
	.texto {
		position: relative;
		h3 {
			font-size: 24px;
			font-size: rem(24px);
		}
	}
}
.btn-enviar {
	border: 1px solid rgb(81, 186, 110)!important;
	position: absolute;
	right: 20px;
}
/*PRÉSTAMOS*/
.prestamos {
	h3 {
		font-size: 26px;
		font-size: rem(26px);
	}
}