/*
	EBM Global styles
*/
html {
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {
	h1, h2, h3, h4, h5, span {
	font-family: $font-family-sans-serif;
	}
	p {
		font-family: $font-family-serif ;
		color: rgb(74, 74, 74);
	}
	a:hover {
		text-decoration: none;
	}
	/*UTILITIES*/
	.fz-10 {
		font-size: 10px;
		font-size: rem(10px);
	}
	.fz-18 {
		font-size: 18px;
		font-size: rem(18px);
	}
	.fz-12 {
		font-size: 12px;
		font-size: rem(12px);
	}
	.fz-14 {
		font-size: 14px;
		font-size: rem(14px);
	}
	.w-100 {
		width: 100%;
	}
	.parrafo {
		line-height: 1.5;
		font-size: 14px;
		font-size: rem(14px);
	}
	.br-none {
		border-radius: none!important;
	}
	.b-none {
		border: none;
	}
	.float-left {
		float: left;
	}
	.display-ib {
		display: inline-block;
	}
	.outline-none {
		outline: none!important;
	}
	.lh-0 {
		line-height: 0;
	}
	.serif {
		font-family: $font-family-serif;
	}
	.letter-spacing-1-5 {
		letter-spacing: 1.5;
	}
}

.site-wrapper,
.site-content {
	position: relative;
}

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}


/*MENÚ*/
header {
	h1 {
		font-size: 30px;
		font-size: rem(30px);
	}
	.alerta {
		span {
			font-size: 13px;
			font-size: rem(13px);
		}
	}
	.perfil {
		width: 45px;
		height: 45px;
		background-size: cover;
	}
}
/*CONTENIDO*/
.site-content {
	background-color: rgba(240, 240, 240, 0.45);
}
.tool-bar-search-form {
	border-radius: 20px;
	border: 1px solid rgb(210, 210, 210);
	overflow: hidden;
	height: 36px;
	.input-group input {
		@include placeholder {
	    color: rgb(226, 226, 226);
	  }
	  width: 90%;
	  box-shadow: none;
	  font-size: 16px;
	  font-size: rem(16px);
	}
}
#comment {
	border-radius: 5px;
	border: 1px solid rgb(185, 163, 128);
	border-top: 2px solid rgb(197, 180, 151);
 	overflow: hidden;
	input { 
		border: 0;
		height: 80px;
		width: 100%;
		@include placeholder {
	    color: rgb(155, 155, 155);
	  }
	}
	.comentario { 
		height: 90px;
		display: flex;
		justify-content: center;
	  align-content: flex-start;
	  align-items: center;
	  input {
	  	font-size: 21px;
	  	font-size: rem(21px);
	  }
	}
	.buttons-group {
		border-top: 0;
	}
}
#post{
	ul {
		list-style: none;
	}
	.info-usuario {
		.aviso {
			border: 1px solid #E8E8E4;
			border-radius: 20px;
			.circle-green {
				height: 12px;
				width: 12px;
				border-radius: 100%;
			}
		}
		p {
			line-height: 2;
		}
	}
	.prestamo {
		p {
			line-height: normal;
		}
	}
}
#box-right {
	.noticia {
		position: relative;
		img {
			max-width: 353px;
			width: 100%;
		}
		.nota {
			position: absolute;
		  width: 85%;
		  bottom: 0;
		  left: 50%;
		  height: 45%;
		  @include transform(translateX(-50%));
		  border-top-left-radius: 4%;
		  border-top-right-radius: 4%;
		  h5 {
		  	font-size: 17px;
		  	font-size: rem(17px);
		  	line-height: 1.5;
		  }
		  p:first-child {
				font-size: 15px;
				font-size: rem(15px);
		  }
		}
	}
}
footer {
	background-color: black;
	position: relative;
	.container {
		@include flex-column-center;
		height: 100px;
	}
	#up {
		height: 30px;
	  width: 40px;
	  position: absolute;
	  top: -30px;
	  left: 50%;
	  background-color: black;
	  @include transform(translateX(-50%));
	}
}