/*
	EBM Global styles
*/

html {
}

body {
	h1, h2, h3, h4, h5, span {
	 font-family: $font-family-sans-serif;
	 line-height: 135%;
	}
	p, label {
		font-family: $font-family-serif ;
		color: rgb(74, 74, 74);
		line-height: 135%;
	}
	a, a:hover, a:visited { 
		text-decoration: none;
	}
	ul {
		list-style: none;
	}
	button {
		box-shadow: none!important;
	}
	select, input ,textarea, button {
		outline: none;
	}
	/*UTILITIES*/
	$prefijo: fz !default;
	@for $i from 8 through 40 {
	  .#{$prefijo}-#{$i} {
	    font-size: 0px + $i !important;
	    font-size: rem(0px + $i)!important;
	  }
	}
	.video table, .video table div#mediaspace_wrapper {
		height: 285px!important;
	}

	.item-event {
		padding: 2px;
		font-size: 10px;
		background: white !important;
	}

	/*COLORES TAREO*/
		.bg-diurno {
			background-color: transparent;
		}
		.bg-diurno .event:after {
			content: "D";
		}
		.bg-tarde {
			background-color: transparent;
		}
		.bg-tarde .event:after {
			content: "T";
		}
		.bg-nocturno {
			background-color: transparent;
		}
		.bg-nocturno .event:after {
			content: "N";
		}
		.bg-guardian {
			background-color: transparent;
		}
		.bg-guardian .event:after {
			content: "G";
		}
		.bg-falto2 {
			background-color: transparent;
		}
		.bg-falto2 .event:after {
			content: "F";
		}
		.bg-descanso3 {
			background-color: #F27507;
		}
		.bg-descanso3 .event:after {
			content: "X";
		}
		.bg-feriado {
			background-color: transparent;
		}
		.bg-feriado .event:after {
			content: "O";
		}
		.bg-falto {
			background-color: #62C800;
		}
		.bg-falto .event:after {
			content: "FF";
		}
		.bg-baja {
			background-color: #62C800;
		}
		.bg-baja .event:after {
			content: "BAJA";
		}
		.bg-pagado {
			background-color: #62C800;
		}
		.bg-pagado .event:after {
			content: "PN";
		}
		.bg-suspension {
			background-color: #62C800;
		}
		.bg-suspension .event:after {
			content: "S";
		}
		.bg-traslado {
			background-color: #62C800;
		}
		.bg-traslado .event:after {
			content: "PT";
		}
		.bg-lsgoc {
			background-color: #62C800;
		}
		.bg-lsgoc .event:after {
			content: "LSGOC";
		}
		.bg-abandono {
			background-color: #62C800;
		}
		.bg-abandono .event:after {
			content: "ASERV";
		}
		.bg-incapacidad2 {
			background-color: #62C800;
		}
		.bg-incapacidad2 .event:after {
			content: "ITTSS";
		}
		.bg-servicio4 {
			background-color: #62C800;
		}
		.bg-servicio4  .event:after {
			content: "SDESA";
		}
		.bg-servicio {
			background-color: #62C800;
		}
		.bg-servicio  .event:after {
			content: "SF";
		}
		.bg-servicio3 {
			background-color: #62C800;
		}
		.bg-servicio3  .event:after {
			content: "SNCUB";
		}
		.bg-servicio2 {
			background-color: #62C800;
		}
		.bg-servicio2  .event:after {
			content: "SP";
		}
		.bg-subsidio{
			background-color: #62C800;
		}
		.bg-subsidio .event:after {
			content: "SUBEN";
		}
		.bg-subsidio2 {
			background-color: #62C800;
		}
		.bg-subsidio2 .event:after {
			content: "SUBMA";
		}
		.bg-descanso2 {
			background-color: #62C800;
		}
		.bg-descanso2 .event:after {
			content: "DM";
		}
		.bg-pagado2 {
			background-color: #62C800;
		}
		.bg-pagado2  .event:after {
			content: "PP";
		}
		.bg-vacaciones {
			background-color: #62C800;
		}
		.bg-vacaciones .event:after {
			content: "VC";
		}
		.bg-venta {
			background-color: #62C800;
		}
		.bg-venta .event:after {
			content: "VT";
		}
		.bg-lcgoc {
			background-color: #62C800;
		}
		.bg-lcgoc .event:after {
			content: "LCGOC";
		}
		.bg-descanso {
			background-color: #62C800;
		}
		.bg-descanso .event:after {
			content: "DESC";
		}
		.bg-incapacidad {
			background-color: #62C800;
		}
		.bg-incapacidad .event:after {
			content: "IP";
		}

	/*text-info(Asistencia diurna) y text-danger(Ausencia)*/
	.w-100 {
		width: 100%;
		font-size: (16px)rem;
	}
	.parrafo {
		overflow-wrap: break-word;
		line-height: 1.5;
		font-size: 14px;
		font-size: rem(14px);
	}
	.br-none {
		border-radius: 0!important;
	}
	.b-none {
		border: none;
	}
	.br-5 {
		border-radius: 5px;
	}
	.brp-100 {
		border-radius: 100%;
	}
	.float-left {
		float: left;
	}
	.display-ib {
		display: inline-block;
	}
	.outline-none {
		outline: none!important;
	}
	.lh-0 {
		line-height: 0;
	}
	.lh-1 {
		line-height: 1;
	}
	.lh-1-3 {
		line-height: 1.3;
	}
	.lh-1-5 {
		line-height: 1.5;
	}
	.le-2 {
		letter-spacing: 2px;
	}
	.serif {
		font-family: $font-family-serif;
	}
	.sans-serif {
		font-family: $font-family-sans-serif;
	}
	.le-1-3 {
		letter-spacing: 1.3px;
	}
	.le-1-5 {
		letter-spacing: 1.5px;
	}
	.w-6 {
		width: 6px;
	}
	.text-gray-dark2 {
		color: rgb(80, 80, 80);
	}
	.rotate-180 {
		@include transform(rotate(180deg));
	}
	.pb-4 {
		padding-bottom: 4px;
	}
	.img-perfil {
		width: 65px;
		height: 65px;
	}
	.img-respuesta {
		width: 38px;
		height: 38px;
	}
	.hover-menu {
		background-color: rgb(247, 247, 247);
		border-right: 6px solid rgb(170, 49, 32);
		outline: 1px solid #F0F0F0;
		border-bottom: 0px;
	}
	.fixed {
		position: fixed;
	}
	.relative {
		position: relative;
	}
	.absolute {
		position: absolute;
	}
	.close-display {
		display: none;
	}
	textarea {
  	box-shadow: none;
  	overflow: hidden;
  	resize: none;
  	outline: none;
  }
  select {
		background-color: transparent;
		cursor: pointer;
	  @include appearance(none);
	  option {
	  	width: 100%;
	  }
	}
	.select-group {
		div {
			border: 1px solid #adadad;
			border-radius: 20px;
			select {
				width: 55px;
				z-index: 1;
			}
			img {
				position: absolute;
				top: 10px;
				padding-left: 10px;
			}
		}
	}
  .active-like {
  	color: #f94211!important;
  }
}

.site-wrapper,
.site-content {
	position: relative;
}
main {
	margin-bottom: 100px;
} 

/*
	Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}

/*EFECTO DE CARGA WALL*/
.loading-status:before,
.loading-status:after,
.loading-status {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loading-status {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loading-status:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loading-status:after {
  left: 3.5em;
}
.loading-status:before,
.loading-status:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #f94211;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #f94211;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #f94211;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #f94211;
  }
}

/*ANIMACIÓN BOLETA*/
.loader,
  .loader:before,
  .loader:after {
    background: #f94211;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #f94211;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em #f94211;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0 #f94211;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em #f94211;
      height: 5em;
    }
  } 


/*REGISTRO*/
.registro {
	margin-bottom: 0!important;
	.hero-image-registro {
		@include flex-column-center;
		.caja {
			opacity: 0.9;
			.liderboy {
				width: 80px;
			}
			form {
				input {
					border-color: transparent;
	  			border-bottom-color: gray;
	  			border-width: 1px;
	  			outline: none;
	  			@include placeholder {
				    color: rgb(104, 100, 98);
				  }
				  &:last-child {
				  	border-bottom-color: transparent!important;
				  }
  			}
  			.submit {
					img {
		  			@include transform(rotate(90deg));
		  			width: 14px;
	  			}
  			}
			}
		}
	}
}
.registro-fan {
	input {
		border: 1px solid #BDBDBD;
		@include placeholder {
	    color: #B5B5B5;
	  }
	}
	#upfile {
		cursor: pointer;
		input[type="file"] {
			display: none;
		}
	}
	.border-red {
		border-color: red;
	}
	/*mensajes de error*/
	.error-nombre,
	.error-email,
	.error-password,
	.error-confirmacion,
	.error-inputFile {
		right: 93%;
	}
	.error-nombre {
    top: 6px;
	}
	.error-apellido {
    top: 6px;
    left: 93%;
	}
	.error-email {
    top: 63px;
	}
	.error-password {
    top: 120px;
	}
	.error-confirmacion {
    top: 175px;
	}
	.error-inputFile {
		top: 67%;
	}
}
/*MENÚ*/
header {
	height: 80px;
  // top: 0;
  // left: 0;
  // right: 0;
  .fixed {
		z-index: 100;
		box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.1);
  }
	h1 {
		font-size: 30px;
		font-size: rem(30px);
	}
	.alerta {
		span {
			font-size: 13px;
			font-size: rem(13px);
		}
	}
	.perfil {
		width: 45px;
		height: 45px;
		background-size: cover;
		background-position: center;
		border-radius: 100%;
	}
}
.alerta {
	@include transition(all .2s ease-in-out); 
}
/*CONTENIDO*/
.site-content {
	background-color: rgba(240, 240, 240, 0.45);
	.container-index { 
		position: relative;
	}
}

.tool-bar-search-form {
	border: 1px solid rgb(210, 210, 210);
	overflow: hidden;
	height: 36px;
	width: 240px;
	.input-group input {
		@include placeholder {
	    color: #A5A5A5;
	  }
	  width: 80%;
	  box-shadow: none;
	  font-size: 16px;
	  font-size: rem(16px);
	}
}
.alert-container {
	#alert-publication {
		width: 300px;
		cursor:pointer;  
		z-index:5;
		box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.4);
		@include transition(all .2s ease-in-out);
		@include transform(translate(50%));
		.close-alert {
			cursor:pointer; 
			float:right; 
			line-height:0.7
		}
	}
} 
.top-banner {
	top: 65px;
}
.alert-hidden {
	opacity: 0;
	@include transition(all .2s ease-in-out);
	visibility: hidden;
}
.herman-dropdown {
	top: 20%;
	ul {
		top: 48px;
		min-width: 135px;
		left: -100px;
		li a {
			font-weight: 300;
			line-height: 1.5;
		}
		.triangulo {
			border-width: 12px 8px 0;
			border-color: white transparent;
			border-style: solid;
			width: 0;
			height: 0;
			@include transform(rotate(90deg));
		  position: absolute;
		  top: -6px;
		  right: -2px;
		}
	}
}
#comentar {
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	position: relative;
	input { 
		border: 0;
		width: 100%;
		@include placeholder {
	    color: rgb(155, 155, 155);
	  }
	}
	.select-style {
		position: relative;
		overflow: hidden;
		width: 235px;
		select {
			background-repeat:no-repeat;
			background-position-y: 65%;
	    background-position-x: 100%;
	    background-size: 8%;
		}
	}
	.publicacion { 
		textarea {
			min-height: 100px;
    	max-height: 100%;
    	outline: none!important;
		}
	}
	.jFiler-item .jFiler-item-container {
		border: 0px!important;
		ul.list-inline.pull-right {
			position: absolute;
	    top: 10px;
	    right: 10px;
		}
		.jFiler-item-inner {
			&:hover {
				.icon-jfi-trash {
					display: block;
				}
			}
		}
	}
	.icon-jfi-trash {
		display: none;
		&:before {
			content: ""!important;
		}
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
		margin-top: 10px;
  	margin-bottom: 10px;
		&:hover {
			background-color: transparent;
  		border-color: transparent;
		}
	}
	button {
		position: absolute;
		right: 14px;
		bottom: 0px;
		img {
			width: 33px;
		}
	}
	.btn:hover, .btn:focus, .btn.focus {
		color: white!important;
	}

	#error-message,
	#error-categoria {
    img {
    	-webkit-box-shadow: -1px 1px 8px -4px;
    	-moz-box-shadow: -1px 1px 8px -4px;
    	box-shadow: -1px 1px 8px -4px;
    	opacity: 0.95;
    }
	}
	#error-message {
		left: -25%;
		top: 50px;
		img {
			width: 150px;
		}
	}
	#error-categoria {
		top: -11%;
    left: 37%;
		img {
			width: 160px;
		}
	}
	#photos-post {
		.close-image {
			right: 5px;
	    top: 5px;
	    width: 10px;
	    display: none;
	    cursor: pointer;
		}
		&:hover {
			opacity: 0.8;
			@include transition(all .2s ease-in-out);
			.close-image {
				display: block;
			}
		}
	}
}
input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
#post, .pokerface{
	.post {
		  border: 1px solid #e7e7e7;
		  border-bottom: 2px solid #e7e7e7;
		  border-radius: 5px;
	}
	.info-usuario {
		.aviso {
			border: 1px solid #E8E8E4;
			border-radius: 20px;
			cursor: pointer;
			.circle-green {
				height: 12px;
				width: 12px;
				border-radius: 100%;
			}
		}
		p {
			line-height: 2;
		}
	}
	.prestamo {
		p {
			line-height: normal;
		}
	}
	.comentar {
		@include transition(all .2s ease-in-out);
		textarea {
			height: 28px;
			border: 1px solid #e7e7e7;
		}
	}
}
.conteiner-answer {
	&:hover {
		.delete-comment {
			opacity: 1;
		}
	}
}
.delete-comment {
	right: 15px;
  top: -13px;
  position: absolute;
  cursor: pointer;
  @include transition(all .2s ease-in-out);
  opacity: 0;
}


#box-right {
	.noticia {
		position: relative;
		img {
			max-width: 353px;
			width: 100%;
		}
		.nota {
			position: absolute;
		  width: 85%;
		  bottom: 0;
		  left: 50%;
		  height: auto;
		  @include transform(translateX(-50%));
		  border-top-left-radius: 4%;
		  border-top-right-radius: 4%;
		  h5 {
		  	line-height: 1.5;
		  }
		  .read {
				position: relative;
  			bottom: 10px;
  			margin-bottom: 0;
		  }
		}
	}
}
.contenedor-select {
	height: 40px;
	.select-style { 
		border: 1px solid #f94211;        
    width: 230px;
    height: 40px;
	}
}

/*LOADER*/
#loader {
	img {
		width: 110px;
		@include transition(all .2s ease-in-out);
		display: none;
	}
}


/*Deslizador de la radio*/
.active-up {
	@include transform(translateY(0));
	@include transition(all .2s ease-out);
}

/*FOOTER*/
footer > div {
	position: fixed;
	background-color: black;   
  bottom: 0;
  @include transition(all .2s ease-in-out);
  @include transform(translateY(476px));
  #up {
		height: 45px;
	  width: auto;
	  position: absolute;
	  bottom: 0;
	  top: -38px;
	  background-color: black;
	  left: 50%;
	  @include transform (translateX(-50%));
	  span:hover {
	  	color: #E83A98;
	  }
	}
	.text-fuccia {
		color: #E83A98 !important;
	}
	.bg-fuccia {
		background-color: #E83A98 !important;
	}
	.audio-video {
		top: -38px;
		left: 110px;
		.btn-video, .btn-audio {
	    height: 38px;
	    height: 38px;
	    width: 100px;
	    vertical-align: sub;
    }
    a {
			&:hover div span{
				color: #E83A98 !important;
			}
    }
    .btn-audio {
    	border-left: 1px solid white;
	    height: 23px;
	    margin-top: 8px;
    }
	}
	iframe.audio, 
	iframe.video {
		height: 285px;
		table {
			height: 285px!important;
			object#mediaspace {
				height: 285px;
			}
		}
	}
	
	.container {
		height: 475px;
		@include flex-column-center;
	}
	.antena {
		width: 40px;
	}
	.volumen {
		width: 26px;
	}
	.lista {
		h2 {
			font-size: 19px;
			font-size: rem(19px);
			margin: 0;
		}
		p {
			color: white;
			font-size: 11px;
			font-size: rem(11px);
		}
	}
}
/*footer active*/
.footer-active {
	@include transform(translateY(0));
}

/*TAREO*/
#menu-vertical {
	h3 , h2{
		font-size: 24px;
		font-size: rem(24px);
		&:hover {
			color: gray;
		}
	}
	.contenedor-menu {
		position: relative;
  	border: 1px solid #e7e7e7;
  	border-bottom-right-radius: 10px;
  	overflow: hidden;
	}
	.list-slide {
		overflow: hidden;
		position: relative;
		transition: all .2s ease;
		ul {
			-webkit-transform: translateY(-100%);
  		transition: all .2s ease;
  		position: absolute;
		}
	}
	.list-slide.active {
		ul {
			position: relative;
			-webkit-transform: translateY(0%);
		}
	}
}
.box-color {
	width: 13px;
	height: 13px;
}

.day-colors {	
	.color-turno {
		width: 13px;
		height: 13px;
	}
}

/*CONTENIDO TAREO*/

.fc-row > div {
  position: relative !important;
}

.fc-date{
	bottom: 0px;
	right: 0px;
  	font-size: 10px;
  	padding: 1px;
  	position: absolute;
}

#tareo-contenido {
	.container {
		position: relative;
	}
}
.perfil-servicios {
	border-radius: 15px;
	padding-left: 42px;
  padding-right: 42px;
	.col-md-4 {
		@include flex-column-center;
		div {
			width: 160px;
		  height: 160px;
		  border-radius: 100%;
		  margin: 0 auto;
		}
	}
	.col-md-7 {
		h4 , span {
			color: rgb(155, 155, 155);
		}
		h3 {
			font-size: 30px;
			font-size: rem(30px);
		}
	}
}
.semaforo {
	.col-md-1 {
		position: relative;
		top: 23px!important;
	}
}
.tareo {
	.btn-dropdown{
		border-radius: 20px;
	}
	.year ul {
		min-width: 80px;
	}
	.month ul {
		min-width: 110px;
		left: 10px;
	}
	h3 {
		font-size: 24px;
		font-size: rem(24px);
	}
}
.boleta {
	@extend .tareo;
	.imprimir {
		position: absolute;
	  right: 10%;
	}
}
.total {
	border: 1px solid black;
}
/*LIDERNET*/
.img-articulo {
	width: 100%;
}
.lidernet {
	.texto {
		position: relative;
	}
}
.btn-enviar {
	background-color: black;
	position: relative;
	margin-left: 83%;

}
.img-boleta-impresa {
  position: absolute;
  width: 125px;
  top: -125px;
  left: 50px;
}    


/*PRÉSTAMOS*/
.prestamos {
	h3 {
		font-size: 26px;
		font-size: rem(26px);
	}
}
.line:first-child .size1of1 {
	padding-left: 0px!important;
}
.solicitar-prestamo .line:nth-child(3) {
	display: none;
}
.size1of2:first-child {
	width: 60%!important;
}
.size1of2:last-child {
	width: 40%!important;
}
.size1of2 {
	padding: 0!important;
	p {
		color: #707274!important;
	}
	select,
	#freeform_introduce_el_monto_solicitado {
		margin-top: 10px!important;
		width: 135px;
    padding: 3px 5px;
	}
	select {
		background-image: url(../img/Flecha_Abajo.png);
		background-repeat: no-repeat;
		background-position-x: 107px;
    background-position-y: center;
	}
	input[type="submit"] {
		font-family: "Oswald";
		background-color: #51BA6E;
		color: white;
		font-weight: 300;
		border-radius: 4px;
		border-color: transparent;
		padding: 3px 20px;
		margin-top: 15px;
	}
	.field_label {
		display: none;
	}
}

#preguntas {
	.ff_composer .line:last-child {
		p {
			text-align: right!important;
		}
	}
}


/*ACEPTAR O RECHAZAR PRÉSTAMO*/
.resultados-prestamos {
	h3 {
		font-size: 22px!important;
	}
	h4 {
		font-size: 14px!important;
	}
	.general-dates span,
	.monto-prestamo span:first-child {
		font-size: 12px!important;
	}
}
.btn-group-prestamo {
	outline: none;
	button {
		&:hover,
		&:focus,
		&:active{
			background-color: transparent!important;
			outline: none!important;
		}
		&:last-child {
			border-left: 1px solid #e7e7e7;
    	border-radius: 0px;
		}
	}
}
.monto-prestamo {
	text-align: left!important;
	span:first-child {
		display: inline!important;
	}
}


/*LIDERCARD*/
.lidercard {
	.bonificacion {
		border-bottom: 3px solid #f94211;
	}
	.merito, .bonificacion {
		text-decoration: none!important;
		color: #7D7E7F;
	}
}

.active-bonificacion{
	border-bottom: 0px!important;
}
.active-merito{
	border-bottom: 3px solid #f94211;
}
/*CAPACITACIONES*/
.capacitacion {
	.curso {
		border-bottom: 3px solid rgb(255, 122, 41);
	}
	.curso, .otro, .nuevo {
		text-decoration: none!important;
	}
}

.border-out{
	border-bottom: 1px solid #e7e7e7!important;
}
.border-in{
	border-bottom: 3px solid rgb(255, 122, 41)!important;
}

/*SGI*/
.sgi {
	ul {
		list-style: inherit;
	}
}
/*PERFIL*/
.name .img-publicacion {
	height: auto;
	img {
		width: auto;
	  max-width: 100%;
	  height: auto;
	}
}
.eraser {
	.inactivo {
		cursor: pointer;
		@include transition (all .3s ease-in-out);
	}
	.activo {
		@include transition (all .3s ease-in-out);
		right: 0;
		img {
			width: 22px;
	    height: 23px;
	    cursor: pointer;
    }
	}
}
.desaparecer {
	opacity: 0;
	@include transition (all .3s ease-in);
	display: none;
}
.opacity-active {
	opacity: 0;
	@include transition (all .2s ease-in);
}

.img-destacado, 
.img-premium {
  position: absolute;
  right: 0px;
  top: -28px;
  @include transition (all .2s ease-in);
}

.img-premium {
	right: 55px!important;
}

.rec-ambos {
	top: 57px;
  right: 40px;
}
.rec-trofeo {
	top: 62px;
	right: 46px;
}
.rec-estrella {
	top: 63px;
  right: 48px;
}
.circulo-semaforo {
	width: 8px!important;
	height: 8px!important;
}


/*PERFIL-EDITABLE*/
#perfil-contenido {
	@extend #tareo-contenido;
	.formulario {
		position: relative;
		.col-md-5 div {
			width: 220px;
			height: 220px;
		}
		textarea {
			border: 1px solid #e7e7e7;
		}
		.btn-enviar {
			right: 0;
			position: absolute;
		}
	}
}
.overlay-foto {
	@include transition (all 0.3s ease-in);
	.fileUpload {
		@include flex-column-center;
	}
	img {
		display: none;
	}
	&:hover {
		background-color: rgba(0,0,0,0.5);
		img {
			@include transition (all 0.3s ease-in);
			display: inline-block;
		}
	}
}
/*LISTA-PUBLICACIÓN*/
.lista {
	.img-lista {
		height: 445px;
		position: relative;
		.texto {
			position: absolute;
			bottom: 0;
			width: 85%;
			height: 60%;
			left: 50%;
			@include transform(translateX(-50%));
			a {
				position: absolute;
			  bottom: 9%;
			  right: 35px;
			}
		}
	}
}
#box-right {
	position: relative;
	.contenedor-categoria {
		position: fixed;
	}
}
.link-categoria {
	width: 170px;
	li {
		border-bottom: 1px solid rgb(215, 215, 215);
		&:last-child {
			border: 0px;
		}
	}
}
/*PUBLICACIÓN*/
.publicacion {
	position: relative;
	.img-publicacion {
		height: auto;
	}
	.triangulo-llamada {
	  border-width: 17px 15px 0;
	  border-color: white transparent;
	  border-style: solid;
	  width: 0;
	  height: 0;
	  @include transform(rotate(180deg));
	  position: absolute;
	  top: -17px;
	  left: 5%;
	}
}
/*LIDERMANÍA*/
.lidermania {
	ul {
		list-style: inherit;
		li {
			padding-bottom: 3px;
		}
	}
}


/*lidermania post*/
.lidermania-menu {
	top: 150px;
  position: relative;
  .contenedor {
  	padding-left: 30%;
  }
  ul {
  	list-style: inherit;
  }
}
.contenedor-menu-2 {
	ul {
		list-style: inherit;
	}
}

/*INSCRIPCIONES*/
.ff_composer .field_label, 
.size1of1 ul li label {
	font-weight: 100!important;
}
.size1of1 {
	// text-align: right;
	font-family: "Merriweather";
	font-size: 15px;
	color: #313131;
	p strong {
	  font-size: 14px;
	}
}
.ff_composer textarea {
	height: 80px;
	padding: 7px;
}
input[type="submit"] {
  background-color: black;
  color: white;
  border: transparent;
  font-size: 16px;
  font-family: "Oswald";
  font-weight: 300;
  padding: 5px 20px;
}

/*CUADRO ESTADÍSTICO*/
#cuadro-estadistico {
	margin: 0 auto;
	rect[Attributes Style] {
		width: 660px;
	}
}

/*RESULTS SEARCH*/
#search-results {
	border: 1px solid #e7e7e7;
	.resultados {
		border-bottom: 1px solid #e7e7e7;
		.btn:hover {
			border-color: #f94211;
			color: #f94211;
		}
		.search-img {
			overflow: hidden;
			width: 75px;
			height: 75px;
			background-position: center;
			background-size: cover; 
		}
	}
}

/*ERROR*/



@media #{$sm-down} {
	/*LOGIN*/
	.container-login {
		.submit img {
			width: 20px!important;
		}
	}
	.liderboy {
		width: 30px!important;
	}
	.registro {
		.submit {
			p {
				line-height: 2; 
			}
			img {
				margin-bottom: -7px;
			}
		}
	}

	/*REGISTRO FAN*/
	.caja-registro {
		.liderboy {
			width: 50px!important;
		}
		.title-login {
			font-size: 25px!important;
			float: none;
			line-height: 1;
		}
		.text-registro {
			font-size: 16px!important;
		}
	}
	.registro-fan {
		input {
			font-size: 16px!important;
		}
		button.submit {
			p {
				font-size: 22px!important;
			}
		}
		#upfile {
			font-size: 22px;
    	font-weight: 100;
		}
		#photos-post {
			left: 50%!important;
    	transform: translateX(-50%);
    	top: 0px!important;
		}
		.error-nombre, .error-confirmacion,
		.error-password, .error-email,
		.error-apellido, .error-inputFile {
			display: none;
		}
	}


	/*INDEX*/
	.site-content .container-index {
		padding-top: 30px!important;
	}
	header {
		height: 67px!important;
		.logo {
			.liderboy {
				margin-top: -15px;
			}
		}
		/*MENÚ MOVIL*/
		.btn-menu {
			border: 1px solid;
		}
		.switch {
	  	width: 25px;
	  	height: 17px;
	  	position: absolute;
	  	right: 7px;
	  	margin: -15px 0px 0px -15px;
		 	cursor: pointer;
		 	top: 66%;
		}
		.switch.on:after {
		  @include transform(rotate(-45deg) translate(5px, -5px));
		}
		.switch.on:before {
		  @include transform(rotate(45deg) translate(5px, 5px));
		}
		.switch .menu-toggle {
	  	width: 100%;
	  	margin: 4px auto;
		}
		.switch .menu-toggle,
		.switch:before, .switch:after {
			height: 3px;
	  	background: black;
	  	@include transition (all 0.3s);
	  	backface-visibility: hidden;
		}
		.switch.on .menu-toggle {
		  opacity: 0;
		}
		.switch:before, .switch:after {
	  	content: "";
	  	display: block;
		}
	}
	main {
		background-color: #E8E8E8!important;
		.overlay-menu {
			z-index: 200;
			@include transform(translateX(-100%));
	  	@include transition(transform .5s ease);
	  	margin-top: 65px;
	  	input, select {
	  		height: 45px;
	  	}
		}
		.open-menu {
			@include transform(translateX(0)!important);
		}
		.perfil-menu {
			width: 70px;
  		height: 70px;
		}
	}
	#box-right {
		padding-right: 0;
	}
	.post {
		div:nth-child(3) ul li{
			font-size: 15px;
		}
	}
	.alerta {
		img {
			width: 24px;
		}
	}
	.img-perfil {
		width: 50px!important;
		height: 50px!important;
	}
	.info-usuario {
		.aviso {
			border: 0px!important;
		}
	}

	/*LIDERNET*/
	.box-gray {
		height: 100px;
		background-color: rgb(93, 93, 93);
	}
	.perfil-servicios {
		background-color: transparent!important;
		text-align: center;
		padding-top: 0rem!important;
  	margin-top: -136px;
		.col-md-4 div {
			width: 130px!important;
			height: 130px!important;
		}
	}
	.tareo .btn-dropdown, .boleta .btn-dropdown {
		border-radius: 4px!important;
	}
	.tareo .month ul, .boleta .month ul {
		left: 0!important;
	}
	.articulo .texto h3 {
		font-size: 30px;
		font-size: rem(30px);
		line-height: 1.3;
	}
	.btn-enviar-movil {
		background-color: black;
	}
	.img-articulo {
		iframe {
			width: 100%!important;
    	height: auto!important;
		}
	}

	/*MURO*/
	#comentar {
		textarea {
			font-size: 18px!important;
		}
		.select-style {
	    position: relative;
	    overflow: hidden;
	    width: 100%;
	  }
	  .select-style select {
	  	background-position-x: 95%;
	    background-size: 5%;
	  }
	  #photos-post {
			.close-image {
				display: block;
			}
			.close-display {
				display: none;
			}
		}
	  button {
	  	font-size: 11px!important;
	  }
	  .fileUpload {
	  	img {
	  		width: 16px;
	  	}
	  }
	}
	.post {
		.parrafo {
			font-size: 15px!important;
		}
	}
	.conteiner-answer {
		.col-xs-10 > span:first-child {
			font-size: 20px!important;
			font-size: rem(20px)!important;
		}
		.col-xs-10 {
			span:nth-child(3), span:nth-child(4) {
				font-size: 16px!important;
				font-size: rem(16px)!important;
			}
			img {
				width: 9px;
			}
		}
	}

	/*Reconocimientos muro*/
	.rec-ambos {
		top: 46px;
    right: 1px;
	}
	.rec-trofeo {
		top: 53px;
    right: 7px;
	}
	.rec-estrella {
		top: 54px;
    right: 8px;
	}

	/*Reconocimientos perfil*/
	.texto-premio, 
	.reconocimientos {
		float: none!important;
		text-align: center!important;
	}
	/*Semáforo perfil*/
	.resumen-semaforo {
		.col-md-4 .circulo-semaforo {
	    width: 8px !important;
	    height: 8px !important;
	  }
	  h4 {
	  	font-size: 18px!important;
	  }
	  ul {
			font-size: 15px!important;
	  }
	}

	/*alerta publicaciones*/
	.alert-container {
		height: 50px!important;
		#alert-publication {
			@include transform(translate(-50%));
			left: 50%;
		}
	}

	/*PRÉSTAMOS*/
	.prestamos {
		h3 {
			font-size: 24px!important;
			font-size: rem(24px)!important;
		}
		ul {
			border: none;
		}
	} 
	.prestamos li, 
	.dato-bonificacion, 
	.dato-merito div, 
	.lista-cursos, 
	.lista-otros, 
	.lista-nuevos,
	.detalle li,
	.boleta .datos > div div:nth-child(6) ul li{
		span {
			font-size: 22px!important;
			font-size: rem(22px)!important;
		}
		p {
			font-size: 20px!important;
			font-size: rem(20px)!important;
		}
	}
	.separador-div {
		width: 27px;
		border-bottom: 1px solid #BFBFBF;
	}
	.size1of2:first-child,
	.size1of2:last-child {
		width: 100%!important;
	}
	.size1of2 input[type="submit"] {
		margin-top: 0px!important;
	}
	.size1of2 select, 
	.size1of2 #freeform_introduce_el_monto_solicitado {
    margin-top: -5px !important;
    width: 100%;
    padding: 3px 20px;
	}
	.size1of2 select {
    background-position-x: 90%!important;
  }
  .size1of2 input[type="submit"] {
    width: 100%;
    border-radius: 2px;
    padding: 7px 20px;
    font-size: 18px;
    font-weight: 400;
  }


	/*LIDERCARD*/
	.dato-bonificacion, .dato-merito {
		div:last-child {
			border: none!important;
		}
	}


	/*perfil editable*/
	#perfil-contenido .formulario textarea {
		border: 1px solid #AFAFAF;
		@include placeholder {
	    color: rgb(102, 100, 96);
	  }
	}
	.btn-perfil {
		width: 100%;
		position: relative!important;
		margin-left: 0;
	}


	/*PUBLICACIÓN*/
	.publicacion {
		.texto p {
			font-size: 18px;
		}
		.img-perfil {
			width: 60px!important;
			height: 60px!important;
		}
		.name {
			span, p {
				font-size: 11px!important;
			}
			h5 {
				font-size: 18px;
			}
		}
	}
	.flickity-viewport {
		height: 490px!important;
	}
	.flickity-prev-next-button,
	.flickity-prev-next-button {
		background: transparent!important;
	}
	.flickity-prev-next-button.next {
		right: -6%!important;
	}
	.flickity-prev-next-button.previous {
		left: -6%!important;
	}
	.flickity-prev-next-button .arrow {
		fill: #7A7A7A!important;
	}
	.nota-publicacion {
		height: 60%!important;
	}
	.select-lista {
		height: 50px!important;
		background-color: #D8D8D8;
	}


	/*LIDERMANÍA*/
	.datos-lidermania {
		h3 {
			font-size: 26px!important;
		}
		ul {
			font-size: 18px!important;
		}
	}
	
	/*LIDERMANÍA POST*/
	.datos-lidermania {
		h4 {
			font-size: 22px !important;
			font-size: rem(22px) !important;
		}
		p, li {
			font-size: 20px !important;
			font-size: rem(20px) !important;
		}
	}
	/*TAREO*/
	#calendar {
		width: 100%;
	}
	.box-color {
		width: 13px;
		height: 13px;
	}
	

	.fc-calendar-container {

		h3 {
			font-size: 26px!important;
			font-size: rem(26px)!important;
		}

		.fc-calendar .fc-head {
			font-size: 15px;
			    
		}
		.fc-date {
			font-size: 8px;
			padding: 2px;
		}
	}

	.day-colors {
		.color-turno {
			width: 15px;
			height: 15px;
		}
		span {
			font-size: 18px!important;
			font-size: rem(18px)!important;
		}
	}
	.volumen {
    right: -12%!important;
	}

	/*RESULTS SEARCH*/
	.nombre-busqueda {
		img {
			width: 32px;
		}
	}
	#search-results {
		border: 1px solid #C3C3C3;;
		.resultados {
			border-bottom: 1px solid #C3C3C3!important;
			.col-xs-7 {
				h3 {
					font-size: 20px!important;
				}
				h4 {
					font-size: 12px!important;
				}
				span{
					font-size: 12px;
				}
			}
		}
	}

	/*Rechazar préstamo*/
	.rechazar img:last-child, 
	.aceptar img:last-child {
		display: inline-block!important;
	}

	/*FOOTER*/
	footer {
		position: relative;
	}
	footer > div {
		// position: relative!important;
		padding: 40px 50px!important;
    position: fixed;
		@include transform(translateY(100%));
		.col-md-6:last-child, .container {
			padding: 0rem!important;
		}
		.antena {
			width: 30px!important;
		}
		.col-md-8 {
			h5 {
				padding-bottom: 10px;
			}
			h4 {
				font-weight: 100;
	  		font-size: 20px!important;
			}
			p {
				font-size: 11px;
				line-height: 1.3;
  			padding-top: 7px;
			}
		}
		.col-md-3 {
			position: absolute;
  		right: 0%;
		}
		ul {
			margin-left: 0rem!important;
  		padding-left: 0px;
  		li {
  			padding-top: 7px;
  			h2 {
					font-size: 24px!important;
					font-weight: 100;
				}
				p {
					font-size: 13px!important;
					line-height: 1.3;
	 			  padding-top: 10px;
				}
  		}
		}
		.audio-video {
			top: 0px;
			left: 0px;
		}
		#up {
			top: -43px;
		}

	} 
	.active-up {
		position: absolute!important;
		@include transform(translateY(0%));
	}
	iframe.audio, iframe.video {
		height: 285px!important;
	}
}


	#mediaspace_wrapper {
		height: 280px !important;
	}