{embed="includes/head" titulo="Mundo Liderman - Indicadores de Interacción"}
  <div class="site-wrapper"> <!-- Body -->
      {embed="includes/nav-main" acceso_directo="Ir al muro" link="{site_url}"}
      <main class="site-content pb-42 mb-0">
        {embed=includes/menu-movil miembro="{member_id}"}
        {embed=includes/banner-alerta}
        <div class="box-gray bg-gray-darker w-100 hidden-lg hidden-md"></div>
        <div class="container-md clearfix">
          <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hidden-sm">
            {embed="includes/nav-secciones" in="in" miembro="{segment_3}" miembro_actual="{member_id}" grupo="{member_group}"}
          </section>
          <section id="tareo-contenido" class="col-md-8 pb-42 ph-0-xs">
            <div class="container pt-14 w-100 ph-0">
              <div>
                <h2 class="fz-28 border-bottom-gray pb-14 text-gray-darker">Indicadores de Interacción</h2>
              </div>
              <div class="indicadores mt-35">
                <div class="col-md-6 col-sm-12 mb-14">
                  <div class="bg-white p-14 border-radius">
                    <h4 class="text-gray m-0 fz-16 mb-14">Indicadores Generales</h4>
                    {exp:indicators:indicadores_generales}
                    <p class="fz-14 text-gray">Lidermans <span class="pull-right">{total_users}</span></p>
                    <p class="fz-14 text-gray">Post <span class="pull-right">{total_posts}</span></p>
                    <p class="fz-14 text-gray">Comentarios <span class="pull-right">{total_comments}</span></p>
                    <p class="fz-14 text-gray">Post por liderman <span class="pull-right">{post_por_liderman}</span></p>
                    <p class="fz-14 text-gray">Comentarios por liderman <span class="pull-right">{comments_por_liderman}</span></p>
                    <p class="fz-14 text-gray">Comentarios por post <span class="pull-right">{comments_por_post}</span></p>
                    {/exp:indicators:indicadores_generales}
                  </div>
                </div>

                <div class="col-md-6 col-sm-12 mb-14">
                  <div class="bg-white p-14 border-radius">
                    <h4 class="text-gray m-0 fz-16 mb-14">Reclamos por Empresa</h4>
                    {exp:indicators:reclamos_por_empresa}
                    <div class="mt-7" style="height: 25px; width: {percentage}%; background: #505050;"></div>
                    <p class="fz-11 text-gray">{total} ({percentage}%) - {if empresa == ''}OTROS{if:else}{empresa}{/if}</p>
                    {/exp:indicators:reclamos_por_empresa}

                    <div class="p-7">
                      <span class="pull-right fz-12"><a class="text-primary thin" href="{path='indicadores/reclamos_empresa/{member_id}'}">Toda la lista →</a></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-12 mb-14">
                  <div class="bg-white p-14 border-radius">
                    <h4 class="text-gray m-0 fz-16 mb-14">Reclamos por Zona</h4>
                    {exp:indicators:reclamos_por_zona}
                    <div class="mt-7" style="height: 25px; width: {percentage}%; background: #505050;"></div>
                    <p class="fz-11 text-gray">{total} ({percentage}%) - {if zona == ''}OTROS{if:else}{zona}{/if}</p>
                    {/exp:indicators:reclamos_por_zona}

                    <div class="p-7">
                      <span class="pull-right fz-12"><a class="text-primary thin" href="{path='indicadores/reclamos_zona/{member_id}'}">Toda la lista →</a></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    {embed=includes/radio-urbe}
    </div>
  {embed=includes/footer}
  <script src="{site_url}frontend/app/assets/js/collapse-control.js"></script>
</html>