{if logged_in}
  {redirect='wall'}
{/if}

{embed="includes/head" titulo="Mundoliderman - Login"}

<div class="site-wrapper"> <!-- Body -->
  <main class="registro pt-0-xs">
    <div style="background-image: url({site_url}frontend/app/assets/img/Registro.png)" class="hero-image-registro bg-img-block-center minhp-100">
      <div class="container-sm ph-0 hidden-sm hidden-xs">
        <div class="caja w-100 bg-white minhp-90 text-center p-42">
          <div class="row pt-42 ph-21">
            <div class="col-md-6 col-xs-offset-2 pr-0">
              <h1 class="title-login text-uppercase fz-40 text-gray-darker bold float-left pl-14">Mundo Liderman</h1>
            </div>
            <div class="col-md-2 pl-0 text-left pt-7"> 
              <img src="{site_url}frontend/app/assets/img/Liderboy.png" alt="Mundo Liderman" class="liderboy">
            </div>
          </div>
          {exp:member:login_form return="wall/{member_id}" form_class="text-right ph-42 mh-42 mt-42 pt-21"}
            <input type="text" name="username" placeholder="Ingresa tu Nombre y Apellido" class="usuario ph-14 serif fz-24 w-100 mb-35"></br>
            <input type="password" name="password" placeholder="Ingresa tu Contraseña" class="serif ph-14 fz-24 w-100 mb-42">
            <button type="submit" name="submit" class="submit btn btn-info ph-28 pv-7 mt-14 border-radius">
              <p class="sans-serif light le-2 fz-14 text-white float-left pt-14 lh-0 pr-21">INGRESAR</p>
              <img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt="">
            </button>
          {/exp:member:login_form}
          <!--<div class="mt-42 thin text-gray-darker fz-18">¿Eres fan de Liderman? Sé parte de <a href="{path='login/registro-fans'}" class="text-underline">la red</a></div>-->
        </div>
      </div>
      <div class="container-sm container-login ph-42 hidden-lg hidden-md">
        <div class="caja w-100 bg-white minhp-70 text-center p-42 pb-70">
          <div class="row pt-14 ph-7">
            <div class="col-xs-10 ph-0">
              <h1 class="title-login text-uppercase fz-26 text-gray-darker bold">Mundo Liderman</h1>
            </div>
            <div class="col-xs-2 ph-0 text-left pt-14"> 
              <img src="{site_url}frontend/app/assets/img/Liderboy.png" alt="Mundo Liderman" class="liderboy">
            </div>
          </div>
          {exp:member:login_form return="wall/{member_id}" form_class="text-right ph-14 mt-42"}
            <input type="text" name="username" placeholder="Ingresa tu Nombre" class="usuario ph-7 serif fz-16 w-100 mb-35 mt-14"></br>
            <input type="password" name="password" placeholder="Ingresa tu Contraseña" class="serif ph-7 fz-16 w-100 mb-42">
            <button type="submit" name="submit" class="submit btn btn-info w-100 ph-28 pv-7 mt-28 border-radius">
              <p class="sans-serif light le-2 fz-18 text-white display-ib pt-14 lh-0 pr-14">INGRESAR</p>
              <img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt="">
            </button>
          {/exp:member:login_form}
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>

{embed="includes/footer"}

<script>
  $(document).ready(function() {
    function validar(e) {
      var inputVal = String.fromCharCode(e.keyCode);
      var mensaje = document.getElementById("mensaje");
        var numericReg = /^[0-9\b]+$/;
      if(numericReg.test(inputVal) && e.keyCode != 8) {
        // mensaje.innerText = "No se puede ingresar numeros";
          e.preventDefault();
        }
        else {
          mensaje.innerText = "";;
          return;
        }
    }
    $('.usuario').keydown(function(e) {
        validar(e);
    });
  });
</script> 
</html>
