{if logged_in}
  {redirect='wall'}
{/if}

{embed="includes/head" titulo="Mundoliderman - Login"}

<div class="site-wrapper"> <!-- Body -->
  <main class="registro pt-0-xs">
    <div style="background-image: url({site_url}frontend/app/assets/img/Registro.png)" class="hero-image-registro bg-img-block-center minhp-100">
      <div class="container-sm ph-42-md">
        <div class="caja w-100 bg-white text-center p-42">
          <div class="pt-42 ph-21 text-center">
              <img src="{site_url}frontend/app/assets/img/mundo_liderman_logo.png" alt="Mundo Liderman" style="width:180px;">
          </div>
          {exp:member:login_form return="wall/{member_id}" form_class="text-right ph-42 mh-42 mt-42 pt-21 pb-42 mh-0-xs ph-0-xs hidden-xs hidden-sm"}
            <input type="text" name="username" placeholder="DNI o Usuario Liderman" class="usuario ph-14 serif fz-24 w-100 mb-35"></br>
            <input type="password" name="password" placeholder="Contraseña Liderman" class="serif ph-14 fz-24 w-100 mb-42">
            <button type="submit" name="submit" class="submit btn btn-info ph-28 pv-7-md pv-0-xs mt-14 border-radius">
              <p class="sans-serif light le-2 fz-14 text-white float-left pt-14 lh-0 pr-21">INGRESAR</p> 
              <img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt="">
            </button>
          {/exp:member:login_form}
          {exp:member:login_form return="wall/{member_id}" form_class="text-right ph-28 mt-42 hidden-md hidden-lg"}
            <input type="text" name="username" placeholder="DNI o Usuario Liderman" class="usuario ph-7 serif fz-16 w-100 mb-35 mt-14"></br>
            <input type="password" name="password" placeholder="Contraseña Liderman" class="serif ph-7 fz-16 w-100 mb-42">
            <button type="submit" name="submit" class="submit btn btn-info w-100 ph-28 pv-7 mt-28 border-radius">
              <p class="sans-serif light le-2 fz-18 text-white display-ib pr-14 m-0-xs pv-0 ph-7-xs">INGRESAR</p>
              <img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt="" class="mb-0">
            </button>
          {/exp:member:login_form}
          <!--<div class="mt-42 thin text-gray-darker fz-18">¿Eres fan de Liderman? Sé parte de <a href="{path='login/registro-fans'}" class="text-underline">la red</a></div>-->
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>

{embed="includes/footer"}
</html>
