{if logged_in}
  {redirect='login'}
{/if}

{embed="includes/head" titulo="Mundoliderman - Login"}

<div class="site-wrapper"> <!-- Body -->
  <main class="site-content registro pt-0-xs">
    <div class="bg-img-block-center minhp-100">
      <div class="container-sm ph-0 hidden-sm hidden-xs">
        <div class="caja w-100 minhp-90 text-center p-42">
          <div class="row ph-14">
            <div class="col-md-4 col-xs-offset-3 pr-0 pl-14">
              <h1 class="title-login text-uppercase fz-28 text-gray-darker bold float-left ph-0">Mundo Liderman</h1>
            </div>
            <div class="col-md-2 pl-0 text-left pt-7"> 
              <img src="{site_url}frontend/app/assets/img/Liderboy.png" alt="Mundo Liderman" class="liderboy" style="width:65px">
            </div>
            <div class="thin text-gray-darker col-xs-12 fz-15 mt-14 pr-35 pl-0">Tú también puedes ser parte de Mundo Liderman,<br>Ingresa tus datos para registrarte</div>
          </div>

          <form class="registro-fan text-right ph-42 mh-70 mt-28 clearfix relative" method="POST" action="{site_url}login/index">
            <!--Mensajes de Error-->
            <div class="error-nombre absolute"></div>
            <div class="error-apellido absolute"></div>
            <div class="error-email absolute"></div>
            <div class="error-password absolute"></div>
          	<div class="error-confirmacion absolute"></div>
            <!-- -->
            <div class="col-md-6 pl-0 pr-7"><input type="text" id="nombre" data-id="0" name="nombre" class="input-registro ph-14 w-100 pv-7 thin serif fz-16" placeholder="Nombre"></div>
            <div class="col-md-6 pr-0 pl-7"><input type="text" id="apellido" data-id="1" name="apellido" class="input-registro ph-14 w-100 pv-7 thin serif fz-16" placeholder="Apellido"></div>
            <input type="text" id="email" data-id="2" name="email" placeholder="mail@example.com" class="input-registro w-100 ph-14 pv-7 thin serif fz-16 mt-14">
            <input type="password" id="password" data-id="3" name="password" placeholder="Contraseña" class="input-registro w-100 ph-14 pv-7 thin serif fz-16 mt-14">
            <input type="password" id="confirmacion" data-id="4" name="confirmacion" placeholder="Confirmar contraseña" class="input-registro w-100 ph-14 pv-7 thin serif fz-16 mt-14">
            <div id="upfile" class="relative text-white bg-gray-light text-center col-md-4 border-radius mv-28 pv-7" style="cursor:pointer">
            	Subir foto
            	
            </div>
            <input type="file" id="up-photo" class="ebm-overlay absolute w-100" style="display:none">
            <button type="submit" name="submit" class="submit btn btn-info w-100 text-center ph-28 pv-7 mt-14" style="border-radius:2px">
              <p class="sans-serif thin fz-16 text-white pt-14 lh-0 pr-21">Crear Cuenta</p>
            </button>
        </form>
      </div>
    </div>
  </main>
  <footer></footer>
</div>
{embed="includes/footer"}
<script>
	/*Subir foto de perfil*/
	$("#upfile").click(function(){
		$('#up-photo').click();
	});

	/*Validacion formulario*/

	$(document).ready(function() {
    function validar(e, inputName, divError, img, imgValido) {
      var inputVal = String.fromCharCode(e.keyCode);
      var numericReg = /^[0-9\b]+$/;
      // var numericRegEmail = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      var numberInput = $(inputName).data("id");
      if(numericReg.test(inputVal) && e.keyCode != 8) {
          e.preventDefault();
          $(divError).html(imgValido);
        }
      else if($('.input-registro').keypress){
        if((e.which == 13) && ($(inputName).val() == "")){
            e.preventDefault();
            $(divError).html(img);
          }else if ((e.which == 13) && ($(inputName).val() != "")) {
            e.preventDefault();
            $(divError).empty();
            $('.input-registro')[numberInput+1].focus();  
            return;
          }
      }
      else {
        $(divError).empty();
        return;
      }
    }
    $('#nombre').keydown(function(e) {
        validar(e, "#nombre", ".error-nombre", '<img src="{site_url}frontend/app/assets/img/globos/nombre.png">', '<img src="{site_url}frontend/app/assets/img/globos/nombre-valido.png">');
    });
    $('#apellido').keydown(function(e) {
        validar(e, "#apellido", ".error-apellido", '<img src="{site_url}frontend/app/assets/img/globos/apellido.png">', '<img src="{site_url}frontend/app/assets/img/globos/apellido-valido.png">');
    });

    function validarEmail(e, inputName, divError, img, imgInvalid) {
      var inputVal = $(inputName).val();
      var numericRegEmail = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;


      if((e.which == 13) && (inputVal != "")) {
        e.preventDefault();
        var numberInput = $(inputName).data("id");
        if(!numericRegEmail.test(inputVal) ) {
          $(divError).html(imgInvalid);
        }
        else {
          $(divError).empty();
          $('.input-registro')[numberInput+1].focus(); 
          return;
        }
      } else if( (e.which == 13) && ($(inputName).val() == "")) {
          e.preventDefault();
          $(divError).html(img);
        }
      else {
        $(divError).empty();
        return;
      }
    }
    $('#email').keydown(function(e) {
      validarEmail(e, "#email", ".error-email", '<img src="{site_url}frontend/app/assets/img/globos/email.png">', '<img src="{site_url}frontend/app/assets/img/globos/email_valido.png">');
    });


    function validarPassword(e, inputName, divError, img, imgInvalid) {
      var inputVal = $(inputName).val();
      var numberInput = $(inputName).data("id");
      if((e.which == 13) && (inputVal != "")) {
        e.preventDefault();
        if(inputVal.length < 4) {
          $(divError).html(imgInvalid);
          (divError).html("error");
          console.log("Hola");
        }
        else {
          $(divError).empty();
          $('.input-registro')[numberInput+1].focus(); 
          return;
        }
      } else if( (e.which == 13) && ($(inputName).val() == "")) {
          e.preventDefault();
          $(divError).html(img);
        }
      else {
        $(divError).empty();
        return;
      }
    }
    $('#password').keydown(function(e) {
        validarPassword(e, "#password", ".error-password", '<img src="{site_url}frontend/app/assets/img/globos/password.png">', '<img src="{site_url}frontend/app/assets/img/globos/password-min.png">');
      });

    function validarConfirmacion(e, inputName, divError, img, imgInvalid) {
      var inputVal = $(inputName).val();

      if((e.which == 13) && (inputVal != "")) {
        e.preventDefault();
        var numberInput = $(inputName).data("id");
        if(inputVal != $("#password").val()) {
            $(divError).html(imgInvalid);
          }
          else {
            $(divError).empty();
            $('.input-registro')[numberInput+1].focus(); 
            return;
          }
      } else if( (e.which == 13) && ($(inputName).val() == "")) {
          e.preventDefault();
          $(divError).html(img);
        }
      else {
        $(divError).empty();
        return;
      }
    }
    $('#confirmacion').keydown(function(e) {
      validarConfirmacion(e, "#confirmacion", ".error-confirmacion", '<img src="{site_url}frontend/app/assets/img/globos/confirmation.png">', '<img src="{site_url}frontend/app/assets/img/globos/same-password.png">');
      });
  });
</script>
</html>