{embed="includes/header"}
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content pb-42 mb-0-xs">
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          <div class="contenedor-menu bg-white pt-35 ph-42">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h2 class="active-slide fz-20 text-gray-dark2 m-0 pt-14 pb-21">Servicios <img src="assets/img/FlechaHerman.png" alt="" class="pl-42"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="">
                      <ul class="p-0 pv-ch-7 light">
                        <li><a href="lidernet.html" class="text-gray-dark2">Lidernet</a></li>
                        <li><a href="lidermania.html" class="text-gray-dark2">Lidermanía</a></li>
                        <li><a href="prestamos.html" class="text-gray-dark2">Préstamos</a></li>
                        <li><a href="tareo.html" class="text-gray-dark2">Tareo</a></li>
                        <li><a href="lidercard.html" class="text-gray-dark2">LíderCard</a></li>
                        <li><a href="capacitaciones.html" class="text-gray-dark2">Capacitaciones</a></li>
                        <li><a href="boleta.html" class="text-gray-dark2">Boletas de Pago</a></li>
                        <li><a href="sgi.html" class="text-gray-dark2">SGI</a></li>
                        <li><a href="#.html" class="text-gray-dark2">Tienda</a></li>
                        <li class="pv-21 btn-especial">
                          <h3 class="m-0"><a href="estadisticas.html" class="fz-20 text-gray-dark2 text-hover-gray">Para administradores</a></h3>
                          <span>Estadísticas Lidernet</span>
                        </li>
                        <li class="pv-21 btn-especial">
                          <h3 class="m-0"><a href="" class="fz-20 text-gray-dark2 text-hover-gray">Para zonales</a></h3>
                          <span>Reportes</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {exp:user:edit}
        <section id="perfil-contenido" class="col-md-8 pb-42 pl-21 pr-28 ph-7-xs">
          <div class="container pt-42 w-100 pb-42 mb-42 ph-0">
            <div class="perfil-servicios clearfix bg-white pv-21 ph-21 ph-7-xs hidden-lg hdden-md">
              <div class="col-md-4 pr-0 pt-21 pl-0-xs">
                <div style="background-image:url({photo_url})" class="bg-img-block-center"></div>
              </div>
              <div class="col-md-8 ph-0 pt-14 hidden-lg hdden-md">
                <h3 class="text-primary book m-0 display-ib pr-14 fz-35 pr-0-xs">{screen_name}</h2> 
                <h4 class="text-gray fz-21 m-0 pt-7 pb-14 book">Supervisor, Zona - Unidad</h4>
                <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
                <span class="light fz-20">Empresa Empleadora</span>
              </div>
            </div>
            <div class="formulario">
              <form class="fz-18">
                <div class="row mb-42">
                  <div class="col-md-5 pr-0 hidden-xs hdden-sm">
                    <div style="background-image:url({photo_url})" class="bg-img-block-center brp-100"></div>
                  </div>
                  <div class="col-md-7 pl-28 pt-14 ph-21-xs pt-0-xs">
                    <h3 class="text-primary book m-0 display-ib pr-14 fz-30 hidden-xs hdden-sm">{screen_name}</h3> 
                    <h4 class="text-gray fz-16 m-0 pt-7 book hidden-xs hdden-sm">Supervisor</h4>
                    <textarea class="fz-16 p-14 w-100 mt-21 serif minhp-20 lh-1-5" onkeyup="auto_grow(this)" placeholder="Este puede ser texto de Introducción del Liderman para que la gente sepa quién es esa persona. Lorem ipsum dolor sit amet, consectetur."></textarea>
                  </div>
                </div>
                Dirección:<br>
                <textarea type="text" name="direccion" onkeyup="auto_grow(this)" class="minh-70 w-100 mb-28 p-14"></textarea>
                <br>
                Intereses:<br>
                <textarea type="text" name="intereses" onkeyup="auto_grow(this)" class="minh-70 w-100 p-14"></textarea>
                <button class="btn btn-enviar btn-perfil text-white text-hover-white br-none ph-21 thin ls-2 mt-42">
                  <span>PUBLICAR</span>
                  <img src="{site_url}frontend/app/assets/img/Flecha_Publicar.png" alt="" class="pl-14">
                </button>
              </form>
            </div>
          </div>
        </section>
        {/exp:user:edit} 
      </div>
    </main>
    {embed="includes/radio-urbe"}
  </div>
{embed="includes/footer"} 