<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <title>Mundo Liderman - Perfil Editable</title>
  <meta name="description" content="">
  <meta name="keywords" content=""> 
  <meta name="author" content="@MadeByGus">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="assets/img/Favicon.png" />
  <link rel="shortcut icon" href="assets/img/Favicon.png">
  <link href="assets/css/style.css" rel="stylesheet"> <!-- App styles -->
  <link href="assets/css/ebm.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  
  <div class="site-wrapper"> <!-- Body -->
    <header class="site-menu bg-white">
      <div class="w-100 fixed bg-white">
        <div class="container-md minh-70 clearfix ph-0 pv-14 ph-21">
          <div class="logo col-md-4 pl-0 hidden-xs hidden-sm">  
            <a href="index.html">
              <div class="col-md-9 text-left ph-0 pt-14">
                <h1 class="text-uppercase bold text-gray-darker m-0">Mundo liderman</h1>
              </div>
              <div class="col-md-2 ph-0">
                <img src="assets/img/Liderboy.png" alt="Mundo Liderman" class="liderboy">
              </div>
            </a>
          </div>
          <div class="col-md-4 pr-0 hidden-xs hidden-sm">
            <form class="tool-bar-search-form mt-7 br-5">
              <div class="input-group pr-0 ">
                <input type="text" id="search_bar" class="form-control input-sm thin pl-14 borderless display-ib" placeholder="Buscar personas, consultas o preguntas...">
                <img src="assets/img/Icono_Buscar.png" alt="" class="display-ib">
              </div>
            </form>
          </div>
          <div class="col-md-4 text-center pr-0 pl-28 hidden-xs hidden-sm">
            <div class="col-md-5"><p class="mt-14 mb-0 border-right-gray-light pr-14 text-right"><a href="" class="text-gray book fz-16">Ir al inicio</a></p></div>
            <div class="col-md-7 text-right ph-0">
              <p class="text-gray-dark m-0 mt-14 light float-left pr-7 fz-16">Hola, Herman</p>
              <div class="perfil float-left" style="background-image: url(assets/img/Carita.png)"></div>
              <div class="dropdown herman-dropdown">
                <button class="bg-white dropdown-toggle b-none outline-none text-gray-light book serif" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <a href="" class="pl-7"><img src="assets/img/FlechaHerman.png" alt="" class="mt-14"></a>
                </button>
                <ul class="dropdown-menu mt-0 b-none fz-14" aria-labelledby="dropdownMenu1">
                  <li class="triangulo"></li>
                  <li><a href="perfil.html" class="lh-1">Mi Perfil</a></li>
                  <li><a href="#" class="lh-1">Estadísticas</a></li>
                  <li><a href="login.html" class="lh-1">Salir</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix hidden-lg hidden-md"><!--movil-->
            <div class="logo pt-14 pb-7 col-xs-8 ph-0">
              <h1 class="text-uppercase bold text-gray-darker m-0 fz-22 display-ib">Mundo liderman</h1>
              <img src="assets/img/Liderboy.png" alt="Mundo Liderman" class="liderboy">
            </div>
            <div class="col-xs-4 ph-0 pl-7">
              <div class="btn-menu relative pv-7 ph-14">
                <p class="text-gray-darker fz-17 mb-0 sans-serif display-ib pr-42">MENÚ</p>
                <p class="text-gray-darker fz-17 mb-0 sans-serif display-ib pr-42 hidden">CERRAR</p>
                <div class="switch display-ib">
                  <div class="menu-toggle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="site-content pb-42 mb-0-xs">
      <div class="overlay-menu ebm-overlay w-100 minhp-100 fixed bg-white hidden-lg hidden-md ph-35">
        <div class="clearfix pt-42 pb-28">
          <div style="background-image:url(assets/img/Herman_Profile_Pic.png)" class="perfil-menu bg-img-block-center brp-100 float-left"></div>
          <div class="float-left pt-21 pl-21">
            <p class="sans-serif fz-15 light lh-1 mb-0">Hola</p>
            <p class="sans-serif fz-22">Herman Marín</p>
          </div>
        </div>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="index.html">Ir al Inicio</a></p>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="perfil-editable">Editar Perfil</a></p>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="estadisticas.html">Ver estadísticas</a></p>
        <p class="sans-serif fz-22 mb-14 text-gray-dark"><a href="login.html">Salir</a></p>
        <form action="" class="pt-28">
          <select name="" id="" class="w-100 mb-14 ph-14">
            <option value="" class="w-100">Lidernet</option>
            <option value="" class="w-100">Lidermanía</option>
            <option value="" class="w-100">Préstamos</option>
            <option value="" class="w-100">Tareo</option>
            <option value="" class="w-100">LiderCard</option>
            <option value="" class="w-100">Capacitaciones</option>
            <option value="" class="w-100">Boleta de Pago</option>
            <option value="" class="w-100">SGI</option>
          </select>
          <input type="text" id="search_bar" class="form-control input-sm fz-18 light ph-14" placeholder="Buscar personas, consultas o preguntas...">
        </form>
      </div>
      <div class="alerta bg-primary p-7 text-white pv-14-xs">
        <div class="container-md ph-21 ph-14-xs clearfix">
          <img src="assets/img/Icono_Atencion.png" alt="" class="hidden-xs hidden-sm">
          <span class="m-0 pl-7 light fz-14 hidden-xs hidden-sm">Esta sección es solo para alertas del sistema y de la administración</span>
          <div class="col-xs-1 ph-0 hidden-lg hidden-md"><img src="assets/img/Icono_Atencion.png" alt=""></div>
          <span class="col-xs-10 m-0 pl-7 lh-1-5 light fz-17 hidden-lg hidden-md">Esta sección es solo para alertas del sistema y de la administración</span>
        </div>
      </div>
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix">
        <section id="menu-vertical" class="col-md-4 pr-42 pl-0 hidden-xs hdden-sm">
          <div class="contenedor-menu bg-white pt-35 ph-42">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title m-0">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h2 class="active-slide fz-20 text-gray-dark2 m-0 pt-14 pb-21">Servicios <img src="assets/img/FlechaHerman.png" alt="" class="pl-42"></h2>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="">
                      <ul class="p-0 pv-ch-7 light">
                        <li><a href="lidernet.html" class="text-gray-dark2">Lidernet</a></li>
                        <li><a href="lidermania.html" class="text-gray-dark2">Lidermanía</a></li>
                        <li><a href="prestamos.html" class="text-gray-dark2">Préstamos</a></li>
                        <li><a href="tareo.html" class="text-gray-dark2">Tareo</a></li>
                        <li><a href="lidercard.html" class="text-gray-dark2">LíderCard</a></li>
                        <li><a href="capacitaciones.html" class="text-gray-dark2">Capacitaciones</a></li>
                        <li><a href="boleta.html" class="text-gray-dark2">Boletas de Pago</a></li>
                        <li><a href="sgi.html" class="text-gray-dark2">SGI</a></li>
                        <li><a href="#.html" class="text-gray-dark2">Tienda</a></li>
                        <li class="pv-21 btn-especial">
                          <h3 class="m-0"><a href="estadisticas.html" class="fz-20 text-gray-dark2 text-hover-gray">Para administradores</a></h3>
                          <span>Estadísticas Lidernet</span>
                        </li>
                        <li class="pv-21 btn-especial">
                          <h3 class="m-0"><a href="" class="fz-20 text-gray-dark2 text-hover-gray">Para zonales</a></h3>
                          <span>Reportes</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="perfil-contenido" class="col-md-8 pb-42 pl-21 pr-28 ph-7-xs">
          <div class="container pt-42 w-100 pb-42 mb-42 ph-0">
            <div class="perfil-servicios clearfix bg-white pv-21 ph-21 ph-7-xs hidden-lg hdden-md">
              <div class="col-md-4 pr-0 pt-21 pl-0-xs">
                <div style="background-image:url(assets/img/Herman_Profile_Pic.png)" class="bg-img-block-center"></div>
              </div>
              <div class="col-md-8 ph-0 pt-14 hidden-lg hdden-md">
                <h3 class="text-primary book m-0 display-ib pr-14 fz-35 pr-0-xs">Herman Marín</h2> 
                <h4 class="text-gray fz-21 m-0 pt-7 pb-14 book">Supervisor, Zona - Unidad</h4>
                <img src="assets/img/Ubicacion.png" alt="" class="pb-4">
                <span class="light fz-20">Empresa Empleadora</span>
              </div>
            </div>
            <div class="formulario">
              <form class="fz-18">
                <div class="row mb-42">
                  <div class="col-md-5 pr-0 hidden-xs hdden-sm">
                    <div style="background-image:url(assets/img/Herman_Profile_Pic.png)" class="bg-img-block-center brp-100"></div>
                  </div>
                  <div class="col-md-7 pl-28 pt-14 ph-21-xs pt-0-xs">
                    <h3 class="text-primary book m-0 display-ib pr-14 fz-30 hidden-xs hdden-sm">Herman Marín</h3> 
                    <h4 class="text-gray fz-16 m-0 pt-7 book hidden-xs hdden-sm">Supervisor</h4>
                    <textarea class="fz-16 p-14 w-100 mt-21 serif minhp-20 lh-1-5" onkeyup="auto_grow(this)" placeholder="Este puede ser texto de Introducción del Liderman para que la gente sepa quién es esa persona. Lorem ipsum dolor sit amet, consectetur."></textarea>
                  </div>
                </div>
                Dirección:<br>
                <textarea type="text" name="direccion" onkeyup="auto_grow(this)" class="minh-70 w-100 mb-28 p-14"></textarea>
                <br>
                Intereses:<br>
                <textarea type="text" name="intereses" onkeyup="auto_grow(this)" class="minh-70 w-100 p-14"></textarea>
                <button class="btn btn-enviar btn-perfil text-white text-hover-white br-none ph-21 thin ls-2 mt-42">
                  <span>PUBLICAR</span>
                  <img src="assets/img/Flecha_Publicar.png" alt="" class="pl-14">
                </button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="w-100">
        <div id="up" class="text-center">
          <a href=""><img src="assets/img/Flecha-para-arriba.png" alt=""></a>
        </div>
        <div class="container pt-21 pb-42"> 
          <div class="row">
            <div class="col-md-9 col-xs-12 pl-0">
              <div class="col-md-1 col-xs-2 pl-0 text-right"><img src="assets/img/Wall/Icono_Senal.png" alt="" class="antena"></div>
              <div class="col-md-8 col-xs-9 p-0">
                <h5 class="text-uppercase m-0">AHORA EN VIVO</h5>
                <h4 class="text-uppercase m-0 text-white fz-22">La hora del vigilante</h4>
                <p class="text-gray-lighter m-0 fz-12">Con Giselle Collao. Lunes a Viernes de 9 a 11 pm</p>
              </div>
            </div> 
            <div class="col-md-3 pr-35 text-right">
              <a href=""><img class="pt-14 volumen" src="assets/img/Wall/Icono_Volumen.png" alt=""></a> 
            </div>
          </div>
          <div class="descripcion row pt-14 pb-42">
            <div class="col-md-6 hidden-xs hidden-sm">
              <img src="assets/img/Wall/RadioUrbe.png" alt="">
            </div>
            <div class="col-md-6 col-xs-12 pl-42">
              <ul class="lista text-white pt-7 ml-14">
                <li class="text-white">
                  <h2 class="fz-1">URBE AL DÍA</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">ESPACIO IMSOMNIO</h2>
                  <p class="text-gray-lighter">Escucha lo mejor del rock peruano. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">LA HORA DE LÍDERMAN PARA EL MUNDO</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">LIDERMANÍA</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">CAPACITACIONES</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="assets/js/scripts.min.js"></script>
  <script src="assets/js/b3/dropdown.js"></script>
  <script src="assets/js/b3/collapse.js"></script>
  <script src="assets/js/scroll-control.js"></script>
  <script src="assets/js/textarea-control.js"></script>
  <script src="assets/js/menu-movil-control.js"></script>
  <script src="assets/js/collapse-control.js"></script>
</html>