{embed="includes/header"}
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content clearfix pb-42">
      <section id="menu-vertical" class="col-md-4 pr-42 pl-0">
        <div class="contenedor-menu border-right-gray-light border-bottom-gray-light pt-35">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title m-0">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2 class="active-slide fz-28 text-gray-dark2 m-0 pt-14 pb-21">Servicios <img src="{site_url}frontend/app/assets/img/FlechaHerman.png" alt="" class="pl-21"></h2>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="">
                    <ul class="p-0">
                      <li class="pv-7"><a href="{path='sprint1/lidernet'}" class="text-gray-dark2">Lidernet</a></li>
                      <li class="pv-7"><a href="{path='sprint1/lidermania'}" class="text-gray-dark2">Lidermanía</a></li>
                      <li class="pv-7"><a href="{path='sprint1/prestamo'}" class="text-gray-dark2">Préstamos</a></li>
                      <li class="pv-7"><a href="{path='sprint1/tareo'}" class="text-gray-dark2">Tareo</a></li>
                      <li class="pv-7"><a href="{path='sprint1/lidercard'}" class="text-gray-dark2">LíderCard</a></li>
                      <li class="pv-7"><a href="{path='sprint1/capacitacion'}" class="text-gray-dark2">Capacitaciones</a></li>
                      <li class="pv-7"><a href="{path='sprint1/boleta'}" class="text-gray-dark2">Boletas de Pago</a></li>
                      <li class="pv-7"><a href="{path='sprint1/sgi'}" class="text-gray-dark2">SGI</a></li>
                      <li class="pv-7"><a href="#.html" class="text-gray-dark2">Tienda</a></li>
                      <li class="pv-21 btn-especial">
                        <h3 class="m-0"><a href="" class="fz-24 text-gray-dark2 text-hover-gray">Para administradores</a></h3>
                        <span>Estadísticas Lidernet</span>
                      </li>
                      <li class="pv-21 btn-especial">
                        <h3 class="m-0"><a href="" class="fz-24 text-gray-dark2 text-hover-gray">Para zonales</a></h3>
                        <span>Reportes</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="tareo-contenido" class="col-md-8 pb-42">
        <div class="container pt-42 w-100 pr-42">
          <div class="perfil-servicios clearfix bg-white pv-21 pl-42">
            <div class="col-md-4 pr-0">
              <div style="background-image:url({site_url}frontend/app/assets/img/Herman_Profile_Pic.png)" class="bg-img-block-center"></div>
            </div>
            <div class="col-md-7 pl-28 pt-21">
              <h3 class="text-warning book m-0">Herman Marín</h2>
              <h4 class="text-gray fz-16 m-0 pt-7 book">Supervisor, Zona - Unidad</h4>
              <img src="{site_url}frontend/app/assets/img/Ubicacion.png" alt="" class="pb-4">
              <span class="light">Empresa Empleadora</span>
              <p class="fz-12 pt-21">Este puede ser texto de Introducción del Liderman para que la gente sepa quién es esa persona.</br>Periodo en la Planilla: DD/MM/AA</p>
            </div>
            <div class="col-md-1 ph-0">
              <a href="{path='sprint1/edit_profile'}">
                <span class="fz-12 text-gray light">Editar</span>
                <img src="{site_url}frontend/app/assets/img/Icono_Editar.png" alt="">
              </a>
            </div>
          </div>
		    	{exp:friends:status_form return="{path='sprint1/wall'}" form_id="comentar" form_class="bg-white mt-42"}
		      <div class="publicacion clearfix">
		        <div class="border-bottom-gray-lighter pr-21 pv-7">
		          <div class="dropdown text-right">
		            <select name="status_category" id="" class="btn bg-white dropdown-toggle b-none outline-none text-gray-light book serif">
		              {exp:status_category:all}
		              <option value="{category_id}">{category_name}</option>
									{/exp:status_category:all}
		            </select>
		          </div>
		        </div>
		        <div class="ph-21">
		          <textarea name="friends_status" class="form-control outline-none serif fz-18 borderless" rows="3" placeholder="Qué estás pensando..."  maxlength="512"></textarea>
		        </div>
		      </div>
		      <div class="buttons-group pv-14 lh-0 pl-35 bg-success clearfix">
		        <div class="col-md-6">
		          <a href=" "><img src="{site_url}frontend/app/assets/img/Icono_Foto.png" alt=""></a>
		          <a id="uploadImage" href=""><span class="text-white thin fz-12">Subir imagen</span></a>
		          <input type="file" id="inputFile" name="status_image" class="hidden" accept="image">
		        </div>
		        <div class="col-md-6 text-right pr-35">
		          <button type="submit" name="submit" class="btn bg-white text-success text-hover-success fz-12 ph-21">
		           PUBLICAR
		           <img src="{site_url}frontend/app/assets/img/Globito.png" alt="" class="pl-14">
		          </button>
		        </div>
		      </div>
					{/exp:friends:status_form}
		      {exp:friends:status member_id="CURRENT_USER"}
		          <div id="post">
		            <div class="post-1 post bg-white pl-28 pr-42 pt-28 pb-28 mt-42">
		              <div class="row">
		                <div class="col-md-1 pr-0 pl-7">
		                  <div class="img-perfil bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Herman_Profile_Pic.png)"></div>
		                </div>
		                <div class="name col-md-11">
		                  <div class="info-usuario pl-7 row">
		                    <div class="col-md-9">
		                      <span class="categoria text-uppercase fz-10 text-primary letter-spacing-1.5">{friends_category_name}</span>
		                      <span class="fz-10 text-gray-dark pl-7"><a href="">editar</a></span>
		                      <h5 class="text-gray-darker m-0">{friends_screen_name}</h5>
		                      <p class="fz-10 m-0 text-gray"><a href="">Hace 3 horas</a></p>
		                    </div>
		                    <div class="col-md-3 text-center">
		                    </div>
		                  </div>
		                  <p class="parrafo pt-14 ph-7 text-gray-darker">{friends_status}</p>
		                  {if friends_image}
		                  <div class="img-publicacion w-100 pl-7"><img src="{site_url}{friends_image}" alt=""></div>
		                  {/if}
		                  <div class="clearfix ph-0 mh-7 thin text-gray pt-21 pb-7 border-bottom-gray-light fz-12">
		                    <ul class="col-md-6 ph-0 mv-0">
		                      <li class="pr-7 display-ib">
		                        <a href="">Comentar &nbsp</a>
		                        <img src="{site_url}frontend/app/assets/img/Icono_Comentar.png" alt="">
		                      </li>
		                      <li class="display-ib pl-14">
		                        <a href="">Me gusta &nbsp</a>
		                        <img src="{site_url}frontend/app/assets/img/me_gusta.png" alt="">
		                      </li>
		                    </ul>
		                    <ul class="col-md-6 ph-0 mv-0 text-right">
		                      <li class="display-ib">
		                        <a href="">2 &nbsp</a>
		                        <img src="{site_url}frontend/app/assets/img/Icono_Corazon.png" alt="">
		                      </li>
		                      <li class="display-ib pl-7">
		                        <a href="" class="comment text-not-underline">&nbsp 24 comentarios &nbsp</a>
		                      </li>
		                    </ul>
		                  </div>
		                  <div class="comentar scroll-down clearfix pt-21 hidden">
		                    <div class="col-md-1">
		                      <img src="{site_url}frontend/app/assets/img/Wall/Carita2.png" alt="">
		                    </div>
		                    <div class="col-md-11 lh-1">
		                      <div>
		                        <span class="fz-12 text-success pr-7">Cecilia Ramírez</span>
		                        <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
		                        <span class="text-gray fz-10 light">Ivo Sadner</span>
		                        <span class="text-gray fz-10 light pl-7">hace 9 días</span>
		                        <p class="fz-10 pt-7 mb-0">Lorem ipsum door sit amet!</p>
		                        <span class="fz-8 text-gray-light">1</span>
		                        <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6">
		                        <span class="fz-8 text-gray-light">|</span>
		                        <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6 rotate-180">
		                        <span class="responder text-gray-dark book fz-8 light pl-7"><a href="">Responder</a></span>
		                        <span class="text-gray-dark book fz-8 light pl-7"><a href="">Compartir</a></span>
		                      </div>
		                      <div class="respuesta clearfix pt-21 hidden">
		                        <div class="col-md-1 pl-0">
		                          <img src="{site_url}frontend/app/assets/img/Wall/Carita2.png" alt="">
		                        </div>
		                        <div class="col-md-11 pl-7">
		                          <span class="fz-12 text-success pr-7">Ivo Sadner</span>
		                          <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
		                          <span class="text-gray fz-10 light">Cecilia Ramírez</span>
		                          <span class="text-gray fz-10 light pl-7">hace 9 días</span>
		                          <p class="fz-10 pt-7 mb-0">Lorem ipsum door sit amet!</p>
		                          <span class="fz-8 text-gray-light">1</span>
		                          <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6">
		                          <span class="fz-8 text-gray-light">|</span>
		                          <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6 rotate-180">
		                          <span class="text-gray-dark book fz-8 light pl-7"><a href="" class="responder">Responder</a></span>
		                          <span class="text-gray-dark book fz-8 light pl-7"><a href="">Compartir</a></span>
		                        </div>
		                      </div>
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		          {/exp:friends:status}
            <!--<div class="post-2 post bg-white pl-28 pr-42 pt-28 pb-28 mt-42">
              <div class="row">
                <div class="col-md-1 pr-0 pl-7">
                  <div class="img-perfil bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Herman_Profile_Pic.png)"></div>
                </div>
                <div class="name col-md-11">
                  <div class="info-usuario pl-7 row">
                    <div class="col-md-9">
                      <span class="categoria text-uppercase fz-10 text-primary letter-spacing-1.5">Tengo una solicitud</span>
                      <h5 class="text-gray-darker m-0">Herman Marín</h5>
                      <p class="fz-10 m-0 text-gray"><a href="">Hace 3 horas</a></p>
                    </div>
                    <div class="col-md-3 text-center">
                    </div>
                  </div>
                  <p class="parrafo pt-14 ph-7 text-gray-darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem corrupti optio sed facilis omnis perferendis dolores vero qui illo, beatae velit suscipit tempora iure molestias nisi earum sunt fugit.</p>
                  <div class="clearfix ph-0 mh-7 thin text-gray pt-7 pb-7 border-bottom-gray-light fz-12">
                    <ul class="col-md-6 ph-0 mv-0">
                      <li class="pr-7 display-ib">
                        <a href="">Comentar &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Comentar.png" alt="">
                      </li>
                      <li class="display-ib pl-14">
                        <a href="">Me gusta &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/me_gusta.png" alt="">
                      </li>
                    </ul>
                    <ul class="col-md-6 ph-0 mv-0 text-right">
                      <li class="display-ib">
                        <a href="">2 &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Corazon.png" alt="">
                      </li>
                      <li class="display-ib pl-7">
                        <a href="" class="comment text-not-underline">&nbsp 24 comentarios &nbsp</a>
                      </li>
                    </ul>
                  </div>
                  <div class="comentar scroll-down clearfix pt-21 hidden">
                    <div class="col-md-1">
                      <img src="{site_url}frontend/app/assets/img/Wall/Carita2.png" alt="">
                    </div>
                    <div class="col-md-11 lh-1">
                      <div>
                        <span class="fz-12 text-success pr-7">Cecilia Ramírez</span>
                        <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
                        <span class="text-gray fz-10 light">Ivo Sadner</span>
                        <span class="text-gray fz-10 light pl-7">hace 9 días</span>
                        <p class="fz-10 pt-7 mb-0">Lorem ipsum door sit amet!</p>
                        <span class="fz-8 text-gray-light">1</span>
                        <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6">
                        <span class="fz-8 text-gray-light">|</span>
                        <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6 rotate-180">
                        <span class="responder text-gray-dark book fz-8 light pl-7"><a href="">Responder</a></span>
                        <span class="text-gray-dark book fz-8 light pl-7"><a href="">Compartir</a></span>
                      </div>
                      <div class="respuesta clearfix pt-21 hidden">
                        <div class="col-md-1 pl-0">
                          <img src="{site_url}frontend/app/assets/img/Wall/Carita2.png" alt="">
                        </div>
                        <div class="col-md-11 pl-7">
                          <span class="fz-12 text-success pr-7">Ivo Sadner</span>
                          <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
                          <span class="text-gray fz-10 light">Cecilia Ramírez</span>
                          <span class="text-gray fz-10 light pl-7">hace 9 días</span>
                          <p class="fz-10 pt-7 mb-0">Lorem ipsum door sit amet!</p>
                          <span class="fz-8 text-gray-light">1</span>
                          <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6">
                          <span class="fz-8 text-gray-light">|</span>
                          <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6 rotate-180">
                          <span class="text-gray-dark book fz-8 light pl-7"><a href="" class="responder">Responder</a></span>
                          <span class="text-gray-dark book fz-8 light pl-7"><a href="">Compartir</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </section>
    </main>
    {embed="includes/radio-urbe"}
  </div>
{embed="includes/footer"} 