    <footer>
      <div class="w-100 pt-28-xs">
        <div id="up" class="text-center">
          <a href=""><img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt=""></a>
        </div>
        <div class="container pt-21 pb-42"> 
          <div class="row">
            <div class="col-md-9 col-xs-12 pl-0">
              <div class="col-md-1 col-xs-2 pl-0 text-right"><img src="{site_url}frontend/app/assets/img/Wall/Icono_Senal.png" alt="" class="antena"></div>
              <div class="col-md-8 col-xs-9 p-0">
                <h5 class="text-uppercase m-0">AHORA EN VIVO</h5>
                <h4 class="text-uppercase m-0 text-white fz-22">La hora del vigilante</h4>
                <p class="text-gray-lighter m-0 fz-12">Con Giselle Collao. Lunes a Viernes de 9 a 11 pm</p>
              </div>
            </div> 
            <div class="col-md-3 pr-35 text-right">
              <a href=""><img class="pt-14 volumen" src="{site_url}frontend/app/assets/img/Wall/Icono_Volumen.png" alt=""></a> 
            </div>
          </div>
          <div class="descripcion row pt-14 pb-42 pb-0-xs">
            <div class="col-md-6 hidden-xs hidden-sm">
              <img src="{site_url}frontend/app/assets/img/Wall/RadioUrbe.png" alt="">
            </div>
            <div class="col-md-6 col-xs-12 pl-42">
              <ul class="lista text-white pt-7 ml-14">
                <li class="text-white">
                  <h2 class="fz-1">URBE AL DÍA</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">ESPACIO IMSOMNIO</h2>
                  <p class="text-gray-lighter">Escucha lo mejor del rock peruano. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1 lh-1-3">LA HORA DE LÍDERMAN PARA EL MUNDO</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">LIDERMANÍA</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
                <li>
                  <h2 class="fz-1">CAPACITACIONES</h2>
                  <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>