{embed="includes/head" titulo="Solicitud de Miembros"}
  
  <div class="site-wrapper"> <!-- Body -->
    {embed="includes/nav-main"}
    <main class="site-content pb-42 mb-42-xs">
      {embed=includes/menu-movil}
      {embed=includes/banner-alerta}
      <div class="box-gray bg-gray-darker w-100 hidden-lg hdden-md"></div>
      <div class="container-md clearfix">
        <section class="col-md-12 pb-42">
          <div class="container pt-42 w-100 ph-0">
            {embed=includes/perfil-servicios}
            {embed=includes/semaforo-movil}
            <div class="boleta">
              <h2 class="fz-30 border-bottom-gray pb-7 pt-21 text-gray-darker">Solicitudes por aprobar</h2>
              <div class="datos bg-white minh-140 pv-42 ph-35 mt-42 ph-14-xs pv-28-xs">
                <div class="ph-14 clearfix ph-7-xs">
                  {exp:friends:group_form 
                    return="manage_members/{friends_group_id}" 
                    notification_approve="friends_notifications/group_accept" 
                    subject_approve="{friends_owner_screen_name} has accepted you into their group"}
                    <h4>{friends_group_title}{if friends_group_private == "y"} (private){/if}</h4>
                    <p>{friends_group_description}
                    <input type="hidden" name="friends_group_name" value="{friends_group_name}" />
                    <input type="hidden" name="friends_group_title" value="{friends_group_title}" />
                    <input type="hidden" name="friends_group_description" value="{friends_group_description}" />
                    <input type="hidden" name="friends_group_private" value="{friends_group_private}" /></p>
                    <ul>
                      {requests}
                      <li>
                        <input type="checkbox" name="friends_member_id[]" id="{friends_member_id}" value="{friends_member_id}" {if friends_member_id == member_id} checked {/if} /> 
                        <label for="{friends_member_id}" style="width: auto;">{friends_screen_name}</label>
                      </li>
                      {/requests}
                    </ul>
                    <p><input type="submit" name="submit" value="Aprobar" class="btn btn-enviar text-white text-hover-white br-none thin" />
                  {/exp:friends:group_form}  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {embed="includes/radio-urbe"}
  </div>
  {embed=includes/footer}
</html>