<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <title>Mundo Liderman</title>
  <meta name="description" content="">
  <meta name="keywords" content=""> 
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{site_url}frontend/app/assets/img/Favicon.png" />
  <link rel="shortcut icon" href="{site_url}frontend/app/assets/img/Favicon.png">
  <link href="{site_url}frontend/app/assets/css/style.css" rel="stylesheet"> <!-- App styles -->
  <link href="{site_url}frontend/app/assets/css/ebm.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  
  <div class="site-wrapper"> <!-- Body -->
    <header class="site-menu bg-white">
      <div class="container minh-70 ph-0 pt-14 pb-7 bg-white">
        <div class="logo col-md-4 pl-0">  
          <a href="index.html">
            <div class="col-md-8 text-left ph-0 pt-14">
              <h1 class="text-uppercase bold text-gray-darker m-0">Mundo liderman</h1>
            </div>
            <div class="col-md-2 ph-0">
              <img src="{site_url}frontend/app/assets/img/Liderboy.png" alt="Mundo Liderman">
            </div>
          </a>
          <div class="col-md-2">  </div>
        </div>
        <div class="col-md-4 pl-42 pr-21">
          <form class="tool-bar-search-form mt-7 br-5">
            <div class="input-group pr-0 ">
              <input type="text" id="search_bar" class="form-control input-sm thin pl-14 borderless display-ib" placeholder="Buscar personas, consultas o preguntas...">
              <img src="{site_url}frontend/app/assets/img/Icono_Buscar.png" alt="" class="display-ib">
            </div>
          </form>
        </div>
        <div class="col-md-4 text-center ph-0">
          <div class="col-md-6"><p class="mt-14 mb-0 border-right-gray-light pr-14 text-right"><a href="" class="text-gray book fz-18 lh-0">Ir al inicio</a></p></div>
          <div class="col-md-6 text-right ph-0">
            <h5 class="text-gray-dark m-0 mt-14 light float-left pr-7 fz-18">Hola, Herman</h5>
            <div class="perfil float-left" style="background-image: url({site_url}frontend/app/assets/img/Carita.png)"></div>
            <div class="dropdown herman-dropdown">
              <button class="bg-white dropdown-toggle b-none outline-none text-gray-light book serif" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <a href="" class="pl-7"><img src="{site_url}frontend/app/assets/img/FlechaHerman.png" alt="" class="mt-14"></a>
              </button>
              <ul class="dropdown-menu mt-0 b-none fz-14" aria-labelledby="dropdownMenu1">
                <li class="triangulo"></li>
                <li><a href="{site_url}frontend/app/perfil-editable.html" class="lh-1">Editar Perfil</a></li>
                <li><a href="#" class="lh-1">Estadísticas</a></li>
                <li><a href="#" class="lh-1">Salir</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="alerta bg-warning p-7 ph-35 text-white">
        <div class="container pl-0">
          <img src="{site_url}frontend/app/assets/img/Icono_Atencion.png" alt="">
          <span class="m-0 pl-7 light fz-14">Esta sección es solo para alertas del sistema y de la administración</span>
        </div>
      </div>
    </header>
    <main class="site-content pb-70" role="main">
      <div class="container container-index  pt-42 clearfix mb-70 ph-0">
        <div id="box-left" class="col-md-8 pl-0">

		  {exp:friends:status_form return="{path='sprint1/wall'}" form_id="comentar" form_class="bg-white"}
          <!--<form id="comentar" class="bg-white" action="">-->
            <div class="publicacion clearfix">
              <div class="border-bottom-gray-lighter pr-21 pv-7">
                <div class="dropdown text-right">
                  <!--<button class="btn bg-white dropdown-toggle b-none outline-none text-gray-light book serif" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Escoge una categoría
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu mt-0 b-none fz-14" aria-labelledby="dropdownMenu1">
                    <li class="triangulo"></li>
                    <li><a href="#">Quiero divertirme</a></li>
                    <li><a href="#">Quiero dar mi testimonio</a></li>
                    <li><a href="#">Tengo una solicitud</a></li>
                    <li><a href="#">Tengo una consulta</a></li>
                    <li><a href="#">Necesito ayuda</a></li>
                    <li><a href="#">Otro</a></li>
                  </ul>-->
                  <select name="status_category" id="" class="btn bg-white dropdown-toggle b-none outline-none text-gray-light book serif">
                    <option value="0" >Escoge una categoría</option>
                  	<option value="1">Quiero divertirme</option>
                  	<option value="2">Quiero dar mi testimonio</option>
                  	<option value="3">Tengo una solicitud</option>
                  	<option value="4">Tengo una consulta</option>
                  	<option value="5">Necesito ayuda</option>
                  	<option value="6">Otro</option>
                  </select>
                </div>
              </div>
              <div class="ph-21">
                <textarea name="friends_status" class="form-control outline-none serif fz-18 borderless" rows="3" placeholder="Qué estás pensando..."></textarea>
              </div>
            </div>
            <div class="buttons-group pv-14 lh-0 pl-35 bg-success clearfix">
              <div class="col-md-6">
                <a href=" "><img src="{site_url}frontend/app/assets/img/Icono_Foto.png" alt=""></a>
                <a id="uploadImage" href=""><span class="text-white thin fz-12">Subir imagen</span></a>
                <input type="file" id="inputFile" name="status_image" class="hidden" accept="image">
              </div>
              <div class="col-md-6 text-right pr-35">
                <button type="submit" name="submit" class="btn bg-white text-success text-hover-success fz-12 ph-21">
                 PUBLICAR
                 <img src="{site_url}frontend/app/assets/img/Globito.png" alt="" class="pl-14">
                </button>
              </div>
            </div>
          <!--</form>-->
		  {/exp:friends:status_form}

		  {exp:friends:status member_id="CURRENT_USER"}
		  <section id="post">
            <div class="post-1 post bg-white ph-21 pt-28 pb-28 mt-42">
              <div class="clearfix">
                <div class="col-md-1 ph-0 pl-7">
                  <div class="img-perfil bg-img-block-center brp-100" style="background-image: url(assets/img/Wall/Cara-1.png)"></div>
                </div>
                <div class="name col-md-11 pl-21">
                  <div class="info-usuario pl-7 row">
                    <div class="col-md-9">
                      <span class="categoria text-uppercase fz-10 text-primary letter-spacing-1.5">Tengo una consulta</span>
                      <h5 class="text-gray-darker m-0">{friends_screen_name}</h5>
                      <p class="fz-10 m-0 text-gray"><a href="">Hace 3 horas. {friends_status_date format="%F %j, %Y"}</a></p>
                    </div>
                    <div class="col-md-3 text-center">
                      <div class="aviso btn-aviso1 mh-21 bg-info">
                        <div class="circle-green bg-white display-ib"></div>
                        <h5 class="text-white thin m-0 display-ib pl-7 pv-7 fz-14">Resuelto</h5>
                      </div>
                      <div class="aviso btn-aviso2 mh-14 ph-7 bg-warning hidden">
                        <div class="circle-green bg-white display-ib"></div>
                        <h5 class="text-white thin m-0 display-ib pl-7 pv-7 fz-14">No resuelto</h5>
                      </div>
                    </div>
                  </div>
                  <p class="parrafo pt-14 ph-7 text-gray-darker">{friends_status}</p>
				  {if friends_image}
				  <div class="pv-21 mh-7 bg-img-block-center w-100 minh-280" style="background-image:url({site_url}{friends_image})"></div>
				  {/if}
                  <div class="clearfix ph-0 mh-7 thin text-gray pt-7 pb-7 border-bottom-gray-lighter fz-12">
                    <ul class="col-md-6 ph-0 mv-0">
                      <li class="pr-7 display-ib">
                        <a href="">Comentar &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Comentar.png" alt="">
                      </li>
                      <li class="display-ib pl-14">
                        <a href="">Me gusta &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/me_gusta.png" alt="">
                      </li>
                    </ul>
                    <ul class="col-md-6 ph-0 mv-0 text-right">
                      <li class="display-ib">
                        <a href="">2 &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Corazon.png" alt="">
                      </li>
                      <li class="display-ib pl-7">
                        <a href="" class="comment text-not-underline">&nbsp 24 comentarios &nbsp</a>
                      </li>
                    </ul>
                  </div>
                  <div class="comentar scroll-down clearfix pt-21 hidden">
                    <div class="col-md-1 pr-0">
                      <div class="img-respuesta bg-img-block-center brp-100" style="background-image: url(assets/img/Wall/Carita2.png)"></div>
                    </div>
                    <div class="col-md-11 lh-1">
                      <div>
                        <span class="fz-14 text-success pr-7">Cecilia Ramírez</span>
                        <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
                        <span class="text-gray fz-10 light">Ivo Sadner</span>
                        <span class="text-gray fz-10 light pl-7">hace 9 días</span>
                        <p class="fz-10 pt-7 mb-0 pb-7 parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem corrupti optio sed facilis omnis perferendis dolores vero qui illo, beatae velit suscipit tempora iure molestias nisi earum sunt fugit.</p>
                        <span class="fz-8 text-gray-light">1</span>
                        <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6">
                        <span class="fz-8 text-gray-light">|</span>
                        <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6 rotate-180">
                        <span class="responder text-gray-dark book fz-10 light pl-7"><a href="">Responder</a></span>
                        <span class="text-gray-dark book fz-10 light pl-7"><a href="">Compartir</a></span>
                      </div>
                      <div class="respuesta clearfix pt-21 hidden">
                        <div class="col-md-1 pl-0">
                          <div class="img-respuesta bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Wall/Carita2.png)"></div>
                        </div>
                        <div class="col-md-11 pl-7">
                          <span class="fz-14 text-success pr-7">Ivo Sadner</span>
                          <img src="{site_url}frontend/app/assets/img/forward.png" alt="" class="display-ib">
                          <span class="text-gray fz-10 light">Cecilia Ramírez</span>
                          <span class="text-gray fz-10 light pl-7">hace 9 días</span>
                          <p class="fz-10 pt-7 mb-0 pb-7 parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem corrupti optio sed facilis omnis perferendis dolores vero qui illo, beatae velit suscipit tempora iure molestias nisi earum sunt fugit.</p>
                          <span class="fz-8 text-gray-light">1</span>
                          <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6">
                          <span class="fz-8 text-gray-light">|</span>
                          <img src="{site_url}frontend/app/assets/img/Flecha_Abajo.png" alt="" class="w-6 rotate-180">
                          <span class="text-gray-dark book fz-10 light pl-7"><a href="" class="responder">Responder</a></span>
                          <span class="text-gray-dark book fz-10 light pl-7"><a href="">Compartir</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          {/exp:friends:status}

			<!--
            <div class="post-2 post bg-white ph-21 pt-28 pb-28 mt-42">
              <div class="clearfix">
                <div class="col-md-1 ph-0 pl-7">
                  <div class="img-perfil bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Wall/Cara-2.png)"></div>
                </div>
                <div class="name col-md-11 pl-21">
                  <div class="info-usuario pl-7 row">
                    <div class="col-md-9">
                      <span class="categoria text-uppercase fz-10 text-primary letter-spacing-1.5">Quiero divertirme</span>
                      <h5 class="text-gray-darker m-0">Santiago López</h5>
                      <p class="fz-10 m-0 text-gray"><a href="">Hace 3 horas</a></p>
                    </div>
                    <div class="col-md-3 text-center">
                    
                    </div>
                  </div>
                  <p class="parrafo pt-14 ph-7 text-gray-darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem corrupti optio sed facilis omnis perferendis dolores vero qui illo, beatae velit suscipit tempo iure moles nisi earum sunt fugit.</p>
                  <div class="pv-21 mh-7 bg-img-block-center w-100 minh-280" style="background-image:url({site_url}frontend/app/assets/img/Wall/Foto3.png)"></div>
                  <div class="clearfix ph-0 mh-7 thin text-gray pt-28 pb-7 border-bottom-gray-lighter fz-12">
                    <ul class="col-md-6 ph-0 mv-0">
                      <li class="pr-7 display-ib">
                        <a href="">Comentar &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Comentar.png" alt="">
                      </li>
                      <li class="display-ib pl-14">
                        <a href="">Me gusta &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/me_gusta.png" alt="">
                      </li>
                    </ul>
                    <ul class="col-md-6 ph-0 mv-0 text-right">
                      <li class="display-ib">
                        <a href="">3 &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Corazon.png" alt="">
                      </li>
                      <li class="like display-ib pl-7">
                        <a href="">&nbsp 24 comentarios &nbsp</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-3 post bg-white ph-21 pt-28 pb-28 mt-42">
              <div class="clearfix">
                <div class="col-md-1 ph-0 pl-7">
                  <div class="img-perfil bg-img-block-center brp-100" style="background-image: url({site_url}frontend/app/assets/img/Wall/Cara-1.png)"></div>
                </div>
                <div class="name col-md-11 pl-21">
                  <div class="info-usuario pl-7 row">
                    <div class="col-md-9">
                      <span class="categoria text-uppercase fz-10 text-primary letter-spacing-1.5">Tengo una solicitud</span>
                      <h5 class="text-gray-darker m-0">Javier Cadilla</h5>
                      <p class="fz-10 m-0 text-gray"><a href="">Hace 3 horas</a></p>
                    </div>
                    <div class="col-md-3 text-center">
                      <div class="aviso btn-aviso1 mh-21 bg-info hidden">
                        <div class="circle-green bg-white display-ib"></div>
                        <h5 class="text-white thin m-0 display-ib pl-7 pv-7 fz-14">Resuelto</h5>
                      </div>
                      <div class="aviso btn-aviso2 mh-14 ph-7 bg-warning">
                        <div class="circle-green bg-white display-ib"></div>
                        <h5 class="text-white thin m-0 display-ib pl-7 pv-7 fz-14">No resuelto</h5>
                      </div>
                    </div>
                  </div>
                  <p class="parrafo pt-14 ph-7 text-gray-darker">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quidem corrupti optio sed facilis omnis perferendis dolores vero qui illo, beatae velit suscipit tempora iure molestias nisi earum sunt fugit.</p>
                  <div class="clearfix ph-0 mh-7 thin text-gray pt-7 pb-7 border-bottom-gray-lighter fz-12">
                    <ul class="col-md-6 ph-0 mv-0">
                      <li class="pr-7 display-ib">
                        <a href="">Comentar &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/Icono_Comentar.png" alt="">
                      </li>
                      <li class="display-ib pl-14">
                        <a href="">Me gusta &nbsp</a>
                        <img src="{site_url}frontend/app/assets/img/me_gusta.png" alt="">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>-->

        </div>
        <div id="box-right" class="col-md-4 pl-42 pr-0">
          <div class="noticia ml-42">
            <img src="{site_url}frontend/app/assets/img/Wall/Noticias1.png" alt="">
            <div class="nota bg-white minhp-30 ph-21 pv-14 border-bottom-gray-light">
              <span class="text-uppercase text-primary fz-10">NOTICIA</span>
              <h5 class="text-uppercase mt-0 fz-14 text-gray-dark2">Conoce a la unidad lotería matríz</h5>
              <p class="fz-12 text-gray-darker">Lorem ipsum dolor sit amet, conse adipisicing elit. Illum eius sequi molestias.</p>
              <p class="read text-right text-primary book fz-10"><a href="">Leer más &#8594</a></p>
            </div>
          </div>
          <div class="noticia mt-35 ml-42">
            <img src="{site_url}frontend/app/assets/img/Wall/Noticias2 .png" alt="">
            <div class="nota bg-white minhp-30 ph-21 pv-14 border-bottom-gray-light">
              <span class="text-uppercase text-primary fz-10">EVENTOS</span>
              <h5 class="text-uppercase mt-0 fz-14 text-gray-dark2">Mira los saludos de líderman a las madres en su día</h5>
              <p class="fz-12 text-gray-darker">Lorem ipsum dolor sit amet, conse adipisicing elit. Illum eius sequi molestias.</p>
              <p class="read text-right text-primary book fz-10"><a href="">Leer más &#8594</a></p>
            </div>
          </div>
          <div class="noticia mt-35 ml-42
          ">
            <img src="{site_url}frontend/app/assets/img/Wall/Noticias3.png" alt="">
            <div class="nota bg-white minhp-30 ph-21 pv-14 border-bottom-gray-light">
              <span class="text-uppercase text-primary fz-10">BLOG</span>
              <h5 class="text-uppercase mt-0 fz-14 text-gray-dark2">Simulacro de sismo este 05 de junio, prepárate para el evento</h5>
              <p class="fz-12 text-gray-darker">Lorem ipsum dolor sit amet, conse adipisicing elit. Illum eius sequi molestias.</p>
              <p class="read text-right text-primary book fz-10"><a href="">Leer más &#8594</a></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="w-100 fixed">
      <div id="up" class="text-center">
        <a href=""><img src="{site_url}frontend/app/assets/img/Flecha-para-arriba.png" alt=""></a>
      </div>
      <div class="container pt-21 pb-42"> 
        <div class="row">
          <div class="col-md-9 pl-0">
            <div class="col-md-1 pl-0 text-right"><img src="{site_url}frontend/app/assets/img/Wall/Icono_Senal.png" alt="" class="antena"></div>
            <div class="col-md-8 p-0">
              <h5 class="text-uppercase m-0">AHORA EN VIVO</h5>
              <h4 class="text-uppercase m-0 text-white fz-22">La hora del vigilante</h4>
              <p class="text-gray-lighter m-0 fz-12">Con Giselle Collao. Lunes a Viernes de 9 a 11 pm</p>
            </div>
          </div> 
          <div class="col-md-3 pr-35 text-right">
            <a href=""><img class="pt-14 volumen" src="{site_url}frontend/app/assets/img/Wall/Icono_Volumen.png" alt=""></a> 
          </div>
        </div>
        <div class="descripcion row pt-14 pb-42">
          <div class="col-md-6">
            <img src="{site_url}frontend/app/assets/img/Wall/RadioUrbe.png" alt="">
          </div>
          <div class="col-md-6 pl-42">
            <ul class="lista text-white pt-7 ml-14">
              <li class="text-white">
                <h2 class="fz-1">URBE AL DÍA</h2>
                <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
              </li>
              <li>
                <h2 class="fz-1">ESPACIO IMSOMNIO</h2>
                <p class="text-gray-lighter">Escucha lo mejor del rock peruano. Lunes a Viernes de 10am a 11am</p>
              </li>
              <li>
                <h2 class="fz-1">LA HORA DE LÍDERMAN PARA EL MUNDO</h2>
                <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
              </li>
              <li>
                <h2 class="fz-1">LIDERMANÍA</h2>
                <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
              </li>
              <li>
                <h2 class="fz-1">CAPACITACIONES</h2>
                <p class="text-gray-lighter">Con Mauricio Calvo Pérez. Lunes a Viernes de 10am a 11am</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="{site_url}frontend/app/assets/js/jquery.min.js"></script> <!-- App scripts -->
  <script src="{site_url}frontend/app/assets/js/scripts.min.js"></script>
  <script src="{site_url}frontend/app/assets/js/b3/dropdown.js"></script>
  <script src="{site_url}frontend/app/assets/js/scroll-control.js"></script>
  <script src="{site_url}frontend/app/assets/js/aviso-control.js"></script>
  <script>
  	$(document).ready(function() {
  		$("#uploadImage").on("click", function(e) {
  			e.preventDefault();
  			$("#inputFile").trigger("click");
  		});

  		$("#comentar").attr("enctype", "multipart/form-data");
  	});
  </script>
</html>
