{exp:capacitaciones:load_contenidos capacitacion="{segment_3}" page="{segment_4}"}
  <div class="contenido">
    {if "{nombre}" != ""}
      <h3 class="mt-7">{nombre}</h3>
    {/if}
    {if "{descripcion}" != ""}
      <p class="text-justify">{descripcion}</p>
    {/if}
    {if "{video_id}" != ""}
    <div class="video hidden-xs hidden-sm">
      <iframe src="https://www.youtube.com/embed/{video_id}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video visible-xs visible-sm">
      <iframe src="https://www.youtube.com/embed/{video_id}" width="310" height="195" frameborder="0" allowfullscreen></iframe>
    </div>
    {/if}
    {if "{file_path}" != ""}
    <div class="archivo text-center mt-14">
      <div>
        <a class="btn-capacitacion file-btn" href='{exp:util:parameter name="s3_path"}{file_path}' data-filepath='{exp:util:parameter name="s3_path"}{file_path}' data-nombre="{nombre}">Ver Archivo</a>
      </div>
    </div>
    {/if}
    <div class="controls" style="{if "{prev_page}" != "" || "{next_page}" != "" } min-height: 35px; {/if}">
      {if "{prev_page}" != ""}
      <a class="btn-page prev" href="{site_url}ajax-text/contenido/{segment_4}/{prev_page}">Anterior</a>
      {/if}
      
      {if "{next_page}" != ""}
      <a class="btn-page next" href="{site_url}ajax-text/contenido/{segment_4}/{next_page}">Siguiente</a>
      {/if}
    </div>
  </div>
{/exp:capacitaciones:load_contenidos}