<div class="ph-14">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptas laborum voluptatem, quia recusandae error officiis dolorem quis pariatur deserunt debitis quos hic dicta modi quo corporis nam omnis possimus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptas laborum voluptatem, quia recusandae error officiis dolorem quis pariatur deserunt debitis quos hic dicta modi quo corporis nam omnis possimus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptas laborum voluptatem, quia recusandae error officiis dolorem quis pariatur deserunt debitis quos hic dicta modi quo corporis nam omnis possimus.</p>
  <div class="text-right">
    <a href="" class="back text-primary text-hover-primary pl-7 fz-12 hidden-xs hidden-sm">&larr; Regresar</a>
  </div>
</div>