{exp:channel:categories category_group="3" style="linear"}
{if category_id == segment_3}
<h3 class="fz-18 text-gray-darker pl-7 mt-14">{category_name}</h3>
{/if}
{/exp:channel:categories}
<div class="texto-ajax">
  <ul class="texto-lider pl-42 serif fz-16 clearfix pl-28-xs pt-21-xs">
    {exp:channel:entries channel="ama_crece" dynamic="no" category="{segment_3}"}
    <li class="col-md-10 text-gray-darker">{title}</li>
    <span class="more-lidermania col-md-2 fz-12  pr-0 hidden-xs hidden-sm" data-entry-id="{entry_id}"><a href="" class=" text-primary thin ">Leer más &rarr;</a></span>
    {/exp:channel:entries}
  </ul>
</div>